Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Annotate methods with AllowedOnAttribute
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
  src/GraphQL.DataLoader/GraphQL.DataLoader.csproj
  src/GraphQL.MicrosoftDI/DynamicScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/DynamicScopedSourceStreamResolver.cs
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
  src/GraphQL/CodeAnalysis/NotAGraphTypeAttribute.cs
Labels: none

revert unneeded annotations
  src/GraphQL.MicrosoftDI/DynamicScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/DynamicScopedSourceStreamResolver.cs
Labels: none

Annotate FieldType properties with AllowedOnAttribute
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: none

Update
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
Labels: test

Updates
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
Labels: test

Update new docs
  docs2/site/docs/guides/dataloader.md
Labels: documentation

Remove using
  src/GraphQL/Builders/FieldBuilder.cs
Labels: none

Fix NotAGraphType tests
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
Labels: none

Add data loader overloads to MicrosoftDI resolver builders (#3868)
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
Labels: test, documentation

Adopt the ResolverAnalyzer and tests to AllowdOnAttribute
  src/GraphQL.Analyzers.CodeFixes/ResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
Labels: none

Remove AllowedOnAttribute usages from FieldType properties
  src/GraphQL/Types/Fields/FieldType.cs
Labels: none

Rename ResolverAnalyzer to AllowedOnAnalyzer
  src/GraphQL.Analyzers.CodeFixes/AllowedOnCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AllowedOnAnalyzerTests.cs
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
Labels: none

Rename IllegalMethodOrPropertyUsage to IllegalMethodUsage
  src/GraphQL.Analyzers.CodeFixes/AllowedOnCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AllowedOnAnalyzerTests.cs
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
Labels: none

Update
  src/GraphQL.Analyzers.Tests/AllowedOnAnalyzerTests.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
Labels: none

AddUnhandledExceptionHandler
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/getting-started/errors.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: test, documentation

Null checks
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: test

Updates
  docs2/site/docs/getting-started/errors.md
Labels: documentation

update Docs
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql012.md
  docs2/site/sitemap.yml
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
  src/GraphQL.sln
Labels: documentation

update
  src/GraphQL.Analyzers.CodeFixes/AllowedOnCodeFixProvider.cs
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
Labels: none

update
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
Labels: none

revert
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
Labels: test, documentation

Revert "revert"
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
Labels: test, documentation

update docs
  docs2/site/docs/analyzers/gql012.md
Labels: documentation

Add 'AddUnhandledExceptionHandler' builder extension method (#3882)
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/getting-started/errors.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: test, documentation

AllowedOnAttribute to force correct FieldBuilder methods usage (#3878)
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql012.md
  docs2/site/sitemap.yml
  src/GraphQL.Analyzers.CodeFixes/AllowedOnCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AllowedOnAnalyzerTests.cs
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
  src/GraphQL.DataLoader/GraphQL.DataLoader.csproj
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.sln
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
  src/GraphQL/CodeAnalysis/NotAGraphTypeAttribute.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Add an introduction version to analyzers documentation
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql011.md
Labels: documentation

Update docs with sample
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Validation/IVariableVisitorProvider.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: documentation

Update docs
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: none

Fix docs relative links
  docs2/site/docs/getting-started/directives.md
  docs2/site/docs/getting-started/field-middleware.md
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/guides/known-issues.md
Labels: documentation

fix links
  docs2/site/docs/guides/known-issues.md
Labels: documentation

update
  docs2/site/docs/guides/known-issues.md
Labels: documentation

Fix docs relative links (#3884)
  docs2/site/docs/getting-started/directives.md
  docs2/site/docs/getting-started/field-middleware.md
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/guides/known-issues.md
Labels: documentation

Add Regex directive and DirectiveAttribute
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/Visitors/PatternMatchingVisitorTests.cs
  src/GraphQL/Attributes/DirectiveAttribute.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Types/Directives/Custom/PatternMatchingDirective.cs
  src/GraphQL/Utilities/Visitors/Custom/PatternMatchingVisitor.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: test, documentation

Update
  docs2/site/docs/migrations/migration8.md
  src/GraphQL/Types/Directives/Custom/PatternMatchingDirective.cs
  src/GraphQL/Utilities/Visitors/Custom/PatternMatchingVisitor.cs
Labels: documentation

Update
  src/GraphQL.Tests/Utilities/Visitors/PatternMatchingVisitorTests.cs
  src/GraphQL/Types/Directives/Custom/PatternMatchingDirective.cs
Labels: test

Update
  src/GraphQL/Utilities/Visitors/Custom/PatternMatchingVisitor.cs
Labels: none
