Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Fix xml docs
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
  src/GraphQL.NewtonsoftJson/JsonSerializerSettings.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Extensions/ObservableExtensions.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
  src/GraphQL/Types/TypeInformation.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/ValidationOptions.cs
Labels: test

revert ValidateAsync
  src/GraphQL/Validation/ValidationOptions.cs
Labels: none

fix
  src/GraphQL/Types/TypeInformation.cs
Labels: none

Fix xml docs (#3752)
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
  src/GraphQL.NewtonsoftJson/JsonSerializerSettings.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Extensions/ObservableExtensions.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
  src/GraphQL/Types/TypeInformation.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
Labels: test

FieldArgumentAnalyzer
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL.sln
Labels: documentation

cleanup
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
Labels: documentation

cleanup
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
Labels: none

Cleanup
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
Labels: documentation

FieldArgumentAnalyzer (#3755)
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL.sln
Labels: documentation

Add input resolver
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: test

Update
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Reformat
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Update api approvals
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: none

Update
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
Labels: none

Update src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
Labels: test

Update src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
Labels: test

Add 'map' and 'type' to field builder
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: none

Update
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: none

Update
  src/GraphQL/Builders/FieldBuilder.cs
Labels: none

Record data-loader execution time within Apollo Tracing results (#3691)
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
Labels: test

Update src/GraphQL/Types/Scalars/ComplexScalarGraphType.cs
  src/GraphQL/Types/Scalars/ComplexScalarGraphType.cs
Labels: none

Add tests for spec issues
  src/GraphQL.Tests/Bugs/SpecIssues.cs
Labels: test

Update
  src/GraphQL.Tests/Bugs/SpecIssues.cs
Labels: test

AwaitableResolverAnalyzer
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Add tests for spec issues (#3762)
  src/GraphQL.Tests/Bugs/SpecIssues.cs
Labels: test

AwaitableResolverCodeFixProvider
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/Extensions.cs
Labels: none

GQL009 documentation
  docs2/site/docs/analyzers/GQL009_UseAsyncResolver.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.sln
Labels: documentation

constants
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
Labels: none

cleanup
  src/GraphQL.Analyzers/Extensions.cs
Labels: none

sort usings
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
Labels: none

cleanups
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
Labels: none

Analyzers/awaitable resolver analyzer (#3763)
  docs2/site/docs/analyzers/GQL009_UseAsyncResolver.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL.sln
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: documentation

Stabilize Apollo tracing test
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
Labels: test

Stabilize Apollo tracing test (#3765)
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
Labels: test

Require graphtype for ToObject
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Bug956.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Execution/DirectiveInfo.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: test, documentation

Update
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
Labels: test

Update notes
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
Labels: test

Consume analyzers by the sample project
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
Labels: none

Update src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
Labels: none
