Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

Update field names
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update for required properties
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test, documentation

Add ToObject benchmarks
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Properties/launchSettings.json
Labels: performance

Fix caching and add tests
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
Labels: test

Update
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
Labels: test

Update
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.New.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphTypeHelper.cs
Labels: none

Updates
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Extensions/ObjectExtensions.New.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Add struct
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Extensions/ObjectExtensions.New.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: test

Update benchmarks
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
Labels: performance

Update benchmarks
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
Labels: performance

Updates
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
  src/GraphQL/Extensions/ObjectExtensions.New.cs
Labels: performance

Update GetPropertyValueTyped
  src/GraphQL/Extensions/ObjectExtensions.New.cs
Labels: none

Update comment
  src/GraphQL/Extensions/ObjectExtensions.New.cs
Labels: none

Bump parser to 8.4.2
  src/GraphQL/GraphQL.csproj
Labels: none

Update apiapprovals
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: none

Fix document caching and add tests (#3810)
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
Labels: test

Bump parser to 8.4.2 (#3811)
  src/GraphQL/GraphQL.csproj
Labels: none

Add analyzer pages to the sitemap
  docs2/site/sitemap.yml
Labels: documentation

Add analyzer pages to the sitemap (#3816)
  docs2/site/sitemap.yml
Labels: documentation

Docs file names should be all lower case
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql011.md
  docs2/site/docs/analyzers/overview_temp.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
Labels: documentation

Rename overview_temp.md back to overview.md
  docs2/site/docs/analyzers/overview.md
  src/GraphQL.sln
Labels: documentation

Docs file names should be all lower case (#3817)
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql011.md
  docs2/site/docs/analyzers/overview.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
Labels: documentation

Fix analyzers help links
  src/GraphQL.Analyzers/AnalyzerReleases.Shipped.md
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
Labels: none

Ensure read-only fields cannot be set by ToObject
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test

Update docs
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Fix analyzers help links (#3818)
  src/GraphQL.Analyzers/AnalyzerReleases.Shipped.md
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
Labels: none

Fix relative urls
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation

Try fix relative urls (#3819)
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation

Another try to fix relative urls
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation

Another try to fix relative urls (#3820)
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation

Misc doc fixes
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation

Misc doc fixes (#3821)
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation

Update
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Optimize constructor.Invoke
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Fix GQL009 fix formatting
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
Labels: none

Add ObjectExtensions.GetReflectionInformation (#3804)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: test, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*
