Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Update
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
Labels: test

Update
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
Labels: none

Fix source paths for CallerFilePath
  .github/workflows/test-code.yml
Labels: CI

Fix source paths for CallerFilePath (#3787)
  .github/workflows/test-code.yml
Labels: CI

AutoRegisteringInputObjectGraphType includes certain read-only properties (#3782)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: test, documentation

Configure trim analyzer only for .NET 6+ projects
  src/Directory.Build.targets
Labels: none

Ensure only public properties are registered
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: test

Configure trim analyzer only for .NET 6+ projects (#3788)
  src/Directory.Build.targets
Labels: none

Ensure only public properties are registered in AutoRegisteringObjectGraphType (#3789)
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: test

Add .NET 8 testing
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: test

Update
  src/GraphQL.Tests/Bugs/Issue3233.cs
Labels: test

Add .NET 8 testing (#3790)
  src/GraphQL.Tests/Bugs/Issue3233.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: test

Assert that the context is not null
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
Labels: none

Make IDataLoaderContextAccessor.Context non-null
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/IDataLoaderContextAccessor.cs
Labels: none

Remove Debug.Assert and replace with a throw helper
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
Labels: none

Update src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
Labels: none

Annotate generic parameters with NotAGraphTypeAttribute
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeConstraintAnalyzer.cs
  src/GraphQL/Attributes/NotAGraphTypeAttribute.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/DataLoader/IDataLoaderResult.cs
  src/GraphQL/Types/AutoSchema.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: none

Ooops
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeConstraintAnalyzer.cs
Labels: none

Always set DataLoaderContext in DataLoaderDocumentListener
  src/GraphQL.DataLoader/DataLoaderDocumentListener.cs
Labels: none

More [NotAGraphType]
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/AuthorizationExtensions.cs
Labels: none

Implement NotAGraphTypeAnalyzer
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
  src/GraphQL/Extensions/AuthorizationExtensions.cs
  src/GraphQL/Types/IProvideMetadata.cs
Labels: none

cleanup
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: none

Use consts
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
Labels: none

Support generic type parameters
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
Labels: none

Format
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
Labels: none

GQL011 docs
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL011_MustNotBeConvertibleToGraphType.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.sln
Labels: documentation

Fix docs
  docs2/site/docs/analyzers/GQL011_MustNotBeConvertibleToGraphType.md
Labels: documentation

Fix docs
  docs2/site/docs/analyzers/GQL011_MustNotBeConvertibleToGraphType.md
Labels: documentation

Run ApiApprovals test to update data
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
Labels: none

NotAGraphTypeAttribute analyzer (#3795)
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL011_MustNotBeConvertibleToGraphType.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
  src/GraphQL.sln
  src/GraphQL/Attributes/NotAGraphTypeAttribute.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/DataLoader/IDataLoaderResult.cs
  src/GraphQL/Types/AutoSchema.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
Labels: documentation

InputGraphTypeAnalyzer choose constructor by the same rules used in runtime
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
Labels: none

comment
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
Labels: none

use const
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
Labels: none

InputGraphTypeAnalyzer choose constructor by the same rules used in runtime (#3799)
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
Labels: none

Make IDataLoaderContextAccessor.Context non-null (#3792)
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL.DataLoader/IDataLoaderContextAccessor.cs
Labels: none

Dispose IEnumerator
  src/GraphQL/Types/Scalars/ComplexScalarGraphType.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: none

Add ComplexScalarGraphType (#3257)
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
  src/GraphQL.Tests/Types/ComplexScalarGraphTypeTests.cs
  src/GraphQL/Types/Scalars/ComplexScalarGraphType.cs
  src/GraphQL/Utilities/Federation/AnyScalarGraphType.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: test, documentation

Initial code generation
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.Analyzers.Tests/InputObjectParserGeneratorTests.cs
  src/GraphQL.Analyzers.Tests/VerifiersExtensions/AnalyzerTestInitializer.cs
  src/GraphQL.Analyzers.Tests/VerifiersExtensions/CSharpCodeFixVerifier.cs
  src/GraphQL.Analyzers.Tests/VerifiersExtensions/CSharpSourceGeneratorVerifier.cs
  src/GraphQL.Analyzers/Helpers/GeneratorConstants.cs
  src/GraphQL.Analyzers/InputObjectParserGenerator.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: none

Add ObjectExtensions.GetReflectionInformation
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: test, documentation

Use reflection caching
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none
