Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.Tests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*

Optimize TrimGraphQLTypes (#2146)
  src/GraphQL.Benchmarks/Benchmarks/ToCamelCaseBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/TrimGraphQLTypesBenchmark.cs
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/Utilities/GraphQLExtensionsTester.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/StringExtensions.cs
Labels: test, performance

Fix merge error
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
Labels: none

Add test for variable coercion (#1919)
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
Labels: test

Merge branch 'master' of github.com:graphql-dotnet/graphql-dotnet into develop
  package.json
  src/GraphQL.Benchmarks/Benchmarks/ToCamelCaseBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/TrimGraphQLTypesBenchmark.cs
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/Utilities/GraphQLExtensionsTester.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/StringExtensions.cs
  src/GraphQL/TypeExtensions.cs
  yarn.lock
Labels: test, performance

Update src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/Fragments.cs
Labels: none

Update src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/DocumentValidator.cs
Labels: none

Update src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: none

Add System.Memory and enable new ToCamelCase code
  src/GraphQL/GraphQL.csproj
  src/GraphQL/StringExtensions.cs
Labels: none

Apply suggestions from code review
  src/GraphQL/StringExtensions.cs
Labels: none

Add System.Memory and enable new ToCamelCase code (#2151)
  src/GraphQL/GraphQL.csproj
  src/GraphQL/StringExtensions.cs
Labels: none

NoUnusedFragment fix
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
Labels: none

Add short circuit
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
Labels: none

Fix code formatting
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
Labels: none

Update src/GraphQL/Validation/Rules/UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/UniqueVariableNames.cs
Labels: none

Update src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: none

Fix blank line
  src/GraphQL/Validation/TypeInfo.cs
Labels: none

Update TypeInfo.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: none

TypeInfo.GetAncestors() -> TypeInfo.GetAncestor(int index)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: documentation

approvals
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

more bench
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ValidationBenchmark.cs
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Harness/Properties/launchSettings.json
Labels: performance

Validation improvements (#2139)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/EnterLeaveListener.cs
  src/GraphQL/Validation/INodeVisitor.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/NodeVisitors.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/FragmentsOnCompositeTypes.cs
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/Rules/KnownFragmentNames.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/LoneAnonymousOperation.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/NoUndefinedVariables.cs
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
  src/GraphQL/Validation/Rules/NoUnusedVariables.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueDirectivesPerLocation.cs
  src/GraphQL/Validation/Rules/UniqueFragmentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/Rules/UniqueOperationNames.cs
  src/GraphQL/Validation/Rules/UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/VariablesAreInputTypes.cs
  src/GraphQL/Validation/Rules/VariablesInAllowedPosition.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: documentation

remove try/finally
  src/GraphQL/Validation/TypeInfo.cs
Labels: none

TypeInfo.GetAncestors() -> TypeInfo.GetAncestor(int index) (#2153)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ValidationBenchmark.cs
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Harness/Properties/launchSettings.json
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: documentation, performance

Validation optimizations
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/INode.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/ListType.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/NonNullType.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: documentation

fix lgtm warning
  src/GraphQL/Types/QueryArguments.cs
Labels: none

Validation optimizations (#2156)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/INode.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/ListType.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/NonNullType.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: documentation

Update
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/StringExtensionTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/GraphQLExtensionsTester.cs
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/StringExtensions.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Utilities/StringUtils.cs
Labels: test, documentation

Update apiapprovals
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

Remove excess string method from public api
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/StringExtensions.cs
Labels: none

Add comments
  src/GraphQL/StringExtensions.cs
Labels: none

Update apiapprovals
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

Update migration4.md
  docs2/site/docs/migrations/migration4.md
Labels: documentation

Remove Regex (#2144)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/StringExtensionTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/GraphQLExtensionsTester.cs
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/StringExtensions.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Utilities/StringUtils.cs
Labels: test, documentation

Validation optimizations: Tasks, List/iterators, Action/Func closures, etc
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: none

Update src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/DocumentValidator.cs
Labels: none

Progress
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
Labels: none

Validation optimizations: Tasks, List/iterators, Action/Func closures, etc (#2158)
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: none

Fix for 2159 but breaks 1127 and has breaking changes
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variables.cs
Labels: test

Fixes
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Update
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/Variables.cs
Labels: none
