Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.Tests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*

Add note
  docs2/site/docs/migrations/migration4.md
Labels: documentation

Update xml comment
  src/GraphQL/Execution/ExecutionOptions.cs
Labels: none

Fix spelling
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: none

small fixes
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
Labels: none

SchemaPrinter can print inputobject default values
  src/Directory.Build.props
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: test

Update DocumentCache.cs
  src/GraphQL/Caching/DocumentCache.cs
Labels: none

fix
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: none

1
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: none

SchemaPrinter can print inputobject default values (#2175)
  src/Directory.Build.props
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: test

Update src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: none

Progress
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL/Caching/DefaultDocumentCache.cs
  src/GraphQL/Caching/MemoryDocumentCache.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: performance

Moved memory cache to new project
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MsMemoryDocumentCache.cs
  src/GraphQL.sln
Labels: performance

Remove old memory document cache
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MsMemoryDocumentCache.cs
Labels: performance

Add test
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: test

Update docs2/site/docs/migrations/migration4.md
  docs2/site/docs/migrations/migration4.md
Labels: documentation

Update src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
Labels: none

Update src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
Labels: none

Update src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Add protected members
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Add virtual
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Add xml comment
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

DI-friendly with options class
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
Labels: none

Cleanup
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Update src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
Labels: none

Update
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Update docs2/site/docs/migrations/migration4.md
  docs2/site/docs/migrations/migration4.md
Labels: documentation

Updates
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: test, performance

Updates
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
Labels: test, performance

Updates
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
Labels: none

Update
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
Labels: none

Update src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Update src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Update src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
Labels: test

Update src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
Labels: performance

more tuning for allocations
  src/GraphQL.Tests/Bugs/Bug1715.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeKind.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Types/Collections/Directives.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: test

Update src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Update src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Add document caching interface - IDocumentCache (#2173)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.sln
  src/GraphQL/Caching/DefaultDocumentCache.cs
  src/GraphQL/Caching/IDocumentCache.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
Labels: test, documentation, performance

Added code per PR 2016
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL/Compilation/CompiledField.cs
  src/GraphQL/Compilation/CompiledNode.cs
  src/GraphQL/Compilation/QueryCompilation.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: test

Small updates
  src/GraphQL/Compilation/CompiledField.cs
  src/GraphQL/Compilation/CompiledNode.cs
  src/GraphQL/Compilation/QueryCompilation.cs
Labels: none
