Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Set new default type naming
  docs2/site/docs/migrations/migration8.md
  src/GraphQL/GlobalSwitches.cs
Labels: documentation

Updates
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug2279.cs
  src/GraphQL.Tests/Bugs/Issue1837.cs
  src/GraphQL.Tests/Bugs/Issue1874.cs
  src/GraphQL.Tests/Bugs/Issue3370.cs
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Types/GraphType.cs
Labels: test, documentation

Update
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Updates to new GraphQLName function
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Introspection/__Type.cs
Labels: test

Updates to new GraphQLName function (#3843)
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Introspection/__Type.cs
Labels: test

Allowed derived telemetry providers
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: none

Introduce StartActivity and deprecate StartActivityAsync
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

Fix tests
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
Labels: test

Introduce StartActivity and deprecate StartActivityAsync (#3849)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

Update
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
Labels: test

Fix private
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: none

Update comments
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
Labels: test

Add additional overloads
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: none

Update the Filter delegate behavior
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

Update src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
Labels: none

Add more tests
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: test

Test 7 and 8
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
Labels: test

Update url
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: none

Allowed derived telemetry providers (#3848)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

Filter should not swallow the exception
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

Update the `GraphQLTelemetryOptions.Filter` delegate to not create any downstream traces when `false` (#3850)
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

Add GraphQLTelemetryOptions.RecordException configuration
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Telemetry/OpenTelemetryExtensions.cs
Labels: test

Update api approvals
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
Labels: none

Update src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: none

Update src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: none

Update src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: none

Update src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: none

update api approvals
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
Labels: none

update test
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
Labels: test

Bump runner based on TFM
  src/Tests.props
Labels: test

Add GraphQLTelemetryOptions.RecordException configuration (#3853)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Telemetry/OpenTelemetryExtensions.cs
Labels: test

Set new default type naming (#3842)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug2279.cs
  src/GraphQL.Tests/Bugs/Issue1837.cs
  src/GraphQL.Tests/Bugs/Issue1874.cs
  src/GraphQL.Tests/Bugs/Issue3370.cs
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/GraphType.cs
Labels: test, documentation

Fix build issues
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
Labels: none

Conditional
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
Labels: performance

Add other .NET 8 tests
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Federation.Tests/GraphQL.Federation.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
Labels: test, performance

Update TFM for MicrosoftDI
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
Labels: none

Revert "Update TFM for MicrosoftDI"
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
Labels: none

Update
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Add parsing and validation delegates to Query Arguments and input object fields
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Validation/Errors.Custom/InvalidValueError.cs
Labels: test

Update tests for input objects
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test
