Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

Update
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.New.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphTypeHelper.cs
Labels: test

Update
  src/GraphQL/Extensions/ObjectExtensions.New.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
Labels: none

Updates
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Update
  src/GraphQL/GlobalSwitches.cs
Labels: none

Bugfix for issue 3825
  src/GraphQL.Tests/Bugs/Bug3825.cs
  src/GraphQL/Introspection/__Type.cs
Labels: test

Deprecated fields are returned when feature is disabled (#3827)
  src/GraphQL.Tests/Bugs/Bug3825.cs
  src/GraphQL/Introspection/__Type.cs
Labels: test

Downgrade Microsoft.CodeAnalysis packages to v3.11.0 to support older compilers
  src/GraphQL.Analyzers.CodeFixes/GraphQL.Analyzers.CodeFixes.csproj
  src/GraphQL.Analyzers/GraphQL.Analyzers.csproj
Labels: none

Fix GQL009 code fix formatting (#3824)
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
Labels: none

Fix NRT annotations in xUnit tests
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
Labels: test

Update
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: test

Update
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
Labels: none

Remove new line after argument expression
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Preserve comments
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Preserve comments
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Fix FieldBuilderCodeFixProvider formatting and try preserve code comments (#3836)
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Remove static var
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: none

Add tests
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test

Fix formatting; add test
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test

Update
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

ToObject compilation (#3761)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: test, performance

Downgrade Microsoft.CodeAnalysis packages to v3.11.0 to support older compilers (#3831)
  src/GraphQL.Analyzers.CodeFixes/GraphQL.Analyzers.CodeFixes.csproj
  src/GraphQL.Analyzers/GraphQL.Analyzers.csproj
Labels: none

Fix json tests
  src/GraphQL.Tests/Execution/InputConversionNewtonsoftJsonTests.cs
  src/GraphQL.Tests/Execution/InputConversionSystemTextJsonTests.cs
Labels: test

Type naming
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/GraphType.cs
Labels: none

Update src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
Labels: none

Update src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
Labels: none

Update src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
Labels: none

Update src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
Labels: none

Update src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
Labels: none

Add tests
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Extensions/TypeExtensionTests.cs
Labels: test

Update
  src/GraphQL.Tests/Extensions/TypeExtensionTests.cs
Labels: test

Update
  src/GraphQL.Tests/Execution/InputConversionSystemTextJsonTests.cs
Labels: test

Fix json tests (#3838)
  src/GraphQL.Tests/Execution/InputConversionNewtonsoftJsonTests.cs
  src/GraphQL.Tests/Execution/InputConversionSystemTextJsonTests.cs
Labels: test

Change default type naming (#3839)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Extensions/TypeExtensionTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/GraphType.cs
Labels: test

Fix merge conflicts
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Tests/Validation/LiteralValuesTests.cs
Labels: test

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*
