Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

Consolidate TFMs for tests
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Federation.Tests/GraphQL.Federation.Tests.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/Tests.props
Labels: test

Update
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Federation.Tests/GraphQL.Federation.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/Tests.props
Labels: test

Add other .NET 8 tests (#3855)
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Federation.Tests/GraphQL.Federation.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/Tests.props
Labels: test, performance

Remove .NET 5 testing
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/Tests.props
Labels: test

Update test
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Add some notes and functionality
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/QueryArgumentExtensions.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: test, documentation

Update apitests
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: none

Update
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: test

Update migration doc
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Parser and Validator do not run for null values
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Extensions/QueryArgumentExtensions.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: test, documentation

Update comments
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Move ShouldBeSimilarTo
  src/GraphQL.Tests/ShouldlyExtensions.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Update tests
  src/GraphQL.Tests/ShouldlyExtensions.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Update
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
Labels: test

Update xml comments
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/QueryArgumentExtensions.cs
Labels: none

Update
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/QueryArgumentExtensions.cs
Labels: none

Updates
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/QueryArgumentTests.cs
Labels: test

Update
  src/GraphQL.Tests/Bugs/SpecIssues.cs
Labels: test

added transport docs page, updated sitemap
  docs2/site/docs/getting-started/transport.md
  docs2/site/sitemap.yml
Labels: documentation

Applied suggestions
  docs2/site/docs/getting-started/transport.md
  docs2/site/sitemap.yml
Labels: documentation

OperationMessage description fix
  docs2/site/docs/getting-started/transport.md
Labels: documentation

Add transport docs page, update sitemap (#3858)
  docs2/site/docs/getting-started/transport.md
  docs2/site/sitemap.yml
Labels: documentation

Simplify Validate methods
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/QueryArgumentExtensions.cs
Labels: none

Add validation
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: none

Add input value coercion and validation (v2) (#3857)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/SpecIssues.cs
  src/GraphQL.Tests/ShouldlyExtensions.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/QueryArgumentTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Extensions/QueryArgumentExtensions.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
  src/GraphQL/Validation/Errors.Custom/InvalidValueError.cs
Labels: test, documentation

Use markup key to indicate expected diagnostics location
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
Labels: none

Another 200
  src/GraphQL.Tests/Serialization/DeserializationTestBase.cs
  src/GraphQL.Tests/Serialization/ExecutionResultTests.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/InputsConverterTests.cs
  src/GraphQL.Tests/Serialization/OperationMessageTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/InputsConverterTests.cs
  src/GraphQL.Tests/StarWars/StarWarsBasicQueryTests.cs
  src/GraphQL.Tests/StarWars/StarWarsSubFieldsTest.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithAutoGraphTypeTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithReflectionTests.cs
  src/GraphQL.Tests/TestExtensions.cs
  src/GraphQL.Tests/TypeExtensionTests.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
Labels: test

Another 300
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Extensions/PrintTests.cs
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL.Tests/Language/CommentTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/PersistedQueries/AutomaticPersistedQueriesTests.cs
  src/GraphQL.Tests/SchemaExtensionTests.cs
  src/GraphQL.Tests/Serialization/DeserializationTests.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
Labels: test

GraphQL.Tests and GraphQL.DataLoader.Tests compile and run
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.DataLoader.Tests/Types/OrderItemType.cs
  src/GraphQL.DataLoader.Tests/Types/OrderType.cs
  src/GraphQL.DataLoader.Tests/Types/UserType.cs
  src/GraphQL.MicrosoftDI.Tests/SelfActivatingServiceProviderTests.cs
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Bugs/Issue2932_DemoDIGraphType.cs
  src/GraphQL.Tests/Bugs/SpecIssues.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/GraphQLSerializersTestData.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/Subscription/ObservableExtensionsTests.cs
  src/GraphQL.Tests/Subscription/SampleObservable.cs
  src/GraphQL.Tests/Subscription/SampleObserver.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithAutoGraphType.cs
  src/GraphQL.Tests/Types/ArgumentInformationTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Validation/RequestServicesTests.cs
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
  src/GraphQL.Tests/Validation/ValidationTestBase.cs
Labels: test

Fix GraphQL.MicrosoftDI.Tests
  src/GraphQL.MicrosoftDI.Tests/AdapterTests.cs
  src/GraphQL.MicrosoftDI.Tests/ConnectionAdapterTests.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQLBuilderTests.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedAsyncFieldResolverTests.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedAttributeTests.cs
Labels: test

Updates
  src/GraphQL.DataLoader/Extensions/DataLoaderGraphQLBuilderExtensions.cs
  src/GraphQL.NewtonsoftJson/NewtonsoftJsonGraphQLBuilderExtensions.cs
  src/GraphQL.SystemTextJson/SystemTextJsonGraphQLBuilderExtensions.cs
Labels: none

Use markup key to indicate expected diagnostics location (#3861)
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
Labels: none

Use markup key to indicate expected diagnostics location (develop)
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
Labels: none

Updates
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL.Tests/Validation/KnownArgumentNamesTests.cs
  src/GraphQL.Tests/Validation/KnownTypeNamesTests.cs
  src/GraphQL/Validation/Errors/KnownArgumentNamesError.cs
  src/GraphQL/Validation/Errors/KnownTypeNamesError.cs
Labels: test

Updates
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Federation.Tests/GraphQL.Federation.Tests.csproj
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
Labels: test

Fix
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
Labels: test

Use markup key to indicate expected diagnostics location (develop) (#3862)
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
Labels: none

update exceptions
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
Labels: test

Analyze source type constructor for AutoRegisteringInputObjectGraphType
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: none

Remove null-forgiving operators on data loader tests
  src/GraphQL.DataLoader.Tests/Types/OrderItemType.cs
  src/GraphQL.DataLoader.Tests/Types/OrderType.cs
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.DataLoader.Tests/Types/UserType.cs
Labels: test

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*
