Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

Cleanup test
  src/GraphQL.Tests/Bugs/Bug2159.cs
Labels: test

Remove comments
  src/GraphQL.Tests/Bugs/Bug2159.cs
Labels: test

Update
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Update xml comment
  src/GraphQL/Language/AST/Variables.cs
Labels: none

Patch so HasArgument works like previously
  docs2/site/docs/guides/known-issues.md
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: test, documentation

Update tests
  src/GraphQL.Tests/Bugs/Bug2159.cs
Labels: test

Update docs2/site/docs/guides/known-issues.md
  docs2/site/docs/guides/known-issues.md
Labels: documentation

Update src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/Language/AST/Variables.cs
Labels: none

Remove trailing whitespaces
  .editorconfig
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
  .github/workflows/wipcheck.yml
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/Tests.props
Labels: CI, code style

Remove trailing whitespaces (#2162)
  .editorconfig
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
  .github/workflows/wipcheck.yml
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/Tests.props
Labels: CI, code style

Updates
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: test

Update docs2/site/docs/guides/known-issues.md
  docs2/site/docs/guides/known-issues.md
Labels: documentation

Final changes
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
Labels: test

Update xml comment
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Don't override argument null literals with default values (#2160)
  docs2/site/docs/guides/known-issues.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: test, documentation

Phase 1
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/CamelCaseArgumentTest.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: test

Updates
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
Labels: none

Fix formatting
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
Labels: test

Memory allocation optimizations
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL/ConstrainedArray.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/MemoryExtensions.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/Types/Collections/FieldFields.cs
  src/GraphQL/Types/Collections/PossibleTypes.cs
  src/GraphQL/Types/Collections/QueryArguments.cs
  src/GraphQL/Types/Collections/ResolvedInterfaces.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/Composite/UnionGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/IImplementInterfaces.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
Labels: performance

format
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
Labels: none

Update migration4.md
  docs2/site/docs/migrations/migration4.md
Labels: documentation

docs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
Labels: none

rename
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/Collections/TypeFields.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: none

oops
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
Labels: none

Add variable benchmarks
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
Labels: performance

Update
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
Labels: performance

Updates
  src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variables.cs
Labels: none

Update
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

Remove usings
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
Labels: performance

Update src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
Labels: performance

Updates
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Benchmarks/Variables.cs
Labels: performance

Revert "Update src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs"
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
Labels: performance

Add Variable benchmarks (#2167)
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Benchmarks/Variables.cs
Labels: performance

Update src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Execution/ArgumentValue.cs
Labels: none

Added NullLiteral and NullVariable
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL/Execution/ArgumentValue.cs
Labels: test

Update src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variable.cs
Labels: none

Removed temp code from ObjectExtensions
  src/GraphQL/ObjectExtensions.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Add document caching
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL/Caching/DocumentCache.cs
  src/GraphQL/Caching/IDocumentCache.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
Labels: performance

Update apiapprovals
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.Tests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
