Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

Update src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
Labels: none

Update exception message
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

Update
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: none

ObjectExtensions.ToObject requires mappedType (#3769)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Bug956.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Execution/DirectiveInfo.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: test, documentation

ToObject uses public default ctor; and only public ctors
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test, documentation

Add tests
  src/GraphQL.Tests/ObjectExtensionsTest.cs
Labels: test

ToObject uses public default constructor when available; and only public constructors (#3771)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test, documentation

Consume analyzers by the sample project (#3770)
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
Labels: none

Require ctor to be marked for ToObject
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/GraphQLConstructorAttribute.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test, documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update
  src/GraphQL/Attributes/GraphQLConstructorAttribute.cs
  src/GraphQL/Extensions/GraphQLConstructorAttribute.cs
Labels: none

Add GraphQLConstructor attribute for ToObject (#3773)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Attributes/GraphQLConstructorAttribute.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: test, documentation

Ignore InputObjectGraphType analyzis if type overrides ParseDictionary method
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: documentation

rename variable
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: none

Ignore InputObjectGraphType analysis if type overrides ParseDictionary (#3776)
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: documentation

Format documentation
  docs2/site/docs/analyzers/.prettierrc.json
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL001_DefineTheNameInFieldMethod.md
  docs2/site/docs/analyzers/GQL002_NameMethodInvocationCanBeRemoved.md
  docs2/site/docs/analyzers/GQL003_DifferentNamesDefinedByFieldAndNameMethods.md
  docs2/site/docs/analyzers/GQL004_DoNotUseObsoleteFieldMethods.md
  docs2/site/docs/analyzers/GQL005_IllegalResolverUsage.md
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
  docs2/site/docs/analyzers/GQL009_UseAsyncResolver.md
  docs2/site/docs/analyzers/Overview.md
Labels: documentation

Documentation packages
  docs2/package-lock.json
  docs2/package.json
  docs2/yarn.lock
Labels: documentation

Code rearrangement
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Extensions.cs
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Helpers/DocumentEditorExtensions.cs
  src/GraphQL.Analyzers.CodeFixes/ResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticCategories.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/EnumerableExtensions.cs
  src/GraphQL.Analyzers/Helpers/ExpressionExtensions.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/Helpers/OptionsExtensions.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
  src/GraphQL.sln.DotSettings
Labels: none

cleanup
  docs2/site/docs/analyzers/.vscode/settings.json
  src/GraphQL.Analyzers/Helpers/ExpressionExtensions.cs
  src/GraphQL.sln.DotSettings
Labels: documentation

cleanup
  src/GraphQL.Analyzers/Helpers/ExpressionExtensions.cs
Labels: none

sort usings
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.Analyzers/Helpers/OptionsExtensions.cs
Labels: none

remove DotSettings file
  src/GraphQL.sln.DotSettings
Labels: none

Revert "Documentation packages"
  docs2/package-lock.json
  docs2/package.json
  docs2/yarn.lock
Labels: documentation

Analyzers code and docs reorganization (#3778)
  docs2/site/docs/analyzers/.prettierrc.json
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL001_DefineTheNameInFieldMethod.md
  docs2/site/docs/analyzers/GQL002_NameMethodInvocationCanBeRemoved.md
  docs2/site/docs/analyzers/GQL003_DifferentNamesDefinedByFieldAndNameMethods.md
  docs2/site/docs/analyzers/GQL004_DoNotUseObsoleteFieldMethods.md
  docs2/site/docs/analyzers/GQL005_IllegalResolverUsage.md
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
  docs2/site/docs/analyzers/GQL009_UseAsyncResolver.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Extensions.cs
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Helpers/DocumentEditorExtensions.cs
  src/GraphQL.Analyzers.CodeFixes/ResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticCategories.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/EnumerableExtensions.cs
  src/GraphQL.Analyzers/Helpers/ExpressionExtensions.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/Helpers/OptionsExtensions.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
Labels: documentation

Verify input source type constructors
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: none

rename
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: none

fix help link
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
Labels: none

Documentation for GQL010
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/GQL010_CanNotResolveInputSourceTypeConstructor.md
Labels: documentation

docs
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.sln
Labels: documentation

format
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
Labels: none

Update BOM test with detail
  src/GraphQL.ApiTests/BomTests.cs
Labels: test

Debug CallerFilePath
  src/GraphQL.ApiTests/BomTests.cs
Labels: test

Fix bom tests
  src/GraphQL.ApiTests/BomTests.cs
Labels: test

Verify input source type constructors (#3779)
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/GQL010_CanNotResolveInputSourceTypeConstructor.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.ApiTests/BomTests.cs
  src/GraphQL.sln
Labels: test, documentation

Fix BomTests
  src/GraphQL.ApiTests/BomTests.cs
Labels: test

Fix BomTests (#3780)
  src/GraphQL.ApiTests/BomTests.cs
Labels: test

AutoRegisteringInputObjectGraphType allow processing of read-only properties
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: test

Update
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.sln
Labels: documentation

Update src/GraphQL.sln
  src/GraphQL.sln
Labels: none

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*
