Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Update
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: none

Add an introduction version to analyzers documentation (#3883)
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql011.md
Labels: documentation

Add DirectiveAttribute
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Attributes/DirectiveAttribute.cs
Labels: none

Update "Introduced in" section in analyzers docs
  docs2/site/docs/analyzers/gql010.md
  docs2/site/docs/analyzers/gql012.md
Labels: documentation

Update "Introduced in" section in analyzers docs (#3887)
  docs2/site/docs/analyzers/gql010.md
  docs2/site/docs/analyzers/gql012.md
Labels: documentation

Add DirectiveAttribute (#3886)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Attributes/DirectiveAttribute.cs
Labels: none

Add PatternMatchingDirective and PatternMatchingVisitor sample (#3885)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/Visitors/PatternMatchingVisitorTests.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Types/Directives/Custom/PatternMatchingDirective.cs
  src/GraphQL/Utilities/Visitors/Custom/PatternMatchingVisitor.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: test, documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Update docs2/site/docs/migrations/migration8.md
  docs2/site/docs/migrations/migration8.md
Labels: documentation
