Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.Tests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*

1
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

Update src/GraphQL/Execution/IArrayPool.cs
  src/GraphQL/Execution/IArrayPool.cs
Labels: none

rename
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/IExecutionArrayPool.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: none

Performance changes
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variables.cs
Labels: none

fix tests for ru-RU locale
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
Labels: test, performance

style
  .editorconfig
Labels: code style

ReadonlyResolveFieldContext "pool"
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Rename VariablesList to List
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
Labels: none

Update src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/Language/AST/Variables.cs
Labels: none

Fix tests for ru-RU locale (#2187)
  .editorconfig
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
Labels: test, code style, performance

Fix another foreach
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Update formatting
  src/GraphQL/Language/AST/Variables.cs
Labels: none

Performance improvements within ExecutionHelper (#2186)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: documentation

Cache for GetGraphTypeFromType
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/AssemblyInfo.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: test

Introduce ArgumentBuilder
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/ArrayOfArrayTest.cs
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/PascalCaseTests.cs
  src/GraphQL.Tests/Execution/MutationTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Types/Collections/ArgumentBuilder.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
Labels: test

Sample where ExecutionNode implements IResolveFieldContext
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: test

Update apiapprovals...just because
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: none

Apply suggestions from code review
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: none

Update src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionContext.cs
Labels: none

Remove TypeExtensions.As
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: test, documentation

Remove TypeExtensions.As (#2195)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: test, documentation

Update src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: none

Apply suggestions from code review
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: none

Update src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionContext.cs
Labels: none

Update apiapprovals
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

Add migration notes
  docs2/site/docs/migrations/migration4.md
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: documentation

Add more comments
  docs2/site/docs/guides/known-issues.md
  src/GraphQL/Execution/ExecutionContext.cs
Labels: documentation

Update src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionContext.cs
Labels: none

Add ReadonlyResolveFieldContext "pool" (#2188)
  docs2/site/docs/guides/known-issues.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: documentation

Compilation POC
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL/Compilation/Compilation.cs
  src/GraphQL/Compilation/CompiledField.cs
  src/GraphQL/Compilation/CompiledNode.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: test

Preparing for PR
  src/GraphQL/Compilation/Compilation.cs
  src/GraphQL/Compilation/CompiledField.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionContext.cs
Labels: none

Work on all tests except a Api acceptance one
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL/Compilation/CompiledField.cs
Labels: test

Remove nullable warning
  src/GraphQL/Compilation/Compilation.cs
Labels: none

Add api changes
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: none

Fix issues caused by merge
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: none
