Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Updates so it compiles
  src/GraphQL.Federation.Tests2/GraphQL.Federation.Tests2.csproj
  src/GraphQL.Federation2/GraphQL.Federation2.csproj
  src/GraphQL.Federation2/Instrumentation/FederatedInstrumentFieldMiddleware.cs
  src/GraphQL.Federation2/Instrumentation/FederatedTraceBuilder.cs
  src/GraphQL.Federation2/Instrumentation/FederatedTracingExtensions.cs
  src/GraphQL.Federation2/Instrumentation/ResultPath.cs
Labels: none

Remove FederatedInstrumentFieldMiddleware
  src/GraphQL.Federation.Tests2/ApolloFederatedTracingTests.cs
  src/GraphQL.Federation2/Instrumentation/FederatedInstrumentFieldMiddleware.cs
  src/GraphQL.Federation2/Instrumentation/FederatedTraceBuilder.cs
  src/GraphQL.Federation2/Instrumentation/FederatedTracingExtensions.cs
  src/GraphQL.Federation2/Mdg/Engine/Proto/Reports.cs
  src/GraphQL.Harness/Startup.cs
Labels: none

Update tests
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.Federation.Tests2/ApolloFederatedTracingTests.cs
  src/GraphQL.Federation.Tests2/GraphQL.Federation.Tests2.csproj
  src/GraphQL.Federation2/GraphQL.Federation2.csproj
  src/GraphQL.Federation2/Instrumentation/FederatedTraceBuilder.cs
  src/GraphQL.Federation2/Instrumentation/FederatedTracingExtensions.cs
  src/GraphQL.Federation2/Instrumentation/ResultPath.cs
Labels: test

Update
  src/GraphQL.ApiTests/GraphQL.Federation2.approved.txt
Labels: none

Add extension methods
  docs2/site/docs/guides/federated-tracing.md
  src/GraphQL.ApiTests/GraphQL.Federation2.approved.txt
  src/GraphQL.Federation2/FederationGraphQLBuilderExtensions.cs
  src/GraphQL.sln
Labels: documentation

Bump Google.Protobuf
  src/GraphQL.Federation2/GraphQL.Federation2.csproj
Labels: none

Update api approvals
  src/GraphQL.ApiTests/GraphQL.Federation.approved.txt
Labels: none

Make FederatedTraceBuilder and ResultPath internal
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.Federation2.approved.txt
  src/GraphQL.Federation2/Instrumentation/FederatedTraceBuilder.cs
  src/GraphQL.Federation2/Instrumentation/ResultPath.cs
Labels: test

Compile proto from source; make proto compilation internal
  src/GraphQL.ApiTests/GraphQL.Federation2.approved.txt
  src/GraphQL.Federation2/GraphQL.Federation2.csproj
  src/GraphQL.Federation2/Mdg/Engine/Proto/Reports.cs
  src/GraphQL.Federation2/reports.proto
  src/GraphQL.Federation2/reports.proto.license.txt
Labels: none

Update
  src/GraphQL.Federation2/reports.proto
  src/GraphQL.Federation2/reports.proto.license.txt
Labels: none

Update
  src/GraphQL.Federation2.Tests/ApolloFederatedTracingTests.cs
  src/GraphQL.Federation2.Tests/GraphQL.Federation2.Tests.csproj
  src/GraphQL.sln
Labels: none

Update
  src/GraphQL.Harness/Startup.cs
Labels: none

Update imports ordering
  src/GraphQL.Harness/GraphQLMiddleware.cs
Labels: none

Allow nullable variables for non-null arguments that have defaults; allow scalar variable to list types (#3662)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/Validation/InputFieldsAndArgumentsOfCorrectLengthRequiredTests.cs
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
  src/GraphQL.Tests/Validation/VariablesInAllowedPositionTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/ExperimentalFeatures.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.GetVariables.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/Variable.cs
  src/GraphQL/Validation/VariableUsage.cs
  src/GraphQL/Validation/Variables.cs
Labels: test

Add additional test for coercion
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
  src/GraphQL.sln
Labels: test

Update
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
Labels: test

Add additional test for coercion (#3737)
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
  src/GraphQL.sln
Labels: test

Fix formatting when the line before Field invocation contains whitespaces
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Update src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

CommentBeforeField_ArgumentsFormattingPreservedAsync
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Fix formatting when the line before Field invocation contains whitespaces (#3740)
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: none

Upgrade xUnit to 2.5.2
  src/GraphQL.Analyzers.Tests/Verifiers/XUnit/EmptyWithMessageException.cs
  src/GraphQL.Analyzers.Tests/Verifiers/XUnit/EqualWithMessageException.cs
  src/GraphQL.Analyzers.Tests/Verifiers/XUnit/NotEmptyWithMessageException.cs
  src/GraphQL.Analyzers.Tests/Verifiers/XUnit/XUnitVerifier.cs
  src/Tests.props
Labels: test

Fix xUnit diagnostics
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
Labels: test

Fix formatting
  src/GraphQL.Analyzers.Tests/Verifiers/XUnit/XUnitVerifier.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
Labels: test

Remove blocking sync-over-async
  src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
  src/GraphQL.MicrosoftDI.Tests/ConnectionBuilderExtensionTests.cs
  src/GraphQL.MicrosoftDI.Tests/FieldBuilderExtensionTests.cs
  src/GraphQL.Tests/Bugs/Bug1046.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/Bugs/Bug2839NewtonsoftJson.cs
  src/GraphQL.Tests/Bugs/Bug2839SystemTextJson.cs
  src/GraphQL.Tests/Bugs/Issue661.cs
  src/GraphQL.Tests/Complexity/ComplexityValidationTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/Execution/Performance/StarWarsPerformanceTests.cs
  src/GraphQL.Tests/Execution/Performance/ThreadPerformanceTests.cs
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/Tests.props
Labels: test

Revert ConfigureAwait(false) in DL tests
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
Labels: test

Misc
  .github/dependabot.yml
  src/GraphQL.Analyzers.CodeFixes/GraphQL.Analyzers.CodeFixes.csproj
  src/GraphQL.Analyzers/GraphQL.Analyzers.csproj
  src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
Labels: test, CI

Update src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
  src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
Labels: test

Remove ConfigureAwait(false) from DataLoader.Tests
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
Labels: test

Update
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
Labels: test

Misc cleanup (#3743)
  .github/dependabot.yml
  src/GraphQL.Analyzers.CodeFixes/GraphQL.Analyzers.CodeFixes.csproj
  src/GraphQL.Analyzers/GraphQL.Analyzers.csproj
  src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
Labels: test, CI

Remove ConfigureAwait(false) from DataLoader.Tests (#3744)
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
Labels: test

Obsolete Name method on ConnectionBuilder
  docs2/site/docs/analyzers/GQL001_DefineTheNameInFieldMethod.md
  docs2/site/docs/analyzers/GQL002_NameMethodInvocationCanBeRemoved.md
  docs2/site/docs/analyzers/GQL003_DifferentNamesDefinedByFieldAndNameMethods.md
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
Labels: documentation

Update Overview.md
  docs2/site/docs/analyzers/Overview.md
Labels: documentation

Revert Resolve => Description
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
Labels: none

rename builderName param to builder
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
Labels: none

Simplify message template
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
Labels: none

ConnectionBuilder.Resolve* return builder instance
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
Labels: none

ConnectionBuilder.Resolve* return builder instance (#3748)
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
Labels: none

Rewrite the obsolete Name method on ConnectionBuilder (#3747)
  docs2/site/docs/analyzers/GQL001_DefineTheNameInFieldMethod.md
  docs2/site/docs/analyzers/GQL002_NameMethodInvocationCanBeRemoved.md
  docs2/site/docs/analyzers/GQL003_DifferentNamesDefinedByFieldAndNameMethods.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
Labels: documentation
