Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.MicrosoftDI.Tests/**/*
  - src/GraphQL.Tests/**/*
  - src/GraphQL.ApiTests/**/*.cs
  - src/Tests.props
  - src/xunit.runner.json

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
  - src/GraphQL.Benchmarks.Merge/**/*

Remove null-forgiving operators on data loader tests (#3863)
  src/GraphQL.DataLoader.Tests/Types/OrderItemType.cs
  src/GraphQL.DataLoader.Tests/Types/OrderType.cs
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.DataLoader.Tests/Types/UserType.cs
Labels: test

Update docs
  docs2/site/docs/analyzers/gql010.md
Labels: documentation

Extend GQL010 rule for `AutoRegisteringInputObjectGraphType` (#3865)
  docs2/site/docs/analyzers/gql010.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: documentation

Add DI extension methods
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/Extensions/ConfigureDataLoaderExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderGraphQLBuilderExtensions.cs
  src/GraphQL.DataLoader/GraphQL.DataLoader.csproj
  src/GraphQL.DataLoader/IBatchFetcher.cs
  src/GraphQL.DataLoader/ICollectionBatchFetcher.cs
  src/GraphQL.DataLoader/IConfigureDataLoader.cs
Labels: none

Schema builder fixes
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/TypeSettings.cs
Labels: none

Subscription root fields require StreamResolver to be set
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: test

Fix tests
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/Extensions/DataLoaderGraphQLBuilderExtensions.cs
Labels: none

Code
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
Labels: test, documentation

Update api approvals
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: none

Change DataLoader extensions' namespace to GraphQL
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/Extensions/DataLoaderContextExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
Labels: none

Update
  docs2/site/docs/migrations/migration8.md
Labels: documentation

Fix issue 3318
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1772.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/Errors/InvalidOperationError.cs
  src/GraphQL/Execution/Errors/InvalidOperationNameError.cs
  src/GraphQL/Execution/Errors/MissingOperationError.cs
Labels: test

Update
  src/GraphQL.Tests/Bugs/Bug1772.cs
Labels: test

Update src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: none

Update
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: none

Bug fix for 3089
  src/GraphQL.Tests/Bugs/Bug3089.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: test

Remove IComplexityAnalyzer
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitor.cs
  src/GraphQL/Validation/Complexity/IComplexityAnalyzer.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: test

Update
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: none

Updates
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
Labels: test

Update
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: test

Argument validation
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/IVariableVisitorProvider.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: none

Update
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: documentation

Add argument tests for directives
  src/GraphQL.Tests/Types/AppliedDirectiveTests.cs
Labels: test

Update test
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
Labels: test

Remove .NET 5 testing (#3856)
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/Tests.props
Labels: test

Schema builder fixes; add schema validation of subscription fields (#3867)
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/TypeSettings.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: test

Change DataLoader extensions' namespace to GraphQL (#3869)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/Extensions/DataLoaderContextExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
Labels: documentation

Remove IComplexityAnalyzer (#3872)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitor.cs
  src/GraphQL/Validation/Complexity/IComplexityAnalyzer.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: test

Add argument tests for directives (#3874)
  src/GraphQL.Tests/Types/AppliedDirectiveTests.cs
Labels: test

Support subscriptions of value types
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL/Resolvers/ObservableAdapter.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
Labels: test

Update
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
Labels: none

Simplify
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: none

Update xml comments
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: none

Add test
  src/GraphQL.Tests/Bugs/Bug1772.cs
Labels: test

Support subscriptions of value types (#3876)
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL/Resolvers/ObservableAdapter.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
Labels: test

Mix errors from validation and listener (#3871)
  src/GraphQL.Tests/Bugs/Bug3089.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: test

Better error handling of requests with invalid operation names (#3870)
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1772.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/Errors/InvalidOperationError.cs
  src/GraphQL/Execution/Errors/InvalidOperationNameError.cs
  src/GraphQL/Execution/Errors/MissingOperationError.cs
Labels: test

Deprecate SchemaPrinter
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/Federation/ServiceGraphType.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: test, documentation

Update tests
  src/GraphQL.Federation.Tests/Sample1Tests.Schema.approved.txt
  src/GraphQL.Federation.Tests/Sample2Tests.Schema.approved.txt
Labels: none

Deprecate SchemaPrinter in favor of SchemaExporter (#3877)
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Federation.Tests/Sample1Tests.Schema.approved.txt
  src/GraphQL.Federation.Tests/Sample2Tests.Schema.approved.txt
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/Federation/ServiceGraphType.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: test, documentation
