Repository graphql-dotnet/graphql-dotnet, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation, performance

GraphTypesLookup rework into SchemaTypes
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/GraphTypesLookupTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/Types/Collections/SchemaDirectives.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Types/TypeCollectionContext.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
Labels: test

remove test
  src/GraphQL.Tests/Types/GraphTypesLookupTests.cs
Labels: test

remove more
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: none

Fix tests on .NET 4.8
  src/GraphQL.Tests/StringExtensionTests.cs
Labels: test

Add note
  src/GraphQL.Tests/StringExtensionTests.cs
Labels: test

Update
  src/GraphQL.Tests/StringExtensionTests.cs
Labels: test

more iterators tuning
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Errors/KnownArgumentNamesError.cs
Labels: none

Update src/GraphQL.Tests/StringExtensionTests.cs
  src/GraphQL.Tests/StringExtensionTests.cs
Labels: test

format
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: none

Fix tests on .NET 4.8 (#2181)
  src/GraphQL.Tests/StringExtensionTests.cs
Labels: test

fixes for lists
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
Labels: none

list
  src/GraphQL/Introspection/__Directive.cs
Labels: none

more
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/GraphQLExtensions.cs
Labels: none

fix return
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

migration
  docs2/site/docs/migrations/migration4.md
Labels: documentation

resolve field contexts rework
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveConnectionContext.cs
  src/GraphQL/ResolveFieldContext/IResolveEventStreamContext.cs
  src/GraphQL/ResolveFieldContext/IResolveEventStreamContextProvider.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContextProvider.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveConnectionContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Resolvers/AsyncEventStreamResolver.cs
  src/GraphQL/Resolvers/AsyncFieldResolver.cs
  src/GraphQL/Resolvers/ConnectionFuncFieldResolver.cs
  src/GraphQL/Resolvers/EventStreamResolver.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/IEventStreamResolver.cs
  src/GraphQL/Subscription/ResolveEventStreamContext.cs
Labels: test, documentation

format
  src/GraphQL.DataLoader.Tests/Types/SubscriptionType.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: test

format
  src/GraphQL.StarWars/Extensions/ResolveFieldContextExtensions.cs
Labels: none

config
  src/GraphQL.Benchmarks/Properties/launchSettings.json
Labels: performance

NameFieldResolver direct call, optimized field resolver with struct
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContextStruct.cs
  src/GraphQL/Resolvers/IOptimizedFieldResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Resolvers/OptimizedFuncFieldResolver.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Utilities/Federation/ServiceGraphType.cs
Labels: none

optimize introspection fields and expression resolver
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/TypeNameMetaFieldType.cs
  src/GraphQL/Resolvers/ExpressionFieldResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
Labels: none

remove dead code
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Suggested changes to array pools
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/IExecutionArrayPool.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Add null check for type
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Update src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
Labels: none

Update src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

IArrayPool
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/IArrayPool.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: documentation

SchemaTypes.Create -> public
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Schema.cs
Labels: none

review
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/IArrayPool.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
Labels: none

Change IResolveFieldContext.Arguments to ArgumentValue, fix HasArguments, add ParseDictionary (#2165)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/CamelCaseArgumentTest.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: test, documentation

Followup to #2165
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: none

Make GetVariableValue private
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: none

Add migration note
  docs2/site/docs/migrations/migration4.md
Labels: documentation

Update migration notes
  docs2/site/docs/migrations/migration4.md
Labels: documentation

clear context
  src/GraphQL/Execution/ExecutionContext.cs
Labels: none

context
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
Labels: none

.github/labeler.yml:

test:
  - src/GraphQL.DataLoader.Tests/**/*
  - src/GraphQL.Dummy/**/*
  - src/GraphQL.Harness.Tests/**/*
  - src/GraphQL.Tests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
  - docs2/**/*

performance:
  - src/GraphQL.Benchmarks/**/*
