Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2019-10, with the labels that each got.

#1343 Fixes different sort order in SchemaPrinter on Windows and Linux
  src/GraphQL.Tests/Execution/RegisteredInstanceTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: enhancement

#1341 Better error message for IsTypeOf
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: enhancement

#1342 Cleanup
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL.Tests/CultureTestHelper.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Validation/NoFragmentCyclesTests.cs
  src/GraphQL/Execution/ExecutionError.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Instrumentation/FieldResolverBuilderExtensions.cs
  src/GraphQL/Introspection/SchemaIntrospection.cs
  src/GraphQL/Language/AST/Alias.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/NamedType.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/ValueNodes/EnumValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/StringValue.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/LightweightCache.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/GraphTypeInstanceRegistry.cs
  src/GraphQL/Utilities/GraphTypeTypeRegistry.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Utilities/SchemaDirectiveVisitor.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
Labels: enhancement

#1349 Extend IProvideMetadata with default value factory
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL/Types/EnumerationGraphType.cs
  src/GraphQL/Types/FieldType.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Utilities/MetadataProvider.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
Labels: enhancement

#1340 Compliance with spec in type naming rules
  src/GraphQL.Tests/Bugs/Bug118SpacesInTypeNameTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__TypeKind.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/EnumerationGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/GraphType.cs
Labels: enhancement

#1352 bump deps
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: dependencies

#1330 NameFieldResolver - CreatePropertyDelegate fix for proxies
  src/GraphQL/Resolvers/NameFieldResolver.cs
Labels: enhancement

#1357 Fix for descriptions from xmldoc for fields
  src/GraphQL/GraphQLExtensions.cs
Labels: bugfix

#1356 NameFieldResolver tuning
  src/GraphQL.Tests/Bugs/Issue1354.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/Types/BooleanGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Instrumentation/MiddlewareResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Utilities/ISchemaNodeVisitor.cs
Labels: enhancement

#1355 Add AutoRegisteringInputObjectGraphType
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL/Types/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Utilities/GraphTypeTypeRegistry.cs
Labels: enhancement

#1360 Fix for ShouldIncludeNode
  src/GraphQL.Tests/Execution/Directives/DirectivesTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: bugfix

#1368 Add ability use byte size scalables as graphql variables
  src/GraphQL.Tests/Execution/AstFromValueTests.cs
  src/GraphQL.Tests/Types/ByteGraphTypeTests.cs
  src/GraphQL.Tests/Types/SByteGraphTypeTests.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/ValueConverter.cs
Labels: bugfix

#1370 bump parser
  docs2/site/docs/getting-started/directives.md
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#1379 Change NameFieldResolver to public
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL/Resolvers/NameFieldResolver.cs
Labels: enhancement
