Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2019-12, with the labels that each got.

#1446 Check for redefinitions in SDL
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/NuGet.config
Labels: bugfix

#1450 Add some notes and badges in readme
  README.md
  src/GraphQL.sln
Labels: documentation

#1421 Stackoverflow check
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/GraphTypesLookup.cs
Labels: enhancement

#1454 bump parser version
  src/GraphQL/GraphQL.csproj
Labels: bugfix, dependencies

#1442 Change middleware Use to type-check and compile ahead of time
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL/Instrumentation/FieldResolverBuilderExtensions.cs
Labels: enhancement

#1462 Prevent use ObjectGraphType in QueryArgument
  src/GraphQL.Tests/Types/QueryArgumentTests.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: enhancement

#1452 Add more directive locations for visitors
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL/Reflection/SinglePropertyAccessor.cs
  src/GraphQL/Types/ComplexGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/DeprecatedDirectiveVisitor.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Utilities/ISchemaNodeVisitor.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
Labels: directives, enhancement
