Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-03, with the labels that each got.

#1549 Changes to IFieldNameConverter and related code
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/PascalCaseTests.cs
  src/GraphQL.Tests/Conversion/FieldNameConverterTests.cs
  src/GraphQL.Tests/Execution/Performance/ListPerformanceTests.cs
  src/GraphQL.Tests/Execution/Performance/StarWarsPerformanceTests.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL/Conversion/CamelCaseFieldNameConverter.cs
  src/GraphQL/Conversion/CamelCaseNameConverter.cs
  src/GraphQL/Conversion/DefaultFieldNameConverter.cs
  src/GraphQL/Conversion/DefaultNameConverter.cs
  src/GraphQL/Conversion/IFieldNameConverter.cs
  src/GraphQL/Conversion/INameConverter.cs
  src/GraphQL/Conversion/PascalCaseFieldNameConverter.cs
  src/GraphQL/Conversion/PascalCaseNameConverter.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: BREAKING, bugfix

#1582 Add object converter for GetArgument
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Utilities/SchemaDirectiveVisitor.cs
Labels: enhancement

#1564 Change static introspection field types to instances
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Tests/Bugs/Bug68NonNullEnumGraphTypeTests.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospection.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: BREAKING, discussion, enhancement, needs review

#1568 Remove pattern-based middleware
  docs2/site/docs/getting-started/field-middleware.md
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilderExtensions.cs
Labels: BREAKING, enhancement

#1588 Move ExecuteAsync overload to extension method
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/IDocumentExecuter.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
Labels: enhancement

#792 Expose ExecutionContext through the IDocumentExecutionListener
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL/DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/DocumentExecutionListener.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
Labels: BREAKING, enhancement

#1598 Add xml comments to IExecutionContext
  src/GraphQL/Execution/IExecutionContext.cs
Labels: documentation

#1601 Make ScalarGraphType.Serialize virtual
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanMillisecondsGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanSecondsGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
  src/GraphQL/Utilities/Federation/AnyScalarGraphType.cs
Labels: enhancement

#1609 Update README.md
  README.md
Labels: documentation

#1611 Expose Extensions
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionResultExtensions.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: enhancement

#1614 Remove extra xml comment in ExecutionContext.cs
  src/GraphQL/Execution/ExecutionContext.cs
Labels: documentation

#1613 Add Schema.Description property from draft spec
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.StarWars/StarWarsSchema.cs
  src/GraphQL.Tests/Files/PetComplex.graphql
  src/GraphQL.Tests/Introspection/IntrospectionResult.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospection.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: enhancement

#1612 Remove CommonAssemblyInfo.cs + cleanup
  src/CommonAssemblyInfo.cs
  src/Directory.Build.props
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.sln
  src/GraphQL/GraphQL.csproj
Labels: enhancement

#1615 Add xml comments to ExecutionResult
  src/GraphQL/Execution/ExecutionResult.cs
Labels: documentation

#993 stricter date parsing
  src/GraphQL.DataLoader.Tests/Models/Fake.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/Types/DateGraphTypeTests.cs
  src/GraphQL/Types/Scalars/DateGraphType.cs
Labels: BREAKING, bugfix

#1616 Scalars docs
  docs2/site/docs/getting-started/custom-scalars.md
  docs2/site/docs/getting-started/mutations.md
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/IAstFromValueConverter.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Utilities/Federation/AnyValueConverter.cs
Labels: documentation

#1623 Support for serialize custom ExecutionResult
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultContractResolver.cs
  src/GraphQL/Execution/ExecutionResult.cs
Labels: bugfix, enhancement

#1621 Fix validation rule for required arguments
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
Labels: bugfix, needs review

#1627 Fix AmbiguousMatchException for GetArgument
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.sln
  src/GraphQL/ObjectExtensions.cs
Labels: bugfix

#1629 DateTime <-> DateTimeGraphType mapping
  src/GraphQL.Tests/Bugs/Issue1082.cs
  src/GraphQL/Utilities/GraphTypeTypeRegistry.cs
Labels: bugfix
