Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-04, with the labels that each got.

#1632 Firecamp link added in readme
  README.md
Labels: documentation

#1475 add SourceLink and move to embedded pdb
  src/Directory.Build.props
  src/GraphQL.NewtonsoftJson/GraphQL.NewtonsoftJson.csproj
Labels: documentation, enhancement

#1638 Serialize any errors first
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/DocumentWriterTests.cs
Labels: enhancement

#1651 Add documentation for ThrowOnUnhandledException
  docs2/site/docs/getting-started/errors.md
Labels: documentation

#1647 Fixed federated directive printer when printing extended type.
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
Labels: directives, needs review

#1636 bugfix: Expected type "Decimal", found 39614081257132168796771975168.
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/Types/DecimalGraphTypeTests.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: bugfix

#1655 Update schema-generation.md
  docs2/site/docs/guides/schema-generation.md
Labels: documentation

#1653 ExecutionError.Data handles object keys
  .editorconfig
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/Bugs/Bug1652.cs
  src/GraphQL/EnumerableExtensions.cs
  src/GraphQL/Execution/ExecutionError.cs
Labels: bugfix

#1654 Move maxRecursionCount to options
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityConfiguration.cs
Labels: enhancement

#1659 Update schema-generation.md
  docs2/site/docs/guides/schema-generation.md
Labels: documentation

#1657 Fix errors.path property to return numbers for list indexes
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/DocumentWriterTests.cs
  src/GraphQL.Tests/Errors/ErrorLocationTests.cs
  src/GraphQL/Execution/ExecutionError.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Instrumentation/ApolloTracingExtensions.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: bugfix
