Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-01, with the labels that each got.

#1469 Add interface match check
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.StarWars/Types/CharacterInterface.cs
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL.Tests/Validation/ResultTypeValidationSchema.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/InterfaceGraphType.cs
  src/GraphQL/Types/ObjectGraphType.cs
Labels: bugfix, enhancement

#1470 Field description can be taken from the interface field
  src/GraphQL.Tests/Bugs/Issue1004.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Types/GraphTypesLookup.cs
Labels: enhancement

#1480 first param of ArgumentOutOfRangeException is param name
  src/GraphQL/Types/GraphType.cs
Labels: bugfix

#1476 move to PackageLicenseExpression
  src/GraphQL/GraphQL.csproj
Labels: enhancement

#1473 Fix for null default value for field arguments
  src/GraphQL.Tests/Introspection/IntrospectionResult.cs
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
  src/GraphQL/Introspection/__InputValue.cs
Labels: bugfix

#1471 Harness reworking
  README.md
  src/GraphQL.Harness.Tests/BasicTests.cs
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/GraphQLSettings.cs
  src/GraphQL.Harness/Program.cs
  src/GraphQL.Harness/Properties/launchSettings.json
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.Harness/app/app.css
  src/GraphQL.Harness/app/app.js
  src/GraphQL.Harness/appsettings.json
  src/GraphQL.Harness/public/index.html
  webpack.config.js
Labels: enhancement

#1438 [WIP] add editorconfig rules
  .editorconfig
Labels: enhancement

#1489 use is null instead of object.ReferenceEquals
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/ListType.cs
  src/GraphQL/Language/AST/NamedType.cs
  src/GraphQL/Language/AST/NonNullType.cs
  src/GraphQL/Language/AST/NullValue.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/SourceLocation.cs
  src/GraphQL/Language/AST/ValueNodes/EnumValue.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/AST/ValueNodes/ValueNode.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Types/GraphType.cs
Labels: code style

#1483 Block body for ctors
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL/DI/FuncServiceProvider.cs
  src/GraphQL/Instrumentation/ValueStopwatch.cs
  src/GraphQL/Language/AST/ValueNodes/BigIntValue.cs
  src/GraphQL/Language/AST/ValueNodes/BooleanValue.cs
  src/GraphQL/Language/AST/ValueNodes/ByteValue.cs
  src/GraphQL/Language/AST/ValueNodes/DateTimeOffsetValue.cs
  src/GraphQL/Language/AST/ValueNodes/DateTimeValue.cs
  src/GraphQL/Language/AST/ValueNodes/DecimalValue.cs
  src/GraphQL/Language/AST/ValueNodes/FloatValue.cs
  src/GraphQL/Language/AST/ValueNodes/GuidValue.cs
  src/GraphQL/Language/AST/ValueNodes/IntValue.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/LongValue.cs
  src/GraphQL/Language/AST/ValueNodes/SByteValue.cs
  src/GraphQL/Language/AST/ValueNodes/ShortValue.cs
  src/GraphQL/Language/AST/ValueNodes/StringValue.cs
  src/GraphQL/Language/AST/ValueNodes/TimeSpanValue.cs
  src/GraphQL/Language/AST/ValueNodes/UIntValue.cs
  src/GraphQL/Language/AST/ValueNodes/ULongValue.cs
  src/GraphQL/Language/AST/ValueNodes/UShortValue.cs
  src/GraphQL/Language/AST/ValueNodes/UriValue.cs
  src/GraphQL/Utilities/Federation/AnyScalarGraphType.cs
  src/GraphQL/Utilities/Federation/AnyValue.cs
Labels: code style

#1486 remove this.
  src/GraphQL.Tests/StarWars/StarWarsSubFieldsTest.cs
  src/GraphQL/Language/AST/Field.cs
Labels: code style

#1484 Parentheses can be removed
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
Labels: code style

#1488 Small fixes
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Types/QueryArgumentTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
Labels: code style

#1485 place using outside namespace
  .editorconfig
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Validation/SingleRootFieldSubscriptionsTests.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
Labels: code style

#1487 expression body for single line lambda
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
  src/GraphQL.StarWars/Types/DroidType.cs
  src/GraphQL.StarWars/Types/HumanType.cs
  src/GraphQL.Tests/Bugs/Bug1205VeryLongInt.cs
  src/GraphQL.Tests/Conversion/FieldNameConverterTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Instrumentation/Stats.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/UniqueDirectivesPerLocation.cs
Labels: code style

#1492 Add GraphiQL docs
  docs2/site/docs/getting-started/graphiql.md
Labels: documentation

#1494 update links to spec
  README.md
  docs2/site/docs/getting-started/errors.md
  docs2/site/docs/getting-started/query-validation.md
Labels: bugfix, documentation

#1493 fix link
  docs2/site/docs/getting-started/unions.md
Labels: bugfix

#1297 Benchmarks initial support [WIP]
  src/GraphQL.Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.Reference.md
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.sln
Labels: performance

#1498 Added Altair GraphQL Client usage to docs
  README.md
  docs2/site/docs/getting-started/altair-graphql.md
  docs2/site/sitemap.yml
Labels: documentation

#1441 Add IResolveFieldContext
  docs2/site/docs/getting-started/arguments.md
  docs2/site/docs/getting-started/errors.md
  docs2/site/docs/getting-started/field-middleware.md
  docs2/site/docs/getting-started/introduction.md
  docs2/site/docs/getting-started/subscriptions.md
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.DataLoader.Tests/Types/SubscriptionType.cs
  src/GraphQL.StarWars/Extensions/ResolveFieldContextExtensions.cs
  src/GraphQL.StarWars/StarWarsQuery.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Builders/IResolveConnectionContext.cs
  src/GraphQL/Builders/ResolveConnectionContext.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
  src/GraphQL/Instrumentation/FieldMiddlewareDelegate.cs
  src/GraphQL/Instrumentation/FieldResolverBuilderExtensions.cs
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
  src/GraphQL/Instrumentation/MiddlewareResolver.cs
  src/GraphQL/Reflection/AccessorFieldResolver.cs
  src/GraphQL/Reflection/ReflectionHelper.cs
  src/GraphQL/ResolveFieldContextExtensions.cs
  src/GraphQL/Resolvers/AsyncEventStreamResolver.cs
  src/GraphQL/Resolvers/AsyncFieldResolver.cs
  src/GraphQL/Resolvers/DelegateFieldModelBinderResolver.cs
  src/GraphQL/Resolvers/EventStreamResolver.cs
  src/GraphQL/Resolvers/ExpressionFieldResolver.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/IEventStreamResolver.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Subscription/IResolveEventStreamContext.cs
  src/GraphQL/Subscription/ResolveEventStreamContext.cs
  src/GraphQL/Types/ComplexGraphType.cs
  src/GraphQL/Types/IResolveFieldContext.cs
  src/GraphQL/Types/ObjectGraphTypeExtensions.cs
  src/GraphQL/Types/ResolveFieldContext.cs
  src/GraphQL/Utilities/Federation/FederatedResolveContext.cs
  src/GraphQL/Utilities/SyncToAsyncResolverAdapter.cs
Labels: enhancement

#1500 ResolveFieldContext performance enhancement
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.approved.txt
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/ReadonlyResolveFieldContext.cs
  src/GraphQL/Types/ResolveFieldContextAdapter.cs
Labels: performance

#1456 Heap allocation optimizations
  appveyor.yml
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.Reference.md
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.Benchmarks/SchemaForIntrospection.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.sln
  src/GraphQL/BoolBox.cs
  src/GraphQL/EnumerableExtensions.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Introspection/TypeKind.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/NullValue.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/ResolveFieldContextExtensions.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/BooleanGraphType.cs
  src/GraphQL/Types/ComplexGraphType.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/EnumerationGraphType.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Types/ResolveFieldContext.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/ValueConverter.cs
Labels: enhancement, performance

#1510 bump GraphQL-Parser to 5.0.1
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.Reference.md
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
Labels: dependencies, performance
