Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-12, with the labels that each got.

#2030 Fix serialization of SubscriptionExecutionResult for System.Text.Json
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
Labels: bugfix, subscriptions, test

#2031 GitHub Security Lab (GHSL) Vulnerability Report: GHSL-2020-231
  .github/workflows/wipcheck.yml
  src/Directory.Build.props
Labels: CI

#2034 Add built-in analyzers
  src/Directory.Build.props
Labels: code style

#2036 ISchema inherits IProvideMetadata
  .github/labeler.yml
  .github/workflows/label.yml
  docs2/site/docs/migrations/migration3.md
  src/Directory.Build.props
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Utilities/MetadataProvider.cs
Labels: CI, documentation, enhancement

#2049 Unify scalar conversions
  src/Directory.Build.props
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/Types/FloatGraphTypeTests.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/DateGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanMillisecondsGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanSecondsGraphType.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
Labels: bugfix, performance

#2051 XML comments for scalar graph types
  src/GraphQL.Tests/Types/ULongGraphTypeTests.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/DateGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanMillisecondsGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanSecondsGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
Labels: bugfix, documentation

#2060 Fix build process
  .github/workflows/test-code.yml
Labels: CI

#2061 DecimalValue check does not allocate memory
  .github/workflows/label.yml
  src/GraphQL.Tests/Types/DecimalGraphTypeTests.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
Labels: CI, performance

#2065 Add xml comments to ExecutionStrategy and ExecutionNode
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
Labels: documentation

#1899 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
  README.md
  src/GraphQL.sln
Labels: CI, documentation

#2068 Change DocumentExecuter.ExecuteAsync to virtual
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: enhancement

#2058 Extension methods to configure authorization requirements for GraphQL elements: types, fields, schema.
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug138DecimalPrecisionTests.cs
  src/GraphQL/AuthorizationExtensions.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
Labels: documentation, enhancement
