Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-05, with the labels that each got.

#1663 Add netstandard2.0 target for GraphQL.SystemTextJson
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
  src/GraphQL.SystemTextJson/JsonConverterBigInteger.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
Labels: enhancement

#1665 Readme update
  README.md
Labels: documentation

#1678 Better error message to #1676
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: enhancement

#1499 Remove unused properties from ResolveConnectionContext
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/ResolveFieldContext/IResolveConnectionContext.cs
  src/GraphQL/ResolveFieldContext/ResolveConnectionContext.cs
Labels: BREAKING, needs investigation, needs review

#1679 Allow full manipulation of Directives in AST node
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Language/AST/Directives.cs
Labels: enhancement

#1689 Add note about docs
  README.md
Labels: documentation

#1695 Remove duplicated interface
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
Labels: enhancement
