Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-10, with the labels that each got.

#1888 Fix default ui endpoints in documentation
  docs2/site/docs/getting-started/altair-graphql.md
  docs2/site/docs/getting-started/graphiql.md
Labels: documentation

#1886 Publish merged PRs as nuget packages to GitHub Packages
  .github/workflows/build-artifacts-code.yml
  src/Directory.Build.props
Labels: CI

#1891 fix check for interface covariance
  src/GraphQL.Tests/Bugs/Bug1889.cs
  src/GraphQL.Tests/Bugs/Bug1889_Nullability.cs
  src/GraphQL/GraphQLExtensions.cs
Labels: bugfix

#1892 Bump deps
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL/GraphQL.csproj
  src/Tests.props
Labels: dependencies

#1893 Fix for aliased list arguments
  src/GraphQL.Tests/Bugs/BugAliasedInputFieldInList.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: bugfix

#1904 Add check for [wip] in PR title
  .github/workflows/wipcheck.yml
Labels: CI

#1900 Add dependabot
  .github/dependabot.yml
Labels: CI

#1903 Add GitHub Action build checks
  .github/workflows/pr-tests-code.yml
  .github/workflows/pr-tests-docs.yml
Labels: CI

#1896 Prevent variable parsing errors from masking validation errors
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: bugfix

#1887 Do not register unused graph types
  .editorconfig
  src/GraphQL.Tests/Execution/RegisteredInstanceTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/Introspection/IntrospectionResult.cs
  src/GraphQL.Tests/Introspection/IntrospectionResult.json
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/GraphTypesLookup.cs
Labels: needs review

#1916 add solution folders
  src/GraphQL.sln
Labels: enhancement

#1920 Update Migration 2-> 3 doc for the Dataloader link
  docs2/site/docs/guides/migration3.md
Labels: documentation

#1922 DOTNET_SKIP_FIRST_TIME_EXPERIENCE
  .github/workflows/build-artifacts-code.yml
  .github/workflows/pr-tests-code.yml
  .github/workflows/wipcheck.yml
  src/Tests.props
Labels: CI

#1931 make ServiceProviderExtensions internal
  docs2/site/docs/guides/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.StarWars/StarWarsSchema.cs
  src/GraphQL/Utilities/ServiceProviderExtensions.cs
Labels: BREAKING

#1937 Fix GitHub Action scripts to push all nuget packages
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
Labels: CI

#1938 Add common status check for build checks
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
Labels: CI

#1941 Run code & documentation tests when workflows are modified
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
Labels: CI

#1942 Remove set-env from workflow
  .github/workflows/publish-code.yml
Labels: CI

#1944 Update query-validation.md
  docs2/site/docs/getting-started/query-validation.md
Labels: documentation

#1946 Add labeler
  .editorconfig
  .github/labeler.yml
  .github/workflows/label.yml
  src/GraphQL.Harness.Tests/ScenarioExtensions.cs
  src/GraphQL.sln
Labels: CI, code style, test

#1947 Fix code test workflow to always report buildcheck status
  .github/workflows/test-code.yml
Labels: CI

#1951 Fix 'hello world' sample
  docs2/site/docs/getting-started/introduction.md
Labels: documentation

#1954 Make types in GraphTypesLookup non static
  src/GraphQL/Types/GraphTypesLookup.cs
Labels: bugfix

#1962 Fix issue with custom subscription name
  src/Directory.Build.props
  src/GraphQL.Tests/Files/CustomSubscription.graphql
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: bugfix, test

#1956 Add docs and packages to release artifacts
  .github/workflows/publish-code.yml
Labels: CI, enhancement

#1961 Move ValidateName calls after NameConverter is applied
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Utilities/NameValidator.cs
Labels: enhancement, test

#998 Activating Open Collective
  README.md
  package.json
Labels: documentation

#1965 Docs update
  README.md
  docs2/site/docs/guides/migration2.md
  docs2/site/docs/guides/v0.11.0.md
  docs2/site/docs/guides/v0.8.0.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
  src/GraphQL/BoolBox.cs
  src/NuGet.config
Labels: documentation

#1968 Fix release workflow
  .github/workflows/publish-code.yml
Labels: CI

#1969 Move migration guides to separate sidemenu
  README.md
  docs2/site/docs/migrations/migration2.md
  docs2/site/docs/migrations/migration3.md
  docs2/site/docs/migrations/v0_11_0.md
  docs2/site/docs/migrations/v0_8_0.md
  docs2/site/sitemap.yml
Labels: documentation

#1970 Tweaks for NugetPackageExplorer green badges
  src/Directory.Build.props
  src/GraphQL.Harness/GraphQL.Harness.csproj
Labels: enhancement

#1972 Move reference to System.Buffers into GraphQL.NewtonsoftJson
  src/GraphQL.NewtonsoftJson/GraphQL.NewtonsoftJson.csproj
  src/GraphQL/GraphQL.csproj
Labels: enhancement

#1974 Small tweaks
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.sln
Labels: CI

#1975 Update the Link for FAQ in Migration 2-> 3
  docs2/site/docs/migrations/migration3.md
Labels: documentation

#1966 federation: check for existing __typename when modifying selection set
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
Labels: bugfix

#1976 Fix type registration for directive args
  .github/workflows/build-artifacts-code.yml
  src/GraphQL/Types/GraphTypesLookup.cs
Labels: CI, bugfix

#1979 Test for custom scalars in directives
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.StarWars/IoC/SimpleContainer.cs
  src/GraphQL.Tests/Bugs/BugWithCustomScalarsInDirective.cs
  src/GraphQL.Tests/MsDiContainer.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/StarWars/StarWarsTestBase.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: test
