Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-11, with the labels that each got.

#1980 Shorten api approval file names
  src/Directory.Build.props
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: test

#1987 Move migration4.md to correct folder & fix merge errors
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.sln
  src/Tests.props
Labels: documentation, test

#2005 Retain stack trace and unwrap exception for SinglePropertyAccessor + add tests for #1155
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Reflection/IAccessor.cs
  src/GraphQL/Reflection/SingleMethodAccessor.cs
  src/GraphQL/Reflection/SinglePropertyAccessor.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
Labels: bugfix, test

#2007 Retain stack trace and unwrap exception for DelegateFieldModelBinderResolver
  src/GraphQL/Resolvers/DelegateFieldModelBinderResolver.cs
Labels: bugfix, documentation

#2006 Add xml comments
  docs2/site/docs/getting-started/relay.md
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/GraphQLDocumentBuilder.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Instrumentation/FieldMiddlewareDelegate.cs
  src/GraphQL/Instrumentation/IFieldMiddleware.cs
  src/GraphQL/ResolveFieldContext/IResolveConnectionContext.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveConnectionContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Resolvers/AsyncFieldResolver.cs
  src/GraphQL/Resolvers/ExpressionFieldResolver.cs
  src/GraphQL/Resolvers/FieldResolverExtensions.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/ISchema.cs
Labels: documentation

#2019 Fix schema first issue - custom scalar with default value as GraphQLTypeReference!
  src/Directory.Build.props
  src/GraphQL/Types/QueryArgument.cs
Labels: bugfix

#2017 Add migration docs
  README.md
  docs2/site/docs/migrations/migration3.md
  src/GraphQL.sln
Labels: documentation

#2025 Fix schema first issue - custom scalar with default value as GraphQLTypeReference!
  src/Directory.Build.props
  src/GraphQL/Types/Fields/FieldType.cs
Labels: bugfix
