Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-07, with the labels that each got.

#1714 Add default ctors to AutoRegistering[Input]ObjectGraphType
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: bugfix

#1720 Stop escaping enum literals when used as default values
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix

#1725 Decimal precision fix
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Utilities/AstPrinter.cs
Labels: bugfix

#1694 Docs - Adding Scoped Services to dependency-injection.md
  docs2/site/docs/getting-started/dependency-injection.md
Labels: documentation

#1680 Added IProvideResolvedType
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/IHaveDefaultValue.cs
  src/GraphQL/Types/IProvideResolvedType.cs
Labels: enhancement

#1746 Fixes NREs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
Labels: bugfix

#1745 Add description to input object fields
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix
