Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-08, with the labels that each got.

#1693 Make sure error paths prefer aliases
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: bugfix

#1752 make SuccessfullyValidatedResult public
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Validation/ValidationResult.cs
Labels: enhancement

#1701 Raise errors upon failed coercion to meet graphql specifications
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1205VeryLongInt.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/InvalidValueException.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
Labels: bugfix

#1760 Add support for lists in default values
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix

#1762 Clarification on the changes to queries when organisation is used.
  docs2/site/docs/getting-started/query-organization.md
Labels: documentation

#1763 Prevent unnecessary wrapping of ExecutionErrors in DocumentExecuter
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/InvalidValueException.cs
Labels: enhancement

#1765 Add location information to query parsing errors
  src/GraphQL.Tests/Errors/QueryErrorTests.cs
  src/GraphQL/Execution/GraphQLDocumentBuilder.cs
  src/GraphQL/GraphQL.csproj
Labels: enhancement

#1770 Add missing SYNTAX_ERROR check to bad query test
  src/GraphQL.Tests/Errors/QueryErrorTests.cs
Labels: enhancement

#1769 Add checks for null DocumentExecuter parameters
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: enhancement

#1772 Change DocumentExecuter to throw for invalid operation name
  src/GraphQL.Tests/Bugs/Bug1772.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: enhancement

#1730 Add service provider to IResolveFieldContext - basic
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: discussion, enhancement

#1767 Wrap exception from ScalarGraphType.ParseXXX into InvalidValueException (prepare to fix validation rule for parsing variables)
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1767InvalidByte.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/InvalidValueException.cs
Labels: enhancement

#1777 Cleanup uses of Invariant.Check
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Invariant.cs
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: enhancement

#1782 Bump parser
  src/GraphQL/GraphQL.csproj
Labels: bugfix

#1735 Allow DocumentExecuter to return ExceptionErrors while parsing variables
  src/GraphQL.Tests/Execution/DocumentExecuterExceptions.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: bugfix

#1781 CoreToVanillaConverter cleanup
  src/GraphQL.Tests/CoreToVanillaConverterTests.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
Labels: enhancement

#1773 Clarify and unify conversion exceptions from resolver returned values
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: enhancement

#1787 DocumentExecuter does not properly hide unhandled exception error messages
  src/GraphQL.Tests/Bugs/Bug1156.cs
  src/GraphQL.Tests/Bugs/Bug1772.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: enhancement

#1785 Update ValidateNodeResult to throw InvalidOperationException
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Execution/AbstractTypeTests.cs
  src/GraphQL.Tests/Types/NonNullGraphTypeTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: enhancement

#1791 Change default field resolver message
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Bugs/Bug1205VeryLongInt.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL.Tests/Bugs/Issue1189.cs
  src/GraphQL.Tests/Errors/ErrorExtensionsTests.cs
  src/GraphQL.Tests/Errors/ErrorLocationTests.cs
  src/GraphQL.Tests/Execution/AbstractTypeTests.cs
  src/GraphQL.Tests/Types/NonNullGraphTypeTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
Labels: enhancement

#1793 Add checks for Schema.RegisterXXX methods
  src/GraphQL.Tests/Bugs/Bug1715.cs
  src/GraphQL/Types/Schema.cs
Labels: bugfix

#1794 remove Operation from ApolloTrace
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Instrumentation/ApolloTracingExtensions.cs
Labels: enhancement

#1786 Update exception types
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL/Execution/DocumentError.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/GraphQLDocumentBuilder.cs
  src/GraphQL/Execution/InvalidOperationError.cs
  src/GraphQL/Execution/InvalidVariableError.cs
  src/GraphQL/Execution/NoOperationError.cs
  src/GraphQL/Execution/SyntaxError.cs
  src/GraphQL/Execution/UnhandledError.cs
  src/GraphQL/Validation/ValidationError.cs
Labels: enhancement

#1799 Support UnhandledExceptionContext.ErrorMessage within DocumentExecuter
  src/GraphQL.Tests/Errors/UnhandledExceptionTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: bugfix

#1797 Remove ResolveFieldContextExtensions.TryAsyncResolve
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: enhancement

#1809 Add additional ErrorInfoProviderOptions
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Errors/ErrorInfoProviderTests.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/Execution/ErrorInfoProviderOptions.cs
Labels: enhancement

#1806 Add DocumentWriter constructors for both options and IErrorInfoProvider
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.SystemTextJson.approved.txt
  src/GraphQL.NewtonsoftJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
Labels: enhancement

#1812 Update error documentation
  docs2/site/docs/getting-started/errors.md
Labels: documentation

#1816 Provide IErrorInfoProvider sample
  docs2/site/docs/getting-started/errors.md
Labels: documentation

#1813 Add xml comments to DocumentWriter
  src/GraphQL.NewtonsoftJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
  src/GraphQL/IDocumentWriter.cs
Labels: documentation

#1821 Set RequestServices in Harness sample
  src/GraphQL.Harness/GraphQLMiddleware.cs
Labels: enhancement

#1820 Update Dependency Injection documentation
  docs2/site/docs/getting-started/dependency-injection.md
Labels: documentation

#1823 Export xmldoc to nuget
  src/Directory.Build.props
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: documentation

#1511 DataLoader rework for serial execution and fixing deadlocks
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderTestSchema.cs
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.DataLoader.Tests/Types/UserType.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTestBase.cs
  src/GraphQL/DataLoader/BatchDataLoader.cs
  src/GraphQL/DataLoader/CollectionBatchDataLoader.cs
  src/GraphQL/DataLoader/DataLoaderBase.cs
  src/GraphQL/DataLoader/DataLoaderContext.cs
  src/GraphQL/DataLoader/DataLoaderContextAccessor.cs
  src/GraphQL/DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL/DataLoader/DataLoaderExtensions.cs
  src/GraphQL/DataLoader/DataLoaderList.cs
  src/GraphQL/DataLoader/DataLoaderPair.cs
  src/GraphQL/DataLoader/DataLoaderResult.cs
  src/GraphQL/DataLoader/IDataLoader.cs
  src/GraphQL/DataLoader/IDataLoaderResult.cs
  src/GraphQL/DataLoader/SimpleDataLoader.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/TypeExtensions.cs
Labels: BREAKING, data loader, needs review

#1798 Add upgrade documentation
  docs2/site/docs/guides/migration3.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
Labels: documentation, needs review

#1828 Fix DefaultValuesOfCorrectType validation rule
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Validation/DefaultValuesOfCorrectTypeTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Validation/Errors/DefaultValuesOfCorrectTypeError.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
Labels: bugfix

#1825 Add Known Issues documentation
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/guides/known-issues.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
Labels: documentation
