Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-02, with the labels that each got.

#1495 Note about json converter
  docs2/site/docs/getting-started/errors.md
Labels: documentation

#1524 Add cancellationToken to IDocumentWriter.WriteAsync
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.SystemTextJson.approved.txt
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
  src/GraphQL/IDocumentWriter.cs
Labels: enhancement

#1529 fix deserialization in Harness
  src/GraphQL.Harness/GraphQLMiddleware.cs
Labels: bugfix

#1530 New DocumentWriter constructors
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.SystemTextJson.approved.txt
  src/GraphQL.NewtonsoftJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
Labels: enhancement

#1533 ExecutionNode.Path optimization v2
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
Labels: performance

#1525 Apply editorconfig
  src/GraphQL.Dummy/InternalClass.cs
  src/GraphQL.NewtonsoftJson/HttpResponseStreamWriter.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/Bugs/Bug68NonNullEnumGraphTypeTests.cs
  src/GraphQL.Tests/Bugs/Issue1152ExceptionDelegate.cs
  src/GraphQL.Tests/Bugs/Issue661.cs
  src/GraphQL.Tests/Errors/ErrorCodeTests.cs
  src/GraphQL.Tests/Errors/ErrorExtensionsTests.cs
  src/GraphQL.Tests/Errors/ErrorLocationTests.cs
  src/GraphQL.Tests/Execution/AbstractTypeTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/ServiceProviderExtensions.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Types/BooleanGraphTypeTests.cs
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL.Tests/Types/FloatGraphTypeTests.cs
  src/GraphQL.Tests/Types/Relay/ConnectionTypeTests.cs
  src/GraphQL.Tests/Types/Relay/EdgeTypeTests.cs
  src/GraphQL.Tests/Types/UriGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL/Builders/ResolveConnectionContext.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Instrumentation/Stats.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/LightweightCache.cs
  src/GraphQL/Reflection/SingleMethodAccessor.cs
  src/GraphQL/Types/ObjectGraphType.cs
  src/GraphQL/Types/Relay/DataObjects/Connection.cs
  src/GraphQL/Types/UnionGraphType.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/Federation/TypeConfigExtensions.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
Labels: code style

#1538 Add xml comments to IDocumentExecuter
  src/GraphQL/Execution/IDocumentExecuter.cs
Labels: documentation

#1539 Add xml comments to IExecutionStrategy
  src/GraphQL/Execution/IExecutionStrategy.cs
Labels: documentation

#1540 Add xml comments to IDocumentBuilder
  src/GraphQL/Execution/IDocumentBuilder.cs
Labels: documentation

#1544 Add xml comments to IProvideUserContext
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/IProvideUserContext.cs
Labels: documentation

#1550 Move IDisposable from ISchema to Schema
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: enhancement

#1554 Increase appveyor testing reliability
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
Labels: bugfix

#1551 Fix for ObjectDictionaryConverter
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.SystemTextJson.approved.txt
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Benchmarks/DeserializationBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/JsonConverterBigInteger.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/ObjectDictionaryConverterFacts.cs
  src/GraphQL/BoolBox.cs
Labels: performance

#1555 Add xml comments to IResolveFieldContext
  src/GraphQL/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/IResolveFieldContext.cs
  src/GraphQL/Types/ResolveFieldContext.cs
Labels: documentation

#1556 Add xml comments to field resolvers
  src/GraphQL/Resolvers/AsyncFieldResolver.cs
  src/GraphQL/Resolvers/ExpressionFieldResolver.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
Labels: documentation

#1552 Add xml comments to ISchema
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: documentation

#1557 Consolidate methods for JsonConverterBigInteger
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.SystemTextJson.approved.txt
  src/GraphQL.SystemTextJson/JsonConverterBigInteger.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
Labels: enhancement

#1558 Field name should begin with _
  .editorconfig
Labels: code style

#1559 Make ResolveFieldContextExtensions.As public
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/ResolveFieldContext.cs
  src/GraphQL/Types/ResolveFieldContextAdapter.cs
Labels: documentation, enhancement

#1537 Add DI support for Field Middleware, IFieldMiddleware interface
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/getting-started/field-middleware.md
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Harness/CountFieldMiddleware.cs
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/IDocumentExecuter.cs
  src/GraphQL/Execution/IProvideUserContext.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilderExtensions.cs
  src/GraphQL/Instrumentation/FieldResolverBuilderExtensions.cs
  src/GraphQL/Instrumentation/IFieldMiddleware.cs
  src/GraphQL/Instrumentation/IFieldMiddlewareBuilder.cs
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
  src/GraphQL/Resolvers/AsyncFieldResolver.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: discussion, enhancement

#1553 Add basic xml comments to IDocumentExecutionListener
  src/GraphQL/Execution/DocumentExecutionListener.cs
Labels: documentation

#924 Add documentation for enumerations (#758)
  docs2/site/docs/getting-started/schema-types.md
Labels: documentation

#1570 ArgumentNullException fix
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: bugfix

#1541 Add serialization benchmarks
  src/GraphQL.Benchmarks/Benchmarks/DeserializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.sln
Labels: performance

#1107 Mapping from field name to property expression name
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/BugNestedCollection.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: bugfix

#1577 More conversions
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Bug956.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/ObjectExtensions.cs
Labels: enhancement

#1583 Upgrade repo
  README.md
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.Harness/Program.cs
  src/GraphQL.Harness/Startup.cs
  src/Tests.props
Labels: documentation, enhancement

#1574 cut APIs: remove middlewareresolver and synctoasyncresolveradapter in favor of extension method
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Instrumentation/MiddlewareResolver.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Resolvers/FieldResolverExtensions.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Utilities/ISchemaNodeVisitor.cs
  src/GraphQL/Utilities/SyncToAsyncResolverAdapter.cs
Labels: BREAKING, enhancement
