Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2020-09, with the labels that each got.

#1826 Try to skip build on changes in docs
  appveyor.yml
Labels: enhancement

#1833 More upgrade notes
  docs2/site/docs/guides/migration3.md
Labels: documentation

#1841 Fixes tests for .Net Core 2.1 LTS and .Net Framework 4.8
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.Tests/Bugs/Bug138DecimalPrecisionTests.cs
  src/GraphQL.Tests/Types/BooleanGraphTypeTests.cs
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTestBase.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
Labels: bugfix

#1849 Docs: Update authorization.md code sample
  docs2/site/docs/getting-started/authorization.md
Labels: documentation

#1846 Setup GitHub Actions for develop branch
  .github/workflows/build-artifacts.yml
  .github/workflows/pr-tests-code.yml
  .github/workflows/pr-tests-docs.yml
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: enhancement

#1589 Remove SchemaFilter and NameConverter from ExecutionOptions
  docs2/site/docs/guides/migration4.md
  docs2/site/sitemap.yml
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL.Tests/Conversion/FieldNameConverterTests.cs
  src/GraphQL.Tests/Execution/Performance/ListPerformanceTests.cs
  src/GraphQL.Tests/Execution/Performance/StarWarsPerformanceTests.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.sln
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Types/ISchema.cs
Labels: BREAKING, needs review

#1852 Rethrow canceled operations properly; do not call unhandled exception delegate
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: enhancement

#1853 Fix error docs: underscores not visible
  docs2/site/docs/getting-started/errors.md
Labels: documentation

#1854 Misleading variable name in example
  docs2/site/docs/getting-started/mutations.md
Labels: documentation

#1836 Enhancement: allows enumeration members to be specified by underlying value
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
Labels: enhancement

#1859 Update xml comments for NameConverter
  src/GraphQL/Conversion/CamelCaseNameConverter.cs
  src/GraphQL/Conversion/INameConverter.cs
Labels: documentation

#1861 Blog link update for dataloader implementation for EF
  docs2/site/docs/guides/dataloader.md
Labels: documentation

#1860 Entity Framework Blog Series link update
  docs2/site/docs/getting-started/databases.md
Labels: documentation

#1864 Adds Join Monster .NET to the list of tools to use with GraphQL.NET
  docs2/site/docs/getting-started/databases.md
Labels: documentation

#1862 link update for 11 part blog series on GraphQL with .NET Core
  docs2/site/docs/guides/links.md
Labels: documentation

#1866 Change preview version number
  src/Directory.Build.props
Labels: CI

#1868 Docs
  README.md
  docs2/site/docs/getting-started/authorization.md
  docs2/site/docs/guides/known-issues.md
  src/GraphQL/GraphQL.csproj
Labels: documentation

#1871 small fixes
  docs2/site/docs/guides/known-issues.md
  docs2/site/docs/guides/migration3.md
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
Labels: documentation

#1865 Develop: Publish nuget artifacts to GitHub Packages
  .github/workflows/build-artifacts-code.yml
  .github/workflows/build-artifacts.yml
Labels: CI

#1872 Added maxBatchSize to DataLoaderContextExtensions
  src/GraphQL.ApiTests/ApiApprovalTests.PublicApi.GraphQL.approved.txt
  src/GraphQL/DataLoader/DataLoaderContextExtensions.cs
Labels: data loader

#1875 Fix package upload workflow
  .github/workflows/build-artifacts-code.yml
Labels: CI

#1876 Update for setup-dotnet workflow changes
  .github/workflows/pr-tests-code.yml
Labels: CI
