Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-11, with the labels that each got.

#2679 SchemaValidationVisitor now checks that ResolvedType was specified for Lists and NonNulls
  src/GraphQL.Tests/Bugs/Issue1837.cs
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: bugfix, test

#2680 Enable dependabot for github-actions
  .github/dependabot.yml
  .github/labeler.yml
Labels: CI

#2693 Add SchemaTypes.Initialize
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: enhancement

#2694 Enable SchemaPrinter to sort output
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Introspection/ISchemaComparer.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinterOptions.cs
Labels: enhancement, bugfix

#2709 Update GetArgument nullability definitions
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: bugfix

#2708 Allow nulls in data loaders to pass through
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader/DataLoaderBase.cs
  src/GraphQL.DataLoader/DataLoaderResult.cs
Labels: enhancement, test

#2706 Update nullability attribute of typed Source fields
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/Subscription/ResolveEventStreamContext.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: bugfix

#2707 Fix SchemaPrinter bug printing null lists
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix, test

#2711 Update OverlappingFieldsCanBeMerged to use HashSet
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
Labels: enhancement
