Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-03, with the labels that each got.

#2343 Rename ISchemaNodeVisitor methods, add additional checks
  docs2/site/docs/getting-started/directives.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/Visitors/DescriptionDirectiveVisitor.cs
  src/GraphQL.Tests/Utilities/Visitors/UppercaseDirectiveVisitor.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/BaseSchemaNodeVisitor.cs
  src/GraphQL/Utilities/Visitors/DeprecatedDirectiveVisitor.cs
  src/GraphQL/Utilities/Visitors/ISchemaNodeVisitor.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: documentation, enhancement, test

#2332 SchemaBuilder.AllowUnknownTypes/AllowUnknownFields
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Issue1189.cs
  src/GraphQL.Tests/Utilities/CustomGraphQLAttributeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Reflection/SingleMethodAccessor.cs
  src/GraphQL/Reflection/SinglePropertyAccessor.cs
  src/GraphQL/Utilities/FieldConfig.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/TypeConfig.cs
  src/GraphQL/Utilities/TypeSettings.cs
Labels: documentation, enhancement, test

#2344 Add tests for ArgumentsOfCorrectType
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
Labels: test

#2347 string instead of ROM in enum value
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: bugfix

#2346 Fix IsValidDefault for single-item list + add tests
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL/GraphQLExtensions.cs
Labels: enhancement, test

#2350 Add Existing implementations section
  docs2/site/docs/getting-started/directives.md
Labels: documentation

#2352 Separate data loaders into GraphQL.DataLoader project
  docs2/site/docs/guides/dataloader.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader/BatchDataLoader.cs
  src/GraphQL.DataLoader/CollectionBatchDataLoader.cs
  src/GraphQL.DataLoader/DataLoaderBase.cs
  src/GraphQL.DataLoader/DataLoaderContext.cs
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/DataLoaderContextExtensions.cs
  src/GraphQL.DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL.DataLoader/DataLoaderExtensions.cs
  src/GraphQL.DataLoader/DataLoaderList.cs
  src/GraphQL.DataLoader/DataLoaderPair.cs
  src/GraphQL.DataLoader/DataLoaderResult.cs
  src/GraphQL.DataLoader/GraphQL.DataLoader.csproj
  src/GraphQL.DataLoader/IDataLoader.cs
  src/GraphQL.DataLoader/IDataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/SimpleDataLoader.cs
  src/GraphQL.Tests/Execution/FuncFieldResolverTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.sln
Labels: BREAKING, data loader

#2360 Exclude projects from code coverage
  src/Directory.Build.targets
Labels: CI, test

#2362 Change double quotes to single quotes and remove new line in error messages
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1205VeryLongInt.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug1767InvalidByte.cs
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL.Tests/StarWars/StarWarsFragmentTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
  src/GraphQL.Tests/Validation/DefaultValuesOfCorrectTypeTests.cs
  src/GraphQL.Tests/Validation/InputFieldsAndArgumentsOfCorrectLengthTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Validation/Errors.Custom/InputFieldsAndArgumentsOfCorrectLengthError.cs
  src/GraphQL/Validation/Errors/ArgumentsOfCorrectTypeError.cs
  src/GraphQL/Validation/Errors/DefaultValuesOfCorrectTypeError.cs
  src/GraphQL/Validation/Errors/FieldsOnCorrectTypeError.cs
  src/GraphQL/Validation/Errors/FragmentsOnCompositeTypesError.cs
  src/GraphQL/Validation/Errors/KnownArgumentNamesError.cs
  src/GraphQL/Validation/Errors/KnownFragmentNamesError.cs
  src/GraphQL/Validation/Errors/NoFragmentCyclesError.cs
  src/GraphQL/Validation/Errors/NoUndefinedVariablesError.cs
  src/GraphQL/Validation/Errors/NoUnusedFragmentsError.cs
  src/GraphQL/Validation/Errors/NoUnusedVariablesError.cs
  src/GraphQL/Validation/Errors/OverlappingFieldsCanBeMergedError.cs
  src/GraphQL/Validation/Errors/PossibleFragmentSpreadsError.cs
  src/GraphQL/Validation/Errors/ProvidedNonNullArgumentsError.cs
  src/GraphQL/Validation/Errors/UniqueArgumentNamesError.cs
  src/GraphQL/Validation/Errors/UniqueFragmentNamesError.cs
  src/GraphQL/Validation/Errors/UniqueVariableNamesError.cs
  src/GraphQL/Validation/Errors/VariablesAreInputTypesError.cs
  src/GraphQL/Validation/Errors/VariablesInAllowedPositionError.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
Labels: bugfix, enhancement, test

#2361 SchemaPrinter prints default values of scalars + arguments uniqueness check in SchemaValidationVisitor
  src/GraphQL.Tests/Bugs/Bug2194.cs
  src/GraphQL.Tests/CultureTestHelper.cs
  src/GraphQL.Tests/FileExtensions.cs
  src/GraphQL.Tests/Files/SDL/Bug2194.graphql
  src/GraphQL.Tests/Files/SDL/CustomSubscription.graphql
  src/GraphQL.Tests/Files/SDL/PetAfterAll.graphql
  src/GraphQL.Tests/Files/SDL/PetBeforeAll.graphql
  src/GraphQL.Tests/Files/SDL/PetComplex.graphql
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: bugfix, test

#2363 Add FieldConfig.DefaultValue
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Utilities/FieldConfig.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: new API

#2365 Add ISchema.AdditionalTypeInstances
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: enhancement

#2369 Append LF to end of api approvals
  .editorconfig
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemReactive.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
Labels: code style, test

#2367 Make type reference classes public
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/GraphQLTypeReference.cs
Labels: bugfix, documentation

#2373 Bump GraphQL-Parser
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#2368 Add misc xml comments
  src/GraphQL.NewtonsoftJson/DocumentWriter.cs
  src/GraphQL.NewtonsoftJson/SchemaExtensions.cs
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/JsonConverterBigInteger.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
  src/GraphQL.SystemTextJson/SchemaExtensions.cs
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Collections/Interfaces.cs
  src/GraphQL/Types/Collections/PossibleTypes.cs
  src/GraphQL/Types/Collections/ResolvedInterfaces.cs
  src/GraphQL/Types/Collections/TypeFields.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/Federation/AnyScalarGraphType.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Utilities/Visitors/DeprecatedDirectiveVisitor.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: documentation

#2375 Change AstPrinter guts to internal
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Utilities/AstPrinter.cs
Labels: BREAKING, documentation

#2383 Add migration notes for cleanup
  docs2/site/docs/migrations/migration4.md
Labels: documentation

#2385 Add test for #2233
  src/GraphQL.Tests/Files/JSON/HumanInputIntrospectionResult.json
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
Labels: test

#2384 Fix documentation links
  docs2/site/docs/getting-started/directives.md
  docs2/site/docs/getting-started/field-middleware.md
Labels: documentation

#2386 Add ArgumentConfig and FieldConfig.ArgumentFor
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Utilities/ArgumentConfig.cs
  src/GraphQL/Utilities/FieldConfig.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/TypeConfig.cs
  src/GraphQL/Utilities/TypeSettings.cs
Labels: documentation, enhancement, test

#2388 Allow overriding built-in scalar graph type
  src/GraphQL.Tests/Bugs/Issue2387_OverrideBuiltInScalars.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/TypeCollectionContext.cs
Labels: enhancement, test

#2391 Add default implementation of ParseLiteral
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
Labels: enhancement

#2394 Apply dotnet-format
  .github/workflows/test-code.yml
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Issue2387_OverrideBuiltInScalars.cs
  src/GraphQL.Tests/Execution/FuncFieldResolverTests.cs
  src/GraphQL.Tests/Execution/MultithreadedTests.cs
  src/GraphQL.Tests/StringExtensionTests.cs
  src/GraphQL.Tests/Types/CustomScalarTests.cs
  src/GraphQL.Tests/Types/IdGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL.Tests/Utilities/Visitors/DescriptionDirectiveVisitor.cs
  src/GraphQL.Tests/Validation/OverlappingFieldsCanBeMergedTest.cs
  src/GraphQL.sln
  src/GraphQL/Execution/ExecutionError.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ArrayExecutionNode.cs
  src/GraphQL/Execution/Nodes/IParentExecutionNode.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__DirectiveLocation.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Language/AST/IHaveDirectives.cs
  src/GraphQL/Language/AST/IHaveName.cs
  src/GraphQL/Language/AST/IHaveValue.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Directives/Built-in/IncludeDirective.cs
  src/GraphQL/Types/Directives/Built-in/SkipDirective.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/Scalars/DateGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/VariableUsage.cs
Labels: CI, code style

#2393 Add type mapping documentation
  docs2/site/docs/getting-started/schema-types.md
Labels: documentation

#2392 Replace scalar after schema initialization
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.StarWars/IoC/SimpleContainer.cs
  src/GraphQL.Tests/Bugs/Issue2392_OverrideBuiltInScalars_Alt.cs
  src/GraphQL.Tests/MsDiContainer.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/Types/Collections/SchemaDirectives.cs
  src/GraphQL/Types/Directives/DirectiveGraphType.cs
  src/GraphQL/Types/IProvideResolvedType.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/Visitors/DeprecatedDirectiveVisitor.cs
Labels: BREAKING, bugfix, documentation, enhancement, test

#2357 Scalar documentation
  docs2/site/docs/getting-started/custom-scalars.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.Tests/Bugs/Issue2357_TestSamples.cs
  src/GraphQL.Tests/Types/Vector3ScalarTests.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
Labels: documentation, test

#2358 Update copyright
  LICENSE.md
  src/GraphQL/GraphQL.csproj
Labels: CI, code style

#2396 Fix test
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
Labels: test

#2397 Less AstPrinter.Print calls
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/AstExtensions.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Validation/Errors/DefaultValuesOfCorrectTypeError.cs
  src/GraphQL/Validation/Errors/FragmentsOnCompositeTypesError.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: BREAKING, bugfix, documentation, performance

#2403 Directives cleanup
  docs2/site/docs/getting-started/directives.md
  src/GraphQL.Tests/Files/JSON/AppliedDirectivesResult.json
  src/GraphQL.Tests/Introspection/AppliedDirectivesTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Types/Directives/AppliedDirective.cs
  src/GraphQL/Types/Directives/DirectiveArgument.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
Labels: bugfix, directives, documentation, test

#2379 Fix formatting for AstPrinter value nodes
  src/GraphQL.Tests/Language/ValueNodeTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL.Tests/Utilities/AstPrinterTests.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/ValueNodes/EnumValue.cs
  src/GraphQL/Language/AST/ValueNodes/FloatValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/StringValue.cs
  src/GraphQL/Language/AST/VariableReference.cs
  src/GraphQL/Utilities/AstPrinter.cs
Labels: bugfix, test

#2405 Update readme
  README.md
Labels: documentation

#2408 Fix to serialize ExecutionResult from subscriptions
  src/Directory.Build.props
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
Labels: bugfix, subscriptions

#2414 Format scalar docs
  docs2/site/docs/getting-started/custom-scalars.md
Labels: documentation

#2416 Fix to SchemaTypes.RebuildType
  src/Directory.Build.props
  src/GraphQL.Tests/Types/FieldRegistrationTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: bugfix, test

#2419 Delete UseRuntimeTypeMappings property
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/TypeExtensions.cs
Labels: bugfix, test

#2421 Fix GetGraphTypeFromGraphType and enumerable mappings
  docs2/site/docs/getting-started/schema-types.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/Tests.props
Labels: bugfix, documentation, test

#2424 Fix to constant case
  src/GraphQL.Tests/StringExtensionTests.cs
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/StringExtensions.cs
Labels: bugfix, test

#2426 Disable MSVS Nuget feed on Windows build
  .github/workflows/build-artifacts-code.yml
  .github/workflows/test-code.yml
  README.md
  docs2/site/docs/migrations/v0_11_0.md
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
Labels: CI

#2412 Add IServiceProvider wrapper to auto-create instances
  docs2/site/docs/getting-started/dependency-injection.md
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.MicrosoftDI.Tests/SelfActivatingServiceProviderTests.cs
  src/GraphQL.MicrosoftDI/SelfActivatingServiceProvider.cs
  src/GraphQL.StarWars/IoC/SimpleContainer.cs
  src/GraphQL.Tests/MsDiContainer.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/Tests.props
Labels: enhancement

#2430 Apply NRT annotations to scalars
  .github/workflows/wipcheck.yml
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
  src/GraphQL/Introspection/__DirectiveLocation.cs
  src/GraphQL/Introspection/__TypeKind.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/DateGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanMillisecondsGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanSecondsGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
  src/GraphQL/Utilities/Federation/AnyScalarGraphType.cs
Labels: CI, enhancement, test

#2431 Apply NRT annotations on extensions
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/MemoryExtensions.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/StringExtensions.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/VariableName.cs
Labels: enhancement

#2438 UseGraphiQLServer is obsolete, use UseGraphQLGraphiQL instead.
  docs2/site/docs/getting-started/graphiql.md
Labels: documentation

#2437 A few more xml comments
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Utilities/AstPrinter.cs
Labels: documentation

#2441 Fix GetGraphTypeFromType to support untyped IDataLoaderResult and throw for Task types
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL/TypeExtensions.cs
Labels: bugfix, test

#2444 Add missed constraints
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Utilities/ServiceProviderExtensions.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: bugfix

#2450 Bump dependencies for tests
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/Tests.props
Labels: dependencies

#2448 Fix argument type mapping regression
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: bugfix, test

#2451 Add GraphQLAuthorizeAttribute
  src/Directory.Build.props
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Authorization/AuthorizationExtensions.cs
  src/GraphQL/Authorization/GraphQLAuthorizeAttribute.cs
Labels: new API

#2459 Introduce GlobalSwitches.UseDeclaringTypeNames
  docs2/site/docs/getting-started/global-switches.md
  docs2/site/sitemap.yml
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/SchemaExtensions.cs
  src/GraphQL.SystemTextJson/SchemaExtensions.cs
  src/GraphQL.Tests/Bugs/Bug_nested_type_names_dont_conflict.cs
  src/GraphQL.sln
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/GraphType.cs
Labels: documentation, new API, test

#2466 Fix when building a schema with many type references
  src/Directory.Build.props
  src/GraphQL.Tests/Files/SDL/GitHub.graphql
  src/GraphQL.Tests/Utilities/SchemaBuilderFromGitHubTests.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: bugfix, test

#2467 Add additional checks to SchemaValidationVisitor
  src/Directory.Build.props
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL/Types/Composite/ObjectGraphTypeExtensions.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: enhancement, test
