Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-04, with the labels that each got.

#2491 Downgrade SDK to 5.0.201
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
Labels: CI

#2492 Bump GraphQL-Parser
  src/GraphQL.Tests/Files/SDL/GitHub.graphql
  src/GraphQL/GraphQL.csproj
Labels: dependencies, test

#2487 Allow SchemaBuilder to configured typed enums
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: bugfix, documentation, enhancement, test

#2490 Update migration notes for ExecutionResult.Data
  docs2/site/docs/migrations/migration4.md
Labels: documentation

#2502 Add more to data loader guide
  docs2/site/docs/guides/dataloader.md
Labels: data loader, documentation

#2505 Revert CI patch
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
Labels: CI

#2507 DeprecationReason as computed property stored in Metadata (in applieddirectives), also changes " to ' in some error messages
  src/Directory.Build.props
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Initialization/SchemaInitializationTestBase.cs
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL.Tests/Utilities/StringUtilsTests.cs
  src/GraphQL/DirectivesExtensions.cs
  src/GraphQL/Types/Collections/AppliedDirectives.cs
  src/GraphQL/Types/Directives/DirectiveArgument.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/DeprecatedDirectiveVisitor.cs
Labels: test

#2427 Add scoped connection builders
  .github/workflows/test-code.yml
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI.Tests/ConnectionAdapterTests.cs
  src/GraphQL.MicrosoftDI.Tests/ConnectionBuilderExtensionTests.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedContextBase.cs
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedResolveConnectionContextAdapter.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
Labels: CI, enhancement

#2512 Adds support for default values in ctor arguments of TType when doing context.GetArgument<TType>
  src/Directory.Build.props
  src/GraphQL.Tests/Bugs/Bug2509.cs
  src/GraphQL.Tests/IsExternalInit.cs
  src/GraphQL/ObjectExtensions.cs
Labels: enhancement, test

#2513 Make IsExternalInit internal
  src/GraphQL.Tests/IsExternalInit.cs
Labels: test

#2519 Optimize connection builder
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
Labels: bugfix, test

#2520 Better error handling for AppliedDirectivesValidationVisitor and SchemaValidationVisitor
  src/Directory.Build.props
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: bugfix, enhancement, test

#2521 Add additional deserialization extensions to GraphQL
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/GraphQLRequest.cs
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJsonTests.cs
  src/GraphQL.Tests/Serialization/ObjectDictionaryConverterFacts.cs
  src/GraphQL.Tests/Serialization/SystemTextJsonTests.cs
  src/GraphQL/Validation/DocumentValidator.cs
Labels: test

#2522 Add classes to deserialize Inputs objects directly
  src/Directory.Build.props
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/GraphQLRequest.cs
  src/GraphQL.NewtonsoftJson/InputsConverter.cs
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.SystemTextJson/InputsConverter.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJsonTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJsonTests.cs
Labels: enhancement, new API, test

#2527 DateTime value processing for DateTimeOffsetGraphType
  src/GraphQL.Tests/Types/DateTimeOffsetGraphTypeTests.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
Labels: enhancement

#2526 Mark ObjectDictionaryConverter as obsolete
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DeserializationBenchmark.cs
  src/GraphQL.NewtonsoftJson/InputsConverter.cs
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.SystemTextJson/InputsConverter.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/InputsConverterTests.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/StringExtensionTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/InputsConverterTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/ObjectDictionaryConverterTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/StringExtensionTests.cs
Labels: performance, test

#2530 Remove deprecated functionaliaty from the new SystemTextJson.FromJson methods
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/StringExtensionTests.cs
Labels: BREAKING, test
