Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-06, with the labels that each got.

#2553 Serialize Error Extensions in System.Text.Json with provided options
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/Bugs/Bug2553.cs
Labels: bugfix

#2568 Update InputObjectGraphType.cs
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: enhancement

#2569 More tests
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
Labels: test

#2559 Allow GetArgument with default value to operate on reference types
  src/GraphQL.Tests/Bugs/Bug2557.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: bugfix
