Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-12, with the labels that each got.

#2716 Prepare v5
  README.md
  src/Directory.Build.props
Labels: documentation

#2717 CodeQL support
  .github/workflows/codeql-analysis.yml
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
  src/GraphQL.Tests/Bugs/Bug781UnobservedTasks.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Types/GraphType.cs
Labels: CI

#2712 Support NET. 6.0
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/IsExternalInit.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/InputsConverterTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/ObjectDictionaryConverterTests.cs
Labels: CI

#2634 fix 'DateTimeOffset's Offset loss
  src/GraphQL.Tests/Types/DateTimeOffsetGraphTypeTests.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
Labels: bugfix, BREAKING

#2722 Enable OverlappingFieldsCanBeMerged validation rule by default
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
Labels: spec compliance

#2721 Change validation rules to use ValueTask
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/IValidationRule.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/3. UniqueDirectivesPerLocation.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/1. UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/2. VariablesAreInputTypes.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/3. NoUndefinedVariables.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/4. NoUnusedVariables.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/FragmentsOnCompositeTypes.cs
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownFragmentNames.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/LoneAnonymousOperation.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueFragmentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/Rules/UniqueOperationNames.cs
  src/GraphQL/Validation/TaskHelper.cs
Labels: test

#2725 OperationName for ValidationContext
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Validation/DocumentValidator.cs
Labels: bugfix

#2724 add dateonly and timeonly support
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/SchemaForIntrospection.cs
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateOnlyGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeOnlyGraphTypeTests.cs
  src/GraphQL.Tests/ValueConverterFacts.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Scalars/DateOnlyGraphType.cs
  src/GraphQL/Types/Scalars/TimeOnlyGraphType.cs
Labels: enhancement, new API

#2730 Add multi-TFM support for API approval tests
  .github/labeler.yml
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: CI, test

#2736 Update user-context.md
  docs2/site/docs/getting-started/user-context.md
Labels: documentation

#2720 Fix NRT annotations for Inputs
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Execution/Inputs.cs
  src/GraphQL/Execution/InputsExtensions.cs
Labels: enhancement

#2738 Use only actual TFMs for approvals
  src/GraphQL.ApiTests/ApiApprovalTests.cs
Labels: test

#2739 Update dependency-injection.md
  docs2/site/docs/getting-started/dependency-injection.md
Labels: documentation

#2744 Configure codecov to post fresh coverage comment
  .github/codecov.yml
  .github/labeler.yml
  src/GraphQL.sln
Labels: CI

#2696 Fix for 2695 - Schema.For does not always decode default values correctly
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Types/Schema.cs
Labels: bugfix, test

#2745 Fix some CodeQL warnings
  src/GraphQL.Tests/CoreToVanillaConverterTests.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/Execution/MutationTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsIntegrationTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL.Tests/Validation/OverlappingFieldsCanBeMergedTest.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: code style, test

#2746 Fix github-script@v5 usage
  .github/workflows/publish-code.yml
Labels: CI

#2750 Enable C#10
  src/Directory.Build.props
  src/GraphQL.Tests/Bugs/Bug2553.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: enhancement, code style

#2753 Initialize schema for all public methods in printers
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix

#2756 Update NRT annotations on ErrorInfo
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Execution/ErrorInfo.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
Labels: enhancement

#2758 Makes IDocumentCache asynchronous.
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Caching/DefaultCacheTests.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Caching/DefaultDocumentCache.cs
  src/GraphQL/Caching/IDocumentCache.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: enhancement, BREAKING

#2764 Remove Microsoft.Extensions.DependencyInjection.Abstractions reference
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
Labels: dependencies

#2761 Update README.md
  README.md
Labels: documentation

#2755 async UnhandledExceptionDelegate
  docs2/site/docs/getting-started/errors.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Tests/Bugs/Issue1152ExceptionDelegate.cs
  src/GraphQL.Tests/Errors/UnhandledExceptionTests.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/Nodes/ValueExecutionNode.cs
Labels: enhancement, documentation, BREAKING

#2766 Add InputExtensions; rename Extensions and Inputs
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/getting-started/variables.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.MicrosoftDI.Tests/AdapterTests.cs
  src/GraphQL.MicrosoftDI.Tests/ConnectionAdapterTests.cs
  src/GraphQL.MicrosoftDI/ScopedResolveConnectionContextAdapter.cs
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.SystemReactive/ExecutionResultExtensions.cs
  src/GraphQL.Tests/BasicQueryTestBase.cs
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL.Tests/Bugs/Issue2275.cs
  src/GraphQL.Tests/Bugs/Issue2387_OverrideBuiltInScalars.cs
  src/GraphQL.Tests/Bugs/Issue2392_OverrideBuiltInScalars_Alt.cs
  src/GraphQL.Tests/Bugs/NullableInputListTests.cs
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/Execution/DocumentExecuterExceptions.cs
  src/GraphQL.Tests/Execution/FuncFieldResolverTests.cs
  src/GraphQL.Tests/Execution/Performance/ListPerformanceTests.cs
  src/GraphQL.Tests/Execution/Performance/StarWarsPerformanceTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithReflectionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTestBase.cs
  src/GraphQL.Tests/Validation/ValidationTestBase.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: documentation, performance, test

#2770 Add forgotten ConfigureAwait(false) for v4
  src/GraphQL.DataLoader/BatchDataLoader.cs
  src/GraphQL.DataLoader/CollectionBatchDataLoader.cs
  src/GraphQL.MicrosoftDI/ScopedAsyncFieldResolver.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL/DirectivesExtensions.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Validation/DocumentValidator.cs
Labels: performance

#2768 Add forgotten ConfigureAwait(false)
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Validation/DocumentValidator.cs
Labels: performance

#2769 Suggested changes to IGraphQLBuilder
  src/GraphQL.MicrosoftDI.Tests/SelfActivatingServiceProviderTests.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilder.cs
  src/GraphQL.MicrosoftDI/SelfActivatingServiceProvider.cs
  src/GraphQL.StarWars/IoC/SimpleContainer.cs
  src/GraphQL.Tests/DI/DefaultServiceProviderTests.cs
  src/GraphQL/DI/DefaultServiceProvider.cs
  src/GraphQL/DI/IConfigureSchema.cs
  src/GraphQL/DI/IGraphQLBuilder.cs
Labels: enhancement, test

#2781 Minor updates to IGraphQLBuilder and related code
  src/GraphQL.MicrosoftDI.Tests/ServiceCollectionTests.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilder.cs
  src/GraphQL/AssemblyExtensions.cs
  src/GraphQL/DI/IGraphQLBuilder.cs
Labels: test

#2783 Remove inaccurate comment on AddGraphQL
  src/GraphQL.MicrosoftDI/GraphQLBuilderExtensions.cs
Labels: documentation

#2784 Add docs for DateOnly and TimeOnly
  docs2/site/docs/getting-started/schema-types.md
Labels: documentation

#2788 Rename ConfigureExecution to ConfigureExecutionOptions
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: documentation, BREAKING

#2785 Misc GraphQLBuilder changes
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/GraphQLBuilderExtensions.cs
  src/GraphQL.Tests/AssemblyExtensionTests.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: enhancement

#2795 Skip CLR type mappings when the CLR type is mapped with the DoNotMapClrType attribute
  docs2/site/docs/migrations/migration5.md
  src/GraphQL/AssemblyExtensions.cs
  src/GraphQL/DoNotMapClrTypeAttribute.cs
Labels: documentation

#2792 Update dependency-injection.md
  docs2/site/docs/getting-started/dependency-injection.md
Labels: documentation

#2793 Rename to builder
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: code style

#2779 Prevent context re-use for enumerables
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.Tests/Execution/FuncFieldResolverTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
Labels: documentation, test

#2794 Fix CodeQL warnings
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/StringExtensionTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/LightweightCache.cs
  src/GraphQL/Resolvers/AsyncEventStreamResolver.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/1. UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueFragmentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: performance, code style, test

#2800 IDocumentCache migration docs for v5
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#2799 Refactor prep for issue 2797
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: test

#2802 Eliminate empty catch
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
Labels: enhancement

#2803 Use System.Runtime.CompilerServices.Unsafe only for netstandard2.1
  src/GraphQL.Tests/Bugs/Bug_nested_type_names_dont_conflict.cs
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#2782 Refactor GraphQLBuilder to use configuration delegate
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQLBuilderExtensionTests.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQLBuilderTests.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilder.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilderExtensions.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
Labels: enhancement, documentation, BREAKING, test

#2723 Remove obsolete members from v5
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.SystemTextJson/InputsConverter.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
  src/GraphQL.SystemTextJson/StringExtensions.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/StringExtensionTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/ObjectDictionaryConverterTests.cs
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/TypeExtensionsTests.cs
  src/GraphQL.Tests/Types/AllScalarGraphTypeTests.cs
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/DocumentExecutionListener.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/IHaveSelectionSet.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/ValueNodes/ValueNode.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Utilities/Visitors/DeprecatedDirectiveVisitor.cs
Labels: documentation, BREAKING, test

#2810 Add DoNotRegisterAttribute
  docs2/site/docs/getting-started/dependency-injection.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/AssemblyExtensions.cs
  src/GraphQL/DoNotRegisterAttribute.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: enhancement, documentation, test, new API

#2811 Split IGraphQLBuilder to IServiceRegister
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
  src/GraphQL.DataLoader/GraphQLBuilderExtensions.cs
  src/GraphQL.MemoryCache/GraphQLBuilderExtensions.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQLBuilderTests.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilder.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilderExtensions.cs
  src/GraphQL.NewtonsoftJson/GraphQLBuilderExtensions.cs
  src/GraphQL.SystemTextJson/GraphQLBuilderExtensions.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/DI/IGraphQLBuilder.cs
  src/GraphQL/DI/IServiceRegister.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: documentation, BREAKING, test

#2773 EnumCaseAttribute
  docs2/site/docs/getting-started/schema-types.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
Labels: enhancement, documentation, test, new API

#2751 Rework of FederatedSchemaPrinter fix
  src/GraphQL.Tests/Utilities/Federation/FederatedSchemaPrinterTests.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix, test

#2801 Fix bug: schema instance was registered incorrectly by AddSchema
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: test

#2818 Generate received files for all TFMs in one test run.
  .github/labeler.yml
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
Labels: enhancement, CI, test

#2819 Add style checks
  .github/workflows/test-code.yml
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/DocumentWriterTests.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/StringExtensionTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Instrumentation/Metrics.cs
  src/GraphQL/Introspection/__DirectiveLocation.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/Reflection/ReflectionHelper.cs
  src/GraphQL/Reflection/SingleMethodAccessor.cs
  src/GraphQL/Reflection/SinglePropertyAccessor.cs
  src/GraphQL/Resolvers/DelegateFieldModelBinderResolver.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/ServiceProviderExtensions.cs
  src/GraphQL/Utilities/XmlDocumentationExtensions.cs
  src/GraphQL/Validation/Errors.Custom/InputFieldsAndArgumentsOfCorrectLengthError.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
Labels: code style, CI, test

#2820 Auto approve API
  src/GraphQL.ApiTests/ApiApprovalTests.cs
Labels: enhancement, test

#2809 Rename BuildNamedType into BuildGraphQLType
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: documentation, BREAKING, test

#2823 Fix SchemaExtensions.Run
  src/GraphQL/SchemaExtensions.cs
Labels: bugfix
