Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-05, with the labels that each got.

#2531 Serialization docs
  docs2/site/docs/getting-started/errors.md
  docs2/site/docs/guides/serialization.md
  docs2/site/sitemap.yml
Labels: documentation

#2548 Update directives doc links
  docs2/site/docs/getting-started/directives.md
Labels: bugfix, documentation

#2546 Correctly serialize Uris.
  src/GraphQL.Tests/Types/UriGraphTypeTests.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
Labels: bugfix
