Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-02, with the labels that each got.

#2239 Remove ExecutionNode.IsResultSet and memory for Source
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.SystemReactive.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ExecutionNode.cs
  src/GraphQL/Execution/Nodes/ObjectExecutionNode.cs
  src/GraphQL/Execution/Nodes/SubscriptionArrayExecutionNode.cs
  src/GraphQL/Execution/Nodes/SubscriptionObjectExecutionNode.cs
  src/GraphQL/Execution/Nodes/SubscriptionValueExecutionNode.cs
Labels: documentation, performance, test

#2244 Only net5 for local tests
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/Tests.props
Labels: CI, test

#2246 Add format column, fix GraphQL.NET naming
  .github/ISSUE_TEMPLATE/question.md
  README.md
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/getting-started/introduction.md
  docs2/site/docs/getting-started/relay.md
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/guides/dataloader.md
  docs2/site/docs/guides/links.md
  docs2/site/docs/guides/schema-generation.md
  docs2/site/sitemap.yml
Labels: documentation

#2247 Support for repeatable directives, refactored schema visitors (stateless), directives validation, small optimizations
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Introspection/AppliedDirectivesTests.cs
  src/GraphQL.Tests/Types/InvalidEnumGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/Visitors/DescriptionDirectiveVisitor.cs
  src/GraphQL.Tests/Utilities/Visitors/UppercaseDirectiveVisitor.cs
  src/GraphQL/ExperimentalFeatures.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveLocation.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Directives/DirectiveGraphType.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/BaseSchemaNodeVisitor.cs
  src/GraphQL/Utilities/Visitors/DeprecatedDirectiveVisitor.cs
  src/GraphQL/Utilities/Visitors/DirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/ISchemaNodeVisitor.cs
Labels: documentation, test

#2248 Codecov integration
  .github/workflows/test-code.yml
  src/Directory.Build.targets
  src/GraphQL.sln
  src/Tests.props
Labels: CI

#2250 Fix test
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
Labels: test

#2251 The ExecutionResult.Data property is serialized only if the request was executed.
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.Harness.Tests/GraphQLAssertion.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Bugs/Bug1156.cs
  src/GraphQL.Tests/Bugs/Bug1205VeryLongInt.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug1767InvalidByte.cs
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Issue1189.cs
  src/GraphQL.Tests/Bugs/NullArguments.cs
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/DocumentWriterTests.cs
  src/GraphQL.Tests/Errors/UnhandledExceptionTests.cs
  src/GraphQL.Tests/Execution/LongTests.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/StarWars/StarWarsFragmentTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionErrors.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Validation/ValidationResult.cs
Labels: bugfix, spec compliance, test

#2252 Change NameValidator's type argument to an enum
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Collections/QueryArguments.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Directives/AppliedDirective.cs
  src/GraphQL/Types/Directives/DirectiveArgument.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Utilities/NamedElement.cs
Labels: documentation, test

#2254 Use C# newer language features
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/SystemTestBase.cs
  src/GraphQL.Tests/Bugs/Issue661.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL/DocumentWriterExtensions.cs
  src/GraphQL/Instrumentation/Metrics.cs
  src/GraphQL/Types/Composite/UnionGraphType.cs
  src/GraphQL/Types/Relay/ConnectionType.cs
  src/GraphQL/Types/Relay/EdgeType.cs
  src/GraphQL/Utilities/XmlDocumentationExtensions.cs
Labels: code style

#2240 Additional memory reductions during serialization
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultContractResolver.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.NewtonsoftJson/ObjectPropertyArrayJsonConverter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/DocumentWriterTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/TestExtensions.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ArrayExecutionNode.cs
  src/GraphQL/Execution/Nodes/ExecutionNode.cs
  src/GraphQL/Execution/Nodes/ObjectExecutionNode.cs
Labels: documentation, performance, test

#2258 Patch for issue 1927 - adding a field where Type = ListGraphType
  src/GraphQL.Tests/Bugs/Issue1927ResolvedTypeWithType.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: test

#2259 Better type checks for NonNull and List
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Issue1927ResolvedTypeWithType.cs
  src/GraphQL.Tests/Types/ListGraphTypeTests.cs
  src/GraphQL.Tests/Types/NonNullGraphTypeTests.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
Labels: test

#2236 Update v4 migration documentation
  docs2/site/docs/guides/document-caching.md
  docs2/site/docs/migrations/migration4.md
  docs2/site/sitemap.yml
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
Labels: documentation, performance

#2261 Add MS-specific dependency injection extensions
  .github/workflows/test-code.yml
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI.Tests/AdapterTests.cs
  src/GraphQL.MicrosoftDI.Tests/FieldBuilderExtensionTests.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.MicrosoftDI.Tests/ScopedAsyncFieldResolverTests.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedContextBase.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedFieldResolverTests.cs
  src/GraphQL.MicrosoftDI.Tests/TestExtensions.cs
  src/GraphQL.MicrosoftDI/AssemblyInfo.cs
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
  src/GraphQL.MicrosoftDI/MissingRequestServicesException.cs
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedAsyncFieldResolver.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.sln
Labels: CI, documentation, test

#2268 SchemaPrinter fix for unknown enumeration value
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix

#2270 Add schema types validation
  README.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Files/JSON/IntrospectionResult.json
  src/GraphQL.Tests/Initialization/SchemaInitializationTestBase.cs
  src/GraphQL.Tests/Initialization/SchemaWithEmptyQueryTests.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/Visitors/DirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: documentation, enhancement, test

#2273 Add test for #1874
  src/GraphQL.Tests/Bugs/Issue1874.cs
Labels: test

#2274 Demo: Base64 conversion of byte arrays
  src/GraphQL.Tests/Bugs/Issue1874.cs
Labels: test

#2297 Update dotnet-format + langword in xml comments
  .github/workflows/test-code.yml
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL/DI/DefaultServiceProvider.cs
  src/GraphQL/DI/FuncServiceProvider.cs
  src/GraphQL/DataLoader/DataLoaderBase.cs
  src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Execution/ErrorInfoProviderOptions.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ExecutionNode.cs
  src/GraphQL/Execution/Nodes/NullExecutionNode.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/Reflection/IAccessor.cs
  src/GraphQL/Resolvers/AsyncFieldResolver.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: CI, code style

#2298 Fix AttributeUsage on GraphQLAttribute
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GraphQLMetadataAttribute.cs
Labels: enhancement

#2284 A little note about traces
  docs2/site/docs/getting-started/metrics.md
Labels: documentation

#2294 Introduce ExecutionContext.ExecutionStrategy
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI.Tests/AdapterTests.cs
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/IExecutionStrategy.cs
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/Language/AST/IDefinition.cs
  src/GraphQL/Language/AST/IHaveDirectives.cs
  src/GraphQL/Language/AST/ISelection.cs
  src/GraphQL/Reflection/AccessorFieldResolver.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
Labels: documentation, enhancement, test

#2295 Introduce IResolveFieldContext.Parent
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.Tests/Bugs/Issue899.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
Labels: BREAKING, documentation, enhancement, test

#1423 Remove unused scalars from SDL
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinterOptions.cs
Labels: BREAKING, enhancement

#2293 Add ScalarGraphType.CanParseXXX methods
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Validation/Rules/VariablesInAllowedPosition.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: bugfix, documentation, enhancement

#2283 GraphTypeTypeRegistry rework
  docs2/site/docs/getting-started/databases.md
  docs2/site/docs/getting-started/graphiql.md
  docs2/site/docs/getting-started/interfaces.md
  docs2/site/docs/getting-started/introduction.md
  docs2/site/docs/getting-started/lists-non-null.md
  docs2/site/docs/getting-started/malicious-queries.md
  docs2/site/docs/getting-started/metadata.md
  docs2/site/docs/getting-started/mutations.md
  docs2/site/docs/getting-started/queries.md
  docs2/site/docs/getting-started/query-organization.md
  docs2/site/docs/getting-started/query-validation.md
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/getting-started/subscriptions.md
  docs2/site/docs/getting-started/user-context.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Issue2275.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/Reflection/ReflectionHelper.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanSecondsGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Types/TypeCollectionContext.cs
  src/GraphQL/Utilities/GraphTypeTypeRegistry.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: bugfix, documentation, enhancement, test

#2304 Type names are easier to get
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/ListGraphTypeTests.cs
  src/GraphQL.Tests/Types/NonNullGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Types/Directives/DirectiveGraphType.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/TypeExtensions.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Errors/ArgumentsOfCorrectTypeError.cs
  src/GraphQL/Validation/Errors/DefaultValuesOfCorrectTypeError.cs
  src/GraphQL/Validation/Errors/FragmentsOnCompositeTypesError.cs
  src/GraphQL/Validation/Errors/KnownArgumentNamesError.cs
  src/GraphQL/Validation/Errors/PossibleFragmentSpreadsError.cs
  src/GraphQL/Validation/Errors/ProvidedNonNullArgumentsError.cs
  src/GraphQL/Validation/Errors/ScalarLeafsError.cs
  src/GraphQL/Validation/Errors/VariablesAreInputTypesError.cs
  src/GraphQL/Validation/Errors/VariablesInAllowedPositionError.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/Rules/VariablesAreInputTypes.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: documentation, enhancement, test

#2306 Add ISchema.ValueConverters
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: documentation

#2307 Cleanup ScalarGraphType
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
Labels: documentation, enhancement

#2308 Include fragment fields in context.SubFields
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/StarWars/StarWarsSubFieldsTest.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Fields.cs
Labels: bugfix, documentation, test

#2309 Test for duplicate type name for generic graph type
  src/GraphQL.Tests/Bugs/Bug2279.cs
Labels: test

#2314 Ignore duplicates in SchemaTypes.SetGraphType
  src/GraphQL.Tests/Bugs/Bug1046.cs
  src/GraphQL.Tests/Bugs/Bug1156.cs
  src/GraphQL.Tests/Bugs/Bug2279.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: bugfix, test

#2310 New complexity tests
  src/GraphQL.Tests/Complexity/ComplexityBasicTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestsWithLimits.cs
  src/GraphQL.Tests/Complexity/ComplexityValidationTests.cs
Labels: test

#2315 Fix 2.x -> 3.0 migration document
  docs2/site/docs/migrations/migration3.md
Labels: documentation

#2323 Update badges and CI
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  README.md
Labels: CI, documentation

#2324 Change generic type constraint of NonNullGraphType
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/Composite/NonNullGraphType.cs
Labels: bugfix

#2316 Remove ValidationOnSchemaInitialize
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Utilities/NameValidator.cs
Labels: documentation, test

#2325 Fix for GraphQLExtensions.GetNamedType/IsInputType/IsOutputType
  src/GraphQL.Tests/Bugs/Issue1837.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/QueryArgument.cs
Labels: bugfix, test

#2312 ExecutionStrategy cleanup
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL.Tests/TestExtensions.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ObjectExecutionNode.cs
  src/GraphQL/Execution/Nodes/RootExecutionNode.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: BREAKING, documentation, test

#2331 ExecutionErrors thread safe
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/ExecutionErrors.cs
  src/GraphQL/Execution/ExecutionResult.cs
Labels: bugfix, test
