Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2021-01, with the labels that each got.

#2064 Handle IDataLoaderResult properly within list graph types
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: bugfix

#2081 Fix more lgtm warnings
  README.md
  src/GraphQL.Benchmarks/SchemaForIntrospection.cs
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: code style, documentation

#2078 Add performance metrics xml comments
  src/GraphQL/Instrumentation/ApolloTrace.cs
  src/GraphQL/Instrumentation/ApolloTracingExtensions.cs
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
  src/GraphQL/Instrumentation/Metrics.cs
  src/GraphQL/Instrumentation/PerfRecord.cs
  src/GraphQL/Instrumentation/ValueStopwatch.cs
Labels: documentation

#2079 Remove LightweightCache.GetKey and .First
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/LightweightCache.cs
Labels: BREAKING, documentation

#2069 Add ExecutionNode constructor xml comments
  src/GraphQL/Execution/ExecutionNode.cs
Labels: documentation

#2075 Add connection and field builder xml comments
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: documentation

#2083 Updates to Apollo tracing
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Instrumentation/ApolloTrace.cs
  src/GraphQL/Instrumentation/ApolloTracingExtensions.cs
Labels: BREAKING, documentation

#2088 Bump dotnet-format
  .editorconfig
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  src/Directory.Build.props
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/Types/UserType.cs
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.StarWars/Types/DroidType.cs
  src/GraphQL.Tests/Bugs/Bug68NonNullEnumGraphTypeTests.cs
  src/GraphQL.Tests/Errors/ErrorExtensionsTests.cs
  src/GraphQL.Tests/Errors/ErrorInfoProviderTests.cs
  src/GraphQL.Tests/Errors/QueryErrorTests.cs
  src/GraphQL.Tests/Execution/Cancellation/CancellationTests.cs
  src/GraphQL.Tests/Execution/MutationTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Types/DateGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateTimeGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateTimeOffsetGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeSpanMillisecondsGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeSpanSecondsGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/CustomGraphQLAttributeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderNestedTypesTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTestBase.cs
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/DataLoader/DataLoaderList.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IErrorInfoProvider.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Instrumentation/Stats.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/NoUndefinedVariables.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/Rules/UniqueOperationNames.cs
  src/GraphQL/Validation/Rules/VariablesInAllowedPosition.cs
Labels: CI, code style

#2089 Add xml code comments to graph type classes and interfaces
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/Fields/IFieldType.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/IHaveDefaultValue.cs
  src/GraphQL/Types/Schema.cs
Labels: documentation

#1827 Mark DocumentListener.BeforeExecutionStepAwaited obsolete
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/DocumentExecutionListener.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
Labels: data loader

#2020 CollectTypes rework
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/TypeCollectionContext.cs
Labels: BREAKING, performance

#2094 Move IHaveDefaultValue.Type to IProvideResolvedType.Type
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/IHaveDefaultValue.cs
  src/GraphQL/Types/IProvideResolvedType.cs
Labels: BREAKING

#2095 Prevent failed build checks due to labeler
  .github/workflows/label.yml
Labels: CI

#2093 Change Connection.TotalCount to nullable int
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/Relay/DataObjects/Connection.cs
Labels: BREAKING

#2096 Labeler fix
  .github/workflows/label.yml
Labels: CI

#2080 Remove StatsReport and associated classes?
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Instrumentation/Stats.cs
Labels: BREAKING, documentation

#2098 Add xml comments to ExecutionErrors
  src/GraphQL/Execution/ExecutionErrors.cs
Labels: documentation

#1907 Add ISchema.Comparer
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Introspection/IntrospectionResult.json
  src/GraphQL.Tests/Introspection/SchemaIntrospection.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
  src/GraphQL/Introspection/ISchemaComparer.cs
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: documentation, enhancement, new API

#2099 Add xml comments to ExecutionHelper
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: documentation

#2103 Eliminate GraphTypeFromType call
  src/GraphQL/Validation/Rules/VariablesAreInputTypes.cs
Labels: enhancement, performance

#2100 Add xml comments for Inputs and IAccessor
  src/GraphQL/Execution/Inputs.cs
  src/GraphQL/Reflection/IAccessor.cs
Labels: documentation

#2101 Add xml comments for introspection types
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeKind.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/TypeNameMetaFieldType.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Introspection/__TypeKind.cs
Labels: documentation

#2104 Make GraphQLTypeReference internal
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/GraphQLTypeReference.cs
Labels: BREAKING

#2097 Add xml comments to graph type interfaces
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ListGraphType.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphTypeExtensions.cs
  src/GraphQL/Types/Composite/UnionGraphType.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/IImplementInterfaces.cs
  src/GraphQL/Types/IProvideResolvedType.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Types/Relay/PageInfoType.cs
  src/GraphQL/Types/TypeExtensions.cs
Labels: documentation

#2106 Remove ExecutionHelper.SubFieldsFor
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: BREAKING, documentation

#2107 Optimize allocations for ExecutionNode.GeneratePath + add test for RootExecutionNode
  .github/labeler.yml
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL/Execution/ExecutionNode.cs
Labels: CI, test

#2109 Add xml comments for Language.AST namespace
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Alias.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/CommentNode.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/IDefinition.cs
  src/GraphQL/Language/AST/IFragment.cs
  src/GraphQL/Language/AST/IHaveSelectionSet.cs
  src/GraphQL/Language/AST/INode.cs
  src/GraphQL/Language/AST/ISelection.cs
  src/GraphQL/Language/AST/IType.cs
  src/GraphQL/Language/AST/IValue.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/ListType.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/NamedType.cs
  src/GraphQL/Language/AST/NonNullType.cs
  src/GraphQL/Language/AST/NullValue.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/OperationType.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/SourceLocation.cs
  src/GraphQL/Language/AST/ValueNodes/BigIntValue.cs
  src/GraphQL/Language/AST/ValueNodes/BooleanValue.cs
  src/GraphQL/Language/AST/ValueNodes/ByteValue.cs
  src/GraphQL/Language/AST/ValueNodes/DateTimeOffsetValue.cs
  src/GraphQL/Language/AST/ValueNodes/DateTimeValue.cs
  src/GraphQL/Language/AST/ValueNodes/DecimalValue.cs
  src/GraphQL/Language/AST/ValueNodes/EnumValue.cs
  src/GraphQL/Language/AST/ValueNodes/FloatValue.cs
  src/GraphQL/Language/AST/ValueNodes/GuidValue.cs
  src/GraphQL/Language/AST/ValueNodes/IntValue.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/LongValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/AST/ValueNodes/SByteValue.cs
  src/GraphQL/Language/AST/ValueNodes/ShortValue.cs
  src/GraphQL/Language/AST/ValueNodes/StringValue.cs
  src/GraphQL/Language/AST/ValueNodes/TimeSpanValue.cs
  src/GraphQL/Language/AST/ValueNodes/UIntValue.cs
  src/GraphQL/Language/AST/ValueNodes/ULongValue.cs
  src/GraphQL/Language/AST/ValueNodes/UShortValue.cs
  src/GraphQL/Language/AST/ValueNodes/UriValue.cs
  src/GraphQL/Language/AST/ValueNodes/ValueNode.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/AST/VariableReference.cs
  src/GraphQL/Language/AST/Variables.cs
Labels: documentation

#2110 Updates for data loader xml comments.
  src/GraphQL/DataLoader/BatchDataLoader.cs
  src/GraphQL/DataLoader/CollectionBatchDataLoader.cs
  src/GraphQL/DataLoader/DataLoaderBase.cs
  src/GraphQL/DataLoader/DataLoaderContextExtensions.cs
  src/GraphQL/DataLoader/DataLoaderExtensions.cs
Labels: documentation

#2112 Add xml comments to VariableReference
  src/GraphQL/Language/AST/VariableReference.cs
Labels: documentation

#2113 Add xml comments to GraphQL.Language namespace
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Language/NodeExtensions.cs
Labels: documentation

#2116 Remove INode.IsEqualTo
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/CommentNode.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/INode.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/ListType.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/NamedType.cs
  src/GraphQL/Language/AST/NonNullType.cs
  src/GraphQL/Language/AST/NullValue.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/ValueNodes/BigIntValue.cs
  src/GraphQL/Language/AST/ValueNodes/BooleanValue.cs
  src/GraphQL/Language/AST/ValueNodes/ByteValue.cs
  src/GraphQL/Language/AST/ValueNodes/DateTimeOffsetValue.cs
  src/GraphQL/Language/AST/ValueNodes/DateTimeValue.cs
  src/GraphQL/Language/AST/ValueNodes/DecimalValue.cs
  src/GraphQL/Language/AST/ValueNodes/EnumValue.cs
  src/GraphQL/Language/AST/ValueNodes/FloatValue.cs
  src/GraphQL/Language/AST/ValueNodes/GuidValue.cs
  src/GraphQL/Language/AST/ValueNodes/IntValue.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/LongValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/AST/ValueNodes/SByteValue.cs
  src/GraphQL/Language/AST/ValueNodes/ShortValue.cs
  src/GraphQL/Language/AST/ValueNodes/StringValue.cs
  src/GraphQL/Language/AST/ValueNodes/TimeSpanValue.cs
  src/GraphQL/Language/AST/ValueNodes/UIntValue.cs
  src/GraphQL/Language/AST/ValueNodes/ULongValue.cs
  src/GraphQL/Language/AST/ValueNodes/UShortValue.cs
  src/GraphQL/Language/AST/ValueNodes/UriValue.cs
  src/GraphQL/Language/AST/ValueNodes/ValueNode.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/Language/AST/VariableReference.cs
  src/GraphQL/Utilities/Federation/AnyValue.cs
Labels: BREAKING, documentation, performance, test

#2118 Fix more lgtm warnings
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
Labels: enhancement

#1973 Subscriptions moved to separate package
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.SystemReactive.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.SystemReactive/ExecutionResultExtensions.cs
  src/GraphQL.SystemReactive/GraphQL.SystemReactive.csproj
  src/GraphQL.SystemReactive/SubscriptionDocumentExecuter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithReflectionTests.cs
  src/GraphQL.sln
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Subscription/ISubscriptionExecuter.cs
Labels: BREAKING, discussion, documentation, enhancement, subscriptions

#2120 Unify icon
  src/Directory.Build.props
  src/GraphQL.NewtonsoftJson/GraphQL.NewtonsoftJson.csproj
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
  src/GraphQL/GraphQL.csproj
Labels: bugfix

#2119 Add xml comments to complexity analyzer
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityConfiguration.cs
  src/GraphQL/Validation/Complexity/ComplexityResult.cs
  src/GraphQL/Validation/Complexity/IComplexityAnalyzer.cs
Labels: documentation

#2111 Rework of Locations structs
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/CoreToVanillaConverterTests.cs
  src/GraphQL.Tests/Language/CommentTests.cs
  src/GraphQL.Tests/Validation/OverlappingFieldsCanBeMergedTest.cs
  src/GraphQL.Tests/Validation/ValidationErrorAssertion.cs
  src/GraphQL/Execution/ExecutionError.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/GraphQLDocumentBuilder.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/Language/AST/SourceLocation.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Language/NodeExtensions.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Validation/Errors/VariablesInAllowedPositionError.cs
  src/GraphQL/Validation/ValidationError.cs
Labels: BREAKING, documentation, performance, test

#1964 Strict checks for GraphQL names
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/TypeNameMetaFieldType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Utilities/NameValidator.cs
Labels: enhancement, new API, test

#2117 Change NameNode to a struct
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
Labels: BREAKING, documentation, performance, test

#2130 Fix lgtm warning
  src/GraphQL/Execution/ExecutionHelper.cs
Labels: code style

#2127 Validation cleanup
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Validation/LoneAnonymousOperationTests.cs
  src/GraphQL/Validation/DebugNodeVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/Rules/KnownFragmentNames.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/LoneAnonymousOperation.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/Rules/UniqueDirectivesPerLocation.cs
  src/GraphQL/Validation/Rules/UniqueFragmentNames.cs
  src/GraphQL/Validation/Rules/UniqueOperationNames.cs
  src/GraphQL/Validation/Rules/VariablesAreInputTypes.cs
  src/GraphQL/Validation/Rules/VariablesInAllowedPosition.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: BREAKING, documentation, performance, test

#2129 Remove some unused methods
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/EnumerableExtensions.cs
  src/GraphQL/ObjectExtensions.cs
Labels: BREAKING

#2124 Change CoreToVanillaConverter members to be private
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/CoreToVanillaConverter.cs
Labels: BREAKING

#2128 More xml comments
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/DocumentWriterExtensions.cs
  src/GraphQL/EnumerableExtensions.cs
  src/GraphQL/Execution/DocumentExecutionListener.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/InputsExtensions.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
  src/GraphQL/Language/AST/ISelection.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/StringExtensions.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: documentation

#2137 Benchmark updates
  src/Directory.Build.props
  src/GraphQL.Benchmarks/Benchmarks/DeserializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/IntrospectionResult.cs
  src/GraphQL.Benchmarks/IntrospectionResult.json
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.Benchmarks/SchemaIntrospection.cs
Labels: performance

#2143 IsValidLiteralValue small optimization
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
Labels: performance

#2141 Add xml descriptions to GraphQLExtensions and TypeExtensions
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/TypeExtensions.cs
Labels: documentation

#2146 Optimize TrimGraphQLTypes and To[Camel/Pascal]Case
  src/GraphQL.Benchmarks/Benchmarks/ToCamelCaseBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/TrimGraphQLTypesBenchmark.cs
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/Utilities/GraphQLExtensionsTester.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/StringExtensions.cs
Labels: performance, test

#1919 Add test for variable coercion
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
Labels: test

#2151 Add System.Memory and enable new ToCamelCase code
  src/GraphQL/GraphQL.csproj
  src/GraphQL/StringExtensions.cs
Labels: performance

#2139 Validation improvements - revised
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/EnterLeaveListener.cs
  src/GraphQL/Validation/INodeVisitor.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/NodeVisitors.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/FragmentsOnCompositeTypes.cs
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/Rules/KnownFragmentNames.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/LoneAnonymousOperation.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/NoUndefinedVariables.cs
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
  src/GraphQL/Validation/Rules/NoUnusedVariables.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueDirectivesPerLocation.cs
  src/GraphQL/Validation/Rules/UniqueFragmentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/Rules/UniqueOperationNames.cs
  src/GraphQL/Validation/Rules/UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/VariablesAreInputTypes.cs
  src/GraphQL/Validation/Rules/VariablesInAllowedPosition.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: BREAKING, documentation, performance

#2153 TypeInfo.GetAncestors() -> TypeInfo.GetAncestor(int index)
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ValidationBenchmark.cs
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Harness/Properties/launchSettings.json
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: BREAKING, documentation, performance

#2156 Validation optimizations
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Language/AST/AbstractNode.cs
  src/GraphQL/Language/AST/Argument.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/Directive.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Field.cs
  src/GraphQL/Language/AST/FragmentDefinition.cs
  src/GraphQL/Language/AST/FragmentSpread.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/INode.cs
  src/GraphQL/Language/AST/InlineFragment.cs
  src/GraphQL/Language/AST/ListType.cs
  src/GraphQL/Language/AST/NameNode.cs
  src/GraphQL/Language/AST/NonNullType.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/AST/SelectionSet.cs
  src/GraphQL/Language/AST/ValueNodes/ListValue.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectField.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Language/AST/VariableDefinition.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/QueryArguments.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: performance

#2144 Remove Regex
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/StringExtensionTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/GraphQLExtensionsTester.cs
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/StringExtensions.cs
  src/GraphQL/Types/GraphTypesLookup.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Utilities/StringUtils.cs
Labels: BREAKING, documentation, performance, test

#2158 Validation optimizations: Tasks, List/iterators, Action/Func closures, etc
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: performance

#2162 Remove trailing whitespaces
  .editorconfig
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
  .github/workflows/wipcheck.yml
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/Tests.props
Labels: code style

#2160 Don't override argument null literals with default values
  docs2/site/docs/guides/known-issues.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: bugfix, documentation, test

#2167 Add Variable benchmarks
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Benchmarks/Variables.cs
Labels: performance

#2175 SchemaPrinter can print inputobject default values
  src/Directory.Build.props
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix, test

#2173 Add document caching interface - IDocumentCache
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.sln
  src/GraphQL/Caching/DefaultDocumentCache.cs
  src/GraphQL/Caching/IDocumentCache.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
Labels: documentation, enhancement, performance, test

#2181 Fix tests on .NET 4.8
  src/GraphQL.Tests/StringExtensionTests.cs
Labels: test

#2165 Change IResolveFieldContext.Arguments to ArgumentValue, fix HasArguments, add ParseDictionary
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/CamelCaseArgumentTest.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/ArgumentValue.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Variable.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: BREAKING, bugfix, documentation, enhancement, performance, test

#2183 Memory allocation optimizations [part 1]
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.Tests/Bugs/Bug1715.cs
  src/GraphQL.Tests/Types/GraphTypesLookupTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/ConstrainedArray.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionArrayPool.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeKind.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/MemoryExtensions.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/Types/Collections/PossibleTypes.cs
  src/GraphQL/Types/Collections/QueryArguments.cs
  src/GraphQL/Types/Collections/ResolvedInterfaces.cs
  src/GraphQL/Types/Collections/SchemaDirectives.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Collections/TypeFields.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/Composite/UnionGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
  src/GraphQL/Types/IImplementInterfaces.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Types/TypeCollectionContext.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Errors/KnownArgumentNamesError.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
Labels: documentation, performance, test

#2187 Fix tests for ru-RU locale
  .editorconfig
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
Labels: code style, performance, test

#2186 Performance improvements within ExecutionHelper
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/AST/Variables.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: documentation, performance

#2195 Remove TypeExtensions.As
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ExecutionListenerTests.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: BREAKING, code style

#2188 Add ReadonlyResolveFieldContext "pool"
  docs2/site/docs/guides/known-issues.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: documentation, performance

#2200 Print descriptions for enum values
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: bugfix, test

#2201 Bring back TypeExtensions.As calls
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: enhancement

#2209 Add lock for multithreaded initialization
  src/GraphQL.Tests/Execution/MultithreadedTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Types/ISchema.cs
Labels: bugfix, test

#2212 Static strategy instances
  src/GraphQL.ApiTests/GraphQL.SystemReactive.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.SystemReactive/SubscriptionDocumentExecuter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
Labels: performance

#2214 Optimize metrics collection
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
  src/GraphQL/Instrumentation/Metrics.cs
Labels: documentation, performance

#2216 ExecutionStrategy optimizations
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionNode.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ArrayExecutionNode.cs
  src/GraphQL/Execution/Nodes/ExecutionNode.cs
  src/GraphQL/Execution/Nodes/IParentExecutionNode.cs
  src/GraphQL/Execution/Nodes/NullExecutionNode.cs
  src/GraphQL/Execution/Nodes/ObjectExecutionNode.cs
  src/GraphQL/Execution/Nodes/RootExecutionNode.cs
  src/GraphQL/Execution/Nodes/ValueExecutionNode.cs
  src/GraphQL/Language/AST/Fields.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
Labels: documentation, performance, test

#2210 Move FieldMiddleware from ExecutionOptions to Schema
  docs2/site/docs/getting-started/field-middleware.md
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/Execution/MultithreadedTests.cs
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilder.cs
  src/GraphQL/Instrumentation/FieldMiddlewareBuilderExtensions.cs
  src/GraphQL/Instrumentation/IFieldMiddleware.cs
  src/GraphQL/Instrumentation/IFieldMiddlewareBuilder.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
Labels: BREAKING, documentation, performance, test

#2198 ROM from parser
  .editorconfig
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Language/CommentTests.cs
  src/GraphQL.Tests/Types/DecimalGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Execution/GraphQLDocumentBuilder.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Shim/DecimalData.cs
  src/GraphQL/Shim/Numbers.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: BREAKING, code style, documentation, performance, test

#2067 NET5 support
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
Labels: CI, enhancement, performance, test

#2217 New benchmark code
  src/GraphQL.Benchmarks/Benchmarks/DeserializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/IBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/SerializationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ValidationBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.Benchmarks/Program.cs
  src/GraphQL.Benchmarks/Properties/launchSettings.json
Labels: performance

#2197 Re-use ResolveFieldContextAdapter<T> instances
  src/GraphQL.Tests/Execution/FuncFieldResolverTests.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
Labels: performance, test

#2218 Add deserialize-variables stage to benchmarks
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
Labels: performance

#2219 Less allocations
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks.Merge/Alignment.cs
  src/GraphQL.Benchmarks.Merge/BenchmarkResult.cs
  src/GraphQL.Benchmarks.Merge/Column.cs
  src/GraphQL.Benchmarks.Merge/CommandLineOptions.cs
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Benchmarks.Merge/Merger.cs
  src/GraphQL.Benchmarks.Merge/Program.cs
  src/GraphQL.Benchmarks.Merge/Table.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.Reference.md
  src/GraphQL.sln
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/Language/AST/Arguments.cs
  src/GraphQL/Language/AST/Directives.cs
  src/GraphQL/Language/AST/Document.cs
  src/GraphQL/Language/AST/Fragments.cs
  src/GraphQL/Language/AST/Operations.cs
  src/GraphQL/Language/AST/VariableDefinitions.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/LoneAnonymousOperation.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationResult.cs
Labels: performance

#2223 Lazy load Metadata property
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Utilities/MetadataProvider.cs
Labels: performance

#2225 Prevent API tests from running twice
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
Labels: enhancement

#2224 Add global switches
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Utilities/NameValidator.cs
Labels: documentation, performance, test

#2227 Add note for xml comments
  docs2/site/docs/migrations/migration4.md
Labels: documentation

#2229 Eliminate ExpressionFieldResolver
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.StarWars/Types/CharacterInterface.cs
  src/GraphQL.StarWars/Types/DroidType.cs
  src/GraphQL.StarWars/Types/HumanType.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Resolvers/ExpressionFieldResolver.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: performance

#2230 Optimize memory usage
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.StarWars/StarWarsData.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/Errors/ErrorLocationTests.cs
  src/GraphQL.Tests/Errors/QueryErrorTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL.Tests/Validation/ValidationTestBase.cs
  src/GraphQL/EnumerableExtensions.cs
  src/GraphQL/Execution/ExecutionError.cs
  src/GraphQL/Language/AST/ValueNodes/ObjectValue.cs
  src/GraphQL/Utilities/AstPrinter.cs
  src/GraphQL/Utilities/MetadataProvider.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Utilities/TypeConfig.cs
  src/GraphQL/Utilities/TypeSettings.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/ValidationError.cs
Labels: performance

#2231 Add GlobalSwitches.EnableReadDefaultValueFromAttributes
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/TypeExtensions.cs
Labels: enhancement

#2232 Small fixes
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks.Merge/BenchmarkResult.cs
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Benchmarks.Merge/Table.cs
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
  src/GraphQL/AuthorizationExtensions.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/Collections/SchemaDirectives.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaDirectiveVisitor.cs
Labels: performance

#1451 GraphType first schema directives
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Tests/Bugs/Bug1715.cs
  src/GraphQL.Tests/Bugs/BugWithCustomScalarsInDirective.cs
  src/GraphQL.Tests/Conversion/FieldNameConverterTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL.Tests/Utilities/CustomGraphQLAttributeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL.Tests/Utilities/Visitors/DescriptionDirectiveVisitor.cs
  src/GraphQL.Tests/Utilities/Visitors/UppercaseDirectiveVisitor.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/DirectivesExtensions.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/SchemaExtensions.cs
  src/GraphQL/Types/AppliedDirective.cs
  src/GraphQL/Types/Collections/AppliedDirectives.cs
  src/GraphQL/Types/Collections/SchemaDirectives.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/IAbstractGraphType.cs
  src/GraphQL/Types/DirectiveArgument.cs
  src/GraphQL/Types/DirectiveGraphType.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Types/TypeExtensions.cs
  src/GraphQL/Utilities/AppliedDirectivesVisitor.cs
  src/GraphQL/Utilities/DeprecatedDirectiveVisitor.cs
  src/GraphQL/Utilities/DirectiveVisitorSelector.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/ISchemaNodeVisitor.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaDirectiveVisitor.cs
  src/GraphQL/Validation/Rules/KnownDirectives.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/VariablesAreInputTypes.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: directives, enhancement

#2235 Change ExecutionResult.Data internals from dictionaries to arrays
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultContractResolver.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.NewtonsoftJson/ObjectPropertyArrayJsonConverter.cs
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/ObjectDictionaryConverter.cs
  src/GraphQL.Tests/Bugs/Issue661.cs
  src/GraphQL.Tests/Execution/Performance/ThreadPerformanceTests.cs
  src/GraphQL.Tests/Execution/UnionInterfaceTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/TestExtensions.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ArrayExecutionNode.cs
  src/GraphQL/Execution/Nodes/ObjectExecutionNode.cs
Labels: documentation, performance, test

#2243 Fix name validator test
  src/GraphQL.ApiTests/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/NameValidatorTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Utilities/NameValidator.cs
Labels: CI, test
