Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-09, with the labels that each got.

#3313 Bump BenchmarkDotNet from 0.13.1 to 0.13.2
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
Labels: performance

#3320 Update UnionGraphType to support CLR references
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/UnionGraphTypeTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
Labels: bugfix

#3316 Prevent using graphtype as model
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/NonNullGraphTypeTests.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: test

#3314 Switch to Nullability.Source
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#3332 Add type integrity check when existing types are found
  src/GraphQL.Tests/Bugs/Bug1156.cs
  src/GraphQL.Tests/Bugs/Bug2279.cs
  src/GraphQL.Tests/Bugs/Bug3331.cs
  src/GraphQL.Tests/Bugs/Issue1927ResolvedTypeWithType.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: enhancement, test

#3334 Add migration notes for PR 3332
  docs2/site/docs/migrations/migration7.md
Labels: documentation

#3335 Review for #3316
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
Labels: documentation, test

#3336 Change <c> to <see cref/langword>
  src/GraphQL/BoolBox.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
  src/GraphQL/Extensions/AuthorizationExtensions.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Instrumentation/PerfRecord.cs
  src/GraphQL/Introspection/SchemaMetaFieldType.cs
  src/GraphQL/Introspection/TypeMetaFieldType.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Introspection/__TypeKind.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Types/Schema.cs
Labels: documentation
