Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-01, with the labels that each got.

#2824 Fix CodeQL issues
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/Bugs/Bug2635.cs
  src/GraphQL.Tests/Bugs/Bug781UnobservedTasks.cs
  src/GraphQL.Tests/Bugs/Issue1837.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ExecutionNode.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/TaskExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
Labels: code style

#2825 Introduce ValidationOptions
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ValidationBenchmark.cs
  src/GraphQL.Tests/Validation/ValidationTestBase.cs
  src/GraphQL.Tests/Validation/ValidationTestConfig.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationOptions.cs
Labels: documentation, performance, BREAKING, test, new API

#2826 Fix CodeQL warnings
  src/GraphQL.StarWars/Extensions/ResolveFieldContextExtensions.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/NullArguments.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: code style, test

#2832 Fix Newtonsoft.Json date parsing
  src/GraphQL.NewtonsoftJson/InputsConverter.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/InputsConverterTests.cs
Labels: test

#2828 Set Newtonsoft MaxDepth to 64 and add tests
  src/GraphQL.NewtonsoftJson/StringExtensions.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/InputsConverterTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/InputsConverterTests.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
Labels: enhancement, test

#2838 Tune dependabot
  .github/dependabot.yml
Labels: CI

#2841 Support naming policy in serializers
  docs2/site/docs/migrations/migration4.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultContractResolver.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/ApolloTraceJsonConverter.cs
  src/GraphQL.SystemTextJson/DocumentWriter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/Bugs/Bug2839NewtonsoftJson.cs
  src/GraphQL.Tests/Bugs/Bug2839SystemTextJson.cs
  src/GraphQL.Tests/DocumentWritersTestData.cs
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
Labels: documentation, bugfix, test

#2842 Note about Serialize
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
Labels: documentation

#2843 Fix number precision for Newtonsoft.Json
  docs2/site/docs/guides/known-issues.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.NewtonsoftJson/FixPrecisionConverter.cs
  src/GraphQL.NewtonsoftJson/GraphQL.NewtonsoftJson.csproj
  src/GraphQL.Tests/DocumentWritersTestData.cs
  src/GraphQL.Tests/QueryTestBase.cs
Labels: documentation, bugfix, test

#2847 Don't expose the disposed ServiceProvider instance
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
Labels: bugfix

#2849 Fix the docs for ResolveScopedAsync
  docs2/site/docs/getting-started/dependency-injection.md
Labels: documentation

#2852 Allow query to be not specified
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: bugfix

#2853 Bump parser
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.SystemReactive/SubscriptionDocumentExecuter.cs
  src/GraphQL.Tests/Bugs/BugWithCustomScalarsInDirective.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/CoreToVanillaConverterTests.cs
  src/GraphQL.Tests/Files/JSON/IntrospectionResult.json
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL.Tests/Introspection/AppliedDirectivesTests.cs
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL.Tests/Utilities/Visitors/UppercaseDirectiveVisitor.cs
  src/GraphQL.Tests/Validation/KnownDirectivesTests.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/GraphQLDocumentBuilder.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveLocation.cs
  src/GraphQL/Language/AST/Operation.cs
  src/GraphQL/Language/AST/OperationType.cs
  src/GraphQL/Language/CoreToVanillaConverter.cs
  src/GraphQL/Types/Directives/Built-in/DeprecatedDirective.cs
  src/GraphQL/Types/Directives/Built-in/IncludeDirective.cs
  src/GraphQL/Types/Directives/Built-in/SkipDirective.cs
  src/GraphQL/Types/Directives/DirectiveGraphType.cs
  src/GraphQL/Types/Directives/DirectiveLocation.cs
  src/GraphQL/Types/Directives/LengthDirective.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Validation/Errors/DirectivesInAllowedLocationsError.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/TypeInfo.cs
Labels: documentation, dependencies, performance, BREAKING, test

#2873 Only register writable properties for auto input types
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
Labels: enhancement, test

#2874 Only register readable properties for auto output graph types
  src/GraphQL.Tests/Types/AutoRegisteringGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: enhancement, test

#2875 Refactor SetFields; allow overriding behavior when building auto types
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: enhancement, documentation, test

#2877 Remove support for GraphQLMetadata attribute to set graph type name
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.Tests/Types/ObjectGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Types/GraphType.cs
Labels: enhancement, documentation, test

#2879 Add InputType and OutputType attributes
  docs2/site/docs/getting-started/custom-scalars.md
  docs2/site/docs/getting-started/schema-types.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/InputTypeAttribute.cs
  src/GraphQL/OutputTypeAttribute.cs
  src/GraphQL/TypeExtensions.cs
Labels: documentation, test

#2880 Auto registering graph types respect GraphQLAttributes
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/Authorization/GraphQLAuthorizeAttribute.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/InputNameAttribute.cs
  src/GraphQL/InputTypeAttribute.cs
  src/GraphQL/MetadataAttribute.cs
  src/GraphQL/NameAttribute.cs
  src/GraphQL/OutputNameAttribute.cs
  src/GraphQL/OutputTypeAttribute.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: documentation, test

#2882 Add Ignore attribute
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/IgnoreAttribute.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: enhancement, documentation, test

#2883 Tune validation rules
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Annotations/IsExternalInit.cs
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/1. UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/2. VariablesAreInputTypes.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/3. NoUndefinedVariables.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/4. NoUnusedVariables.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/Rules/KnownFragmentNames.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.GetRecursivelyReferencedFragments.cs
  src/GraphQL/Validation/ValidationContext.GetVariables.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationOptions.cs
Labels: documentation, performance

#2890 TEST
  .github/workflows/test-code.yml
Labels: documentation, code style, CI, test

#2815 Bump test packages
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness.Tests/SuccessResultAssertion.cs
  src/GraphQL.Harness.Tests/SystemTestBase.cs
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/Tests.props
Labels: dependencies, test

#2804 Boost IsValidValue/ToAST
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL/Annotations/DoesNotReturnAttribute.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Utilities/Federation/AnyScalarGraphType.cs
  src/GraphQL/Utilities/MetadataProvider.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: enhancement, documentation, test

#2884 Auto registering graph types respect NRT annotations
  .editorconfig
  .github/workflows/test-code.yml
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/TypeExtensionTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/TypeInformationTests.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/GraphQLAttribute.cs
  src/GraphQL/IdAttribute.cs
  src/GraphQL/IgnoreAttribute.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: enhancement, documentation, code style, CI, test

#2895 Fix approval signatures
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: test

#2891 AutoRegisteringObjectGraphType supports methods
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/GraphQLAttribute.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/IdAttribute.cs
  src/GraphQL/IgnoreAttribute.cs
  src/GraphQL/InputNameAttribute.cs
  src/GraphQL/InputTypeAttribute.cs
  src/GraphQL/MetadataAttribute.cs
  src/GraphQL/NameAttribute.cs
  src/GraphQL/ObjectExtensions.cs
  src/GraphQL/OutputNameAttribute.cs
  src/GraphQL/OutputTypeAttribute.cs
  src/GraphQL/Resolvers/MemberResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: enhancement, documentation, BREAKING, test
