Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-11, with the labels that each got.

#3378 Expand error message in GraphType.Initialize
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/UnionGraphTypeTests.cs
  src/GraphQL/Types/GraphType.cs
Labels: enhancement, test

#3362 Fix GraphQLName for classes named Type and GraphType
  src/GraphQL.Tests/TypeExtensionTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
Labels: bugfix

#3371 Fix validation of literal objects containing no properties
  src/GraphQL.Tests/Bugs/Issue3370.cs
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: bugfix

#3381 v5 fix: Fix validation of literal objects containing no properties (#3371)
  src/GraphQL.Tests/Bugs/Issue3370.cs
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: bugfix

#3380 Setup dotnet
  .github/workflows/build-artifacts-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
Labels: CI

#3383 Review of 3332+3334
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.Tests/Bugs/Bug2279.cs
  src/GraphQL.Tests/Bugs/Bug3331.cs
Labels: documentation, test

#3384 Fix accuracy of Apollo trace endTime property
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL/Instrumentation/ApolloTrace.cs
Labels: enhancement, test

#3390 Add missed properties in ExecutionResult copy-ctor
  src/GraphQL/Execution/ExecutionResult.cs
Labels: bugfix

#3329 Support .NET 7.0
  .github/workflows/build-artifacts-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  src/Directory.Build.props
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/GraphQLValuesCacheTests.cs
Labels: performance, CI, test

#3394 Prevent Schema.AllTypes too early initialization under debugger
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Types/Schema.cs
Labels: enhancement

#3352 Improve field description inheritance performance
  src/GraphQL.Tests/Bugs/Issue1004.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: performance

#3398 Introduce generic attributes
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL/Attributes/InputTypeAttribute.cs
  src/GraphQL/Attributes/OutputTypeAttribute.cs
Labels: new API

#3395 Introduce ExecutionError.Extensions
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Serialization/ExecutionErrorTests.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/Execution/Errors/ExecutionError.cs
Labels: new API

#3401 Simplify versioning
  .github/workflows/build-artifacts-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-code.yml
  .github/workflows/publish-documentation.yml
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: performance, CI, test

#3399 Introdude raw string literals
  src/GraphQL.Benchmarks/Queries.cs
  src/GraphQL.Benchmarks/Variables.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.Harness.Tests/BasicTests.cs
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL.Tests/Bugs/ArrayOfArrayTest.cs
  src/GraphQL.Tests/Bugs/BubbleUpTheNullToNextNullable.cs
  src/GraphQL.Tests/Bugs/Bug1046.cs
  src/GraphQL.Tests/Bugs/Bug1156.cs
  src/GraphQL.Tests/Bugs/Bug118SpacesInTypeNameTests.cs
  src/GraphQL.Tests/Bugs/Bug1205VeryLongInt.cs
  src/GraphQL.Tests/Bugs/Bug138DecimalPrecisionTests.cs
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
  src/GraphQL.Tests/Bugs/Bug1767InvalidByte.cs
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL.Tests/Bugs/Bug1889.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Bug2509.cs
  src/GraphQL.Tests/Bugs/Bug2553.cs
  src/GraphQL.Tests/Bugs/Bug271DateTimeInStringGraphTypeTests.cs
  src/GraphQL.Tests/Bugs/Bug2839NewtonsoftJson.cs
  src/GraphQL.Tests/Bugs/Bug2839SystemTextJson.cs
  src/GraphQL.Tests/Bugs/Bug2958DecimalPrecisionTests.cs
  src/GraphQL.Tests/Bugs/Bug3100.cs
  src/GraphQL.Tests/Bugs/Bug3194.cs
  src/GraphQL.Tests/Bugs/Bug956.cs
  src/GraphQL.Tests/Bugs/BugAliasedInputFieldInList.cs
  src/GraphQL.Tests/Bugs/BugNestedCollection.cs
  src/GraphQL.Tests/Bugs/Bug_nested_type_names_dont_conflict.cs
  src/GraphQL.Tests/Bugs/Issue1004.cs
  src/GraphQL.Tests/Bugs/Issue2357_TestSamples.cs
  src/GraphQL.Tests/Bugs/Issue2387_OverrideBuiltInScalars.cs
  src/GraphQL.Tests/Bugs/Issue2392_OverrideBuiltInScalars_Alt.cs
  src/GraphQL.Tests/Bugs/Issue3370.cs
  src/GraphQL.Tests/Conversion/FieldNameConverterTests.cs
  src/GraphQL.Tests/Execution/InputsTests.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Types/CustomScalarTests.cs
  src/GraphQL.Tests/Types/NonNullGraphTypeTests.cs
  src/GraphQL.Tests/Types/UnionGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
Labels: code style

#3403 Change some error messages
  src/GraphQL.Tests/Bugs/Bug3331.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Schema.cs
Labels: enhancement

#3402 Change error message for GetRequiredService
  src/GraphQL/Utilities/ServiceProviderExtensions.cs
Labels: enhancement

#3411 More raw string literals
  src/GraphQL.Benchmarks/Benchmarks/DeserializationBenchmark.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedExecutionStrategyTests.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Bugs/Bug2557.cs
  src/GraphQL.Tests/Bugs/BugAliasedInputFieldInList.cs
  src/GraphQL.Tests/Bugs/CamelCaseArgumentTest.cs
  src/GraphQL.Tests/Bugs/Issue1082.cs
  src/GraphQL.Tests/Bugs/Issue1127.cs
  src/GraphQL.Tests/Bugs/Issue1152ExceptionDelegate.cs
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL.Tests/Bugs/Issue1354.cs
  src/GraphQL.Tests/Execution/UnionInterfaceTests.cs
Labels: code style

#3422 Bump Newtonsoft.Json from 13.0.1 to 13.0.2
  src/GraphQL.NewtonsoftJson/GraphQL.NewtonsoftJson.csproj
  src/GraphQL.NewtonsoftJson/JsonSerializerSettings.cs
Labels: dependencies

#3416 Fix SubFields property for interfaces and unions
  src/GraphQL.Tests/Bugs/Bug3415.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
Labels: bugfix, test

#3423 New method to get variables values
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net5/GraphQL.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: new API

#3425 Switch to file-scoped namespaces
  src/GraphQL/BoolBox.cs
  src/GraphQL/ConstrainedArray.cs
  src/GraphQL/ExperimentalFeatures.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/GraphQLValuesCache.cs
  src/GraphQL/IConfigureAutoSchema.cs
  src/GraphQL/LightweightCache.cs
  src/GraphQL/Shim/Numbers.cs
  src/GraphQL/Transport/GraphQLRequest.cs
  src/GraphQL/Transport/IGraphQLSerializer.cs
  src/GraphQL/Transport/IGraphQLTextSerializer.cs
  src/GraphQL/Transport/OperationMessage.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/DateGraphType.cs
  src/GraphQL/Types/Scalars/DateOnlyGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeGraphType.cs
  src/GraphQL/Types/Scalars/DateTimeOffsetGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumCaseAttribute.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumValueDefinition.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumValues.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumValuesBase.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumValues_T.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/TimeOnlyGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanMillisecondsGraphType.cs
  src/GraphQL/Types/Scalars/TimeSpanSecondsGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
  src/GraphQL/Types/Scalars/UriGraphType.cs
  src/GraphQL/VariableName.cs
Labels: code style
