Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-03, with the labels that each got.

#2966 Have schema-first utilize method builder from AutoRegisteringObjectGraphType
  docs2/site/docs/getting-started/introduction.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Issue1189.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderNestedTypesTests.cs
  src/GraphQL/FromSourceAttribute.cs
  src/GraphQL/FromUserContextAttribute.cs
  src/GraphQL/Reflection/AccessorFieldResolver.cs
  src/GraphQL/Resolvers/EventStreamMethodResolver.cs
  src/GraphQL/Resolvers/MemberResolver.cs
  src/GraphQL/Resolvers/MethodResolver.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: test

#2979 Add tests for TimeSpanMillisecondsGraphType/TimeSpanSecondsGraphType
  src/Directory.Build.props
  src/GraphQL.Tests/Types/TimeSpanMillisecondsGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeSpanSecondsGraphTypeTests.cs
Labels: test

#2974 IObservable support for AutoRegisteringObjectGraphType
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithAutoGraphType.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithAutoGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: test

#2977 Have FieldDelegate use method builder from AutoRegisteringObjectGraphType
  docs2/site/docs/migrations/migration5.md
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: documentation

#2975 Allow ScopedAttribute to work with subscription fields
  src/GraphQL.MicrosoftDI.Tests/ScopedAttributeTests.cs
  src/GraphQL.MicrosoftDI/DynamicScopedEventStreamResolver.cs
  src/GraphQL.MicrosoftDI/ScopedAttribute.cs
  src/GraphQL.MicrosoftDI/ScopedResolveEventStreamContextAdapter.cs
Labels: enhancement, subscriptions

#2978 Cleanup old schema builder; expose minimal set of new helper methods.
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Reflection/ReflectionHelper.cs
  src/GraphQL/Resolvers/AsyncEventStreamResolver.cs
  src/GraphQL/Resolvers/DelegateFieldModelBinderResolver.cs
  src/GraphQL/Resolvers/EventStreamMethodResolver.cs
  src/GraphQL/Resolvers/EventStreamResolver.cs
  src/GraphQL/Resolvers/MemberResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
Labels: documentation

#2990 Fix STJ BigInteger JsonConverter
  src/GraphQL.SystemTextJson/JsonConverterBigInteger.cs
Labels: bugfix

#2993 Remove IResolveEventStreamContext, EventStreamFieldType, typed IEventStreamResolver
  docs2/site/docs/getting-started/subscriptions.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/Types/SubscriptionType.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedAttributeTests.cs
  src/GraphQL.MicrosoftDI/DynamicScopedEventStreamResolver.cs
  src/GraphQL.MicrosoftDI/ScopedAttribute.cs
  src/GraphQL.MicrosoftDI/ScopedResolveEventStreamContextAdapter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Execution/FuncFieldResolverTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Resolvers/AsyncEventStreamResolver.cs
  src/GraphQL/Resolvers/EventStreamMethodResolver.cs
  src/GraphQL/Resolvers/EventStreamResolver.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/IEventStreamResolver.cs
  src/GraphQL/Subscription/IResolveEventStreamContext.cs
  src/GraphQL/Subscription/ResolveEventStreamContext.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/EventStreamFieldType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: documentation, test

#2988 Allow method arguments with NameFieldResolver
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
Labels: test

#3003 Fix compiler errors
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Validation/ValidationOptions.cs
Labels: code style

#3007 Add IsAbstract check and Introduce EnableAbstractGenericParametersForInputObjectGraphType switch
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/ObjectExtensions.cs
Labels: enhancement

#2999 Add IGraphQLBuilder method(s) to build an auto-registering schema
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/Types/AutoSchemaTests.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
  src/GraphQL/IConfigureAutoSchema.cs
  src/GraphQL/Types/Collections/AutoRegisteringGraphTypeMappingProvider.cs
  src/GraphQL/Types/Collections/IGraphTypeMappingProvider.cs
  src/GraphQL/Types/Collections/ManualGraphTypeMappingProvider.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/TypeCollectionContext.cs
Labels: enhancement

#3014 Allow serialization of ExecutionError instances
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionErrorJsonConverter.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.NewtonsoftJson/GraphQLContractResolver.cs
  src/GraphQL.SystemTextJson/ExecutionErrorJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLSerializer.cs
  src/GraphQL.Tests/Bugs/Bug2553.cs
  src/GraphQL.Tests/Serialization/ExecutionErrorTests.cs
  src/GraphQL.Tests/Serialization/ExecutionResultTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/GraphQLSerializerTests.cs
Labels: enhancement

#3016 Add typed IDocumentExecuter
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/IDocumentExecuter.cs
Labels: new API

#3021 Add 'Then' data loader extension method for lists of data loader results.
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.DataLoader/DataLoaderExtensions.cs
Labels: enhancement, test

#3004 Subscription rework
  README.md
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.SystemReactive.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.SystemReactive/ExecutionResultExtensions.cs
  src/GraphQL.SystemReactive/GraphQL.SystemReactive.csproj
  src/GraphQL.SystemReactive/GraphQLBuilderExtensions.cs
  src/GraphQL.SystemReactive/SubscriptionDocumentExecuter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/Subscription/ObservableExtensionsTests.cs
  src/GraphQL.Tests/Subscription/SampleObservable.cs
  src/GraphQL.Tests/Subscription/SampleObserver.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithAutoGraphTypeTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithReflectionTests.cs
  src/GraphQL.sln
  src/GraphQL/Execution/DefaultExecutionStrategySelector.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/IExecutionStrategy.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Subscription/ObservableExtensions.cs
  src/GraphQL/Subscription/SubscriptionExecutionResult.cs
Labels: enhancement, subscriptions, BREAKING

#3024 Remove SubscriptionExecutionResult
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithAutoGraphTypeTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithReflectionTests.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Subscription/SubscriptionExecutionResult.cs
Labels: documentation, subscriptions, BREAKING

#3025 Add ScopedSubscriptionExecutionStrategy
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/GraphQLBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedSubscriptionExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
Labels: enhancement, subscriptions, new API

#3027 Add scoped execution strategy tests
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
  src/GraphQL.MicrosoftDI.Tests/ScopedExecutionStrategyTests.cs
Labels: subscriptions, test

#3031 Fix deserialization bug for batches containing null
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.NewtonsoftJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.NewtonsoftJson/GraphQLRequestListJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLRequestListJsonConverter.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
Labels: bugfix, test

#3032 Bump parser
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#3029 Add typed IDocumentExecuter (#3016)
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/IDocumentExecuter.cs
Labels: enhancement

#3028 Add ApolloTracingDocumentExecuter
  docs2/site/docs/getting-started/metrics.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL/Instrumentation/ApolloTracingDocumentExecuter.cs
Labels: enhancement, documentation, test, new API

#3034 Non-breaking changes for renaming subscription stuff
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Resolvers/EventStreamMethodResolver.cs
  src/GraphQL/Resolvers/EventStreamResolver.cs
Labels: enhancement

#3037 Cleanup build warnings
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Harness/CountFieldMiddleware.cs
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/InputsJsonConverter.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Validation/Errors/DefaultValuesOfCorrectTypeError.cs
  src/GraphQL/Validation/Errors/KnownArgumentNamesError.cs
  src/GraphQL/Validation/Errors/PossibleFragmentSpreadsError.cs
  src/GraphQL/Validation/Errors/ProvidedNonNullArgumentsError.cs
  src/GraphQL/Validation/Errors/ScalarLeafsError.cs
  src/GraphQL/Validation/Errors/VariablesInAllowedPositionError.cs
  src/Tests.props
Labels: enhancement, code style

#3036 Rename EventStream to SourceStream
  docs2/site/docs/getting-started/subscriptions.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/Types/SubscriptionType.cs
  src/GraphQL.MicrosoftDI/DynamicScopedSourceStreamResolver.cs
  src/GraphQL.MicrosoftDI/ScopedAttribute.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Resolvers/ISourceStreamResolver.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Utilities/FieldConfig.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: documentation

#3038 Rename SubscribeAsync to ResolveAsync and similar
  docs2/site/docs/getting-started/subscriptions.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/Types/SubscriptionType.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedAttributeTests.cs
  src/GraphQL.MicrosoftDI/DynamicScopedSourceStreamResolver.cs
  src/GraphQL.MicrosoftDI/ScopedAttribute.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/Reflection/ReflectionHelper.cs
  src/GraphQL/Resolvers/ISourceStreamResolver.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Utilities/FieldConfig.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: documentation, test

#3041 Order fragments for complexity analyzer
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/NestedFragmentsComparer.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
Labels: bugfix, test

#3044 Update spec links
  README.md
  docs2/site/docs/getting-started/directives.md
  docs2/site/docs/getting-started/errors.md
  docs2/site/docs/getting-started/query-validation.md
  docs2/site/docs/getting-started/schema-types.md
  docs2/site/docs/guides/known-issues.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL/Execution/ErrorInfo.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/GraphQLExtensions.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/NonNullGraphType.cs
  src/GraphQL/Utilities/NameValidator.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
Labels: documentation
