Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-04, with the labels that each got.

#3048 Update migration doc re serialization
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3053 Add note about GetRecursiveVariables
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3058 Small code style and xmldoc fixes
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Conversion/CamelCaseNameConverter.cs
  src/GraphQL/Conversion/DefaultNameConverter.cs
  src/GraphQL/Conversion/ValueConverter.cs
  src/GraphQL/Execution/DocumentError.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/Execution/ExecutionError.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/SchemaPrinter.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/ValidationError.cs
Labels: documentation, code style

#3059 Switch to coverlet.collector
  .github/workflows/test-code.yml
  src/Directory.Build.targets
  src/Tests.props
Labels: enhancement, bugfix, CI

#3060 Make tests that modify static variables run without parallelism
  src/GraphQL.Tests/Bugs/Bug2194.cs
  src/GraphQL.Tests/Bugs/Bug_nested_type_names_dont_conflict.cs
  src/GraphQL.Tests/CultureTestHelper.cs
  src/GraphQL.Tests/Extensions/PrintTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/StaticTestsCollection.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateOnlyGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateTimeGraphTypeTests.cs
  src/GraphQL.Tests/Types/DateTimeOffsetGraphTypeTests.cs
  src/GraphQL.Tests/Types/DecimalGraphTypeTests.cs
  src/GraphQL.Tests/Types/FloatGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeOnlyGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeSpanMillisecondsGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeSpanSecondsGraphTypeTests.cs
  src/GraphQL.Tests/Validation/ArgumentsOfCorrectTypeTests.cs
  src/GraphQL/GlobalSwitches.cs
Labels: CI, test

#3062 Apply some compiler suggestions + remove doubled newlines
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQLBuilderExtensionTests.cs
  src/GraphQL.SystemTextJson/GraphQLSerializer.cs
  src/GraphQL.Tests/Bugs/Bug2159.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/StarWars/StarWarsSubFieldsTest.cs
  src/GraphQL.Tests/Subscription/SubscriptionWithReflectionTests.cs
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL.Tests/Validation/OverlappingFieldsCanBeMergedTest.cs
  src/GraphQL.Tests/Validation/UniqueFragmentNamesTests.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Types/Relay/ConnectionType.cs
  src/GraphQL/Types/Relay/DataObjects/Connection.cs
  src/GraphQL/Utilities/StringUtils.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
Labels: code style

#3066 C#10: Natural type of a lambda expression
  src/GraphQL.Tests/Bugs/Issue2932_DemoDIGraphType.cs
  src/GraphQL.Tests/Types/ArgumentInformationTests.cs
  src/GraphQL/Types/ArgumentInformation.cs
Labels: code style

#3067 Add role support to authorization extensions
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL/Authorization/AuthorizationExtensions.cs
  src/GraphQL/Authorization/GraphQLAuthorizeAttribute.cs
Labels: enhancement, new API

#3070 Add ConfigureAwait(false) to tests
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
  src/GraphQL.Tests/Subscription/ObservableExtensionsTests.cs
Labels: test

#3071 Add migration note regarding RequestServices
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3077 Authorization update
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL/Authorization/AuthorizationExtensions.cs
  src/GraphQL/Authorization/GraphQLAuthorizeAttribute.cs
Labels: enhancement, new API

#3082 Rename to IsAnonymousAllowed
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL/Authorization/AuthorizationExtensions.cs
Labels: test

#3081 Rename GraphQLAuthorizeAttribute to AuthorizeAttribute
  docs2/site/docs/guides/known-issues.md
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL/Authorization/AuthorizeAttribute.cs
  src/GraphQL/Authorization/GraphQLAuthorizeAttribute.cs
Labels: documentation, test

#3079 Add AllowAnonymous extension method and attribute
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL/Authorization/AllowAnonymousAttribute.cs
  src/GraphQL/Authorization/AuthorizationExtensions.cs
Labels: documentation, test

#3092 Add test for lists of enums
  src/GraphQL.Tests/Bugs/Bug1699InvalidEnum.cs
Labels: test

#3094 Fix counting of nested named fragments
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: bugfix

#3096 Fix resolver docs
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3098 Update ToInputs sample in migration document
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3097 Add AutoSchema type
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/GraphQLBuilderExtensions.cs
  src/GraphQL/IConfigureAutoSchema.cs
  src/GraphQL/Types/AutoSchema.cs
Labels: bugfix, BREAKING

#3106 Fix error thrown for invalid operation name
  src/GraphQL.Tests/Bugs/Bug1772.cs
  src/GraphQL.Tests/DI.xUnit/PrepareDependencyInjectionAttribute.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: bugfix, test
