Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-02, with the labels that each got.

#2897 Tests for empty enum
  .github/workflows/codeql-analysis.yml
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: CI, test

#2902 EnumerationGraphType supports GraphQLAttributes
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/GraphQLAttribute.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/IgnoreAttribute.cs
  src/GraphQL/MetadataAttribute.cs
  src/GraphQL/NameAttribute.cs
  src/GraphQL/Types/Scalars/EnumerationGraphType.cs
Labels: enhancement, new API

#2903 Update middleware sample
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/Startup.cs
Labels: documentation

#2905 Allow parsing enum variable by native .NET type
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
Labels: enhancement, test

#2909 Ignore unmapped members when deserializing GraphQLRequest; default date parsing as string
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.NewtonsoftJson/GraphQLBuilderExtensions.cs
  src/GraphQL.NewtonsoftJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.NewtonsoftJson/JsonSerializerSettings.cs
  src/GraphQL.SystemTextJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/Serialization/DeserializationTests.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
  src/GraphQL.Tests/Serialization/NewtonsoftJson/InputsConverterTests.cs
Labels: documentation, test

#2910 Fix reader.Skip and add test
  src/GraphQL.NewtonsoftJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
Labels: test

#2911 Serialize OperationMessage.Type only if not null + skip unknown properties
  src/GraphQL.NewtonsoftJson/OperationMessageJsonConverter.cs
  src/GraphQL.SystemTextJson/OperationMessageJsonConverter.cs
  src/GraphQL.Tests/Serialization/OperationMessageTests.cs
Labels: enhancement

#2912 Change using statements
  src/GraphQL.MicrosoftDI/ScopedAsyncFieldResolver.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
Labels: code style

#2916 Another TParameterType variation
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ArgumentInformationTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/FromServicesAttribute.cs
  src/GraphQL/GraphQLAttribute.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: test

#2892 AutoRegisteringObjectGraphType supports field arguments
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI.Tests/ScopedAttributeTests.cs
  src/GraphQL.MicrosoftDI/DynamicScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/ScopedAttribute.cs
  src/GraphQL.Tests/Types/ArgumentInformationTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/ExpressionExtensions.cs
  src/GraphQL/FromServicesAttribute.cs
  src/GraphQL/GraphQLAttribute.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/IdAttribute.cs
  src/GraphQL/InputNameAttribute.cs
  src/GraphQL/InputTypeAttribute.cs
  src/GraphQL/MetadataAttribute.cs
  src/GraphQL/MissingRequestServicesException.cs
  src/GraphQL/NameAttribute.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
  src/GraphQL/Resolvers/MethodResolver.cs
  src/GraphQL/TypeExtensions.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: enhancement, documentation, test

#2917 Bump coverlet and PublicApiGenerator
  src/GraphQL.ApiTests/GraphQL.ApiTests.csproj
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/Tests.props
Labels: CI

#2920 Introduce IResolveFieldContext.Directives
  docs2/site/docs/migrations/migration5.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/ScopedResolveConnectionContextAdapter.cs
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.SystemReactive/SubscriptionExecutionStrategy.cs
  src/GraphQL.Tests/Bugs/Issue1981.cs
  src/GraphQL/Execution/DirectiveInfo.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: enhancement, test, new API

#2812 Introduce file scoped namespaces [DEMONSTRATION]
  .editorconfig
  src/GraphQL.ApiTests/ApiApprovalTests.cs
  src/GraphQL.StarWars/Extensions/ResolveFieldContextExtensions.cs
  src/GraphQL.StarWars/IoC/SimpleContainer.cs
  src/GraphQL.StarWars/StarWarsData.cs
  src/GraphQL.StarWars/StarWarsMutation.cs
  src/GraphQL.StarWars/StarWarsQuery.cs
  src/GraphQL.StarWars/StarWarsSchema.cs
  src/GraphQL.StarWars/Types/CharacterInterface.cs
  src/GraphQL.StarWars/Types/DroidType.cs
  src/GraphQL.StarWars/Types/EpisodeEnum.cs
  src/GraphQL.StarWars/Types/HumanInputType.cs
  src/GraphQL.StarWars/Types/HumanType.cs
  src/GraphQL.StarWars/Types/StarWarsCharacter.cs
Labels: code style

#2938 Alt for 2932 (supporting root types): support static methods
  src/GraphQL.Tests/Bugs/Issue2932_DemoDIGraphType.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/FromSource.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: test

#2941 Add struct support to auto registering graph types
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/FromSource.cs
  src/GraphQL/GraphQLAttribute.cs
  src/GraphQL/GraphQLMetadataAttribute.cs
  src/GraphQL/InputNameAttribute.cs
  src/GraphQL/InputTypeAttribute.cs
  src/GraphQL/MetadataAttribute.cs
  src/GraphQL/NameAttribute.cs
  src/GraphQL/OutputNameAttribute.cs
  src/GraphQL/OutputTypeAttribute.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: enhancement, test

#2944 Bump parser to latest
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#2943 Switch tests to work with real DI containers
  src/GraphQL.StarWars/IoC/SimpleContainer.cs
  src/GraphQL.Tests/Bugs/BugWithCustomScalarsInDirective.cs
  src/GraphQL.Tests/Bugs/Issue2392_OverrideBuiltInScalars_Alt.cs
  src/GraphQL.Tests/Bugs/Issue2932_DemoDIGraphType.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/DI.xUnit/DependencyInjectionAdapterData.cs
  src/GraphQL.Tests/DI.xUnit/DependencyInjectionDataAttribute.cs
  src/GraphQL.Tests/DI.xUnit/IDependencyInjectionAdapter.cs
  src/GraphQL.Tests/DI.xUnit/MicrosoftAdapter.cs
  src/GraphQL.Tests/DI.xUnit/PrepareDependencyInjectionAttribute.cs
  src/GraphQL.Tests/DI.xUnit/ServiceRegisterExtensions.cs
  src/GraphQL.Tests/Execution/MultithreadedTests.cs
  src/GraphQL.Tests/Execution/Performance/ListPerformanceTests.cs
  src/GraphQL.Tests/Execution/Performance/ThreadPerformanceTests.cs
  src/GraphQL.Tests/Execution/UnionInterfaceTests.cs
  src/GraphQL.Tests/MsDiContainer.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/Serialization/ExecutionResultTests.cs
  src/GraphQL.Tests/ServiceProviderExtensions.cs
  src/GraphQL.Tests/StarWars/StarWarsSubFieldsTest.cs
  src/GraphQL.Tests/StarWars/StarWarsTestBase.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
Labels: enhancement, test

#2946 Introduce RegistrationCompareMode
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MicrosoftDI/GraphQLBuilder.cs
  src/GraphQL.Tests/Bugs/BugWithCustomScalarsInDirective.cs
  src/GraphQL.Tests/Bugs/Issue2932_DemoDIGraphType.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/DI/RegistrationTests.cs
  src/GraphQL.Tests/DI/UnsupportedRegistrationsTests.cs
  src/GraphQL.Tests/Execution/Performance/ListPerformanceTests.cs
  src/GraphQL.Tests/Execution/Performance/ThreadPerformanceTests.cs
  src/GraphQL.Tests/Execution/UnionInterfaceTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/StarWars/StarWarsTestBase.cs
  src/GraphQL/DI/IServiceRegister.cs
  src/GraphQL/DI/RegistrationCompareMode.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: bugfix, test

#2949 Lock SDK version on 6.0.102
  .github/workflows/build-artifacts-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
Labels: CI

#2957 Use DirectiveLocation.VariableDefinition
  src/GraphQL/Introspection/ISchemaFilter.cs
  src/GraphQL/Validation/Complexity/IComplexityAnalyzer.cs
Labels: bugfix

#2959 Add SchemaBuilder.RunConfigurations
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: enhancement

#2960 Add SchemaBuilder.CreateSchema
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: enhancement

#2962 Fix rounding of decimal numbers for STJ
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
  src/GraphQL.SystemTextJson/InputsJsonConverter.cs
  src/GraphQL.Tests/Bugs/Bug2958DecimalPrecisionTests.cs
  src/GraphQL/GraphQLExtensions.cs
Labels: bugfix, test

#2965 Fix STJ bug
  src/GraphQL.SystemTextJson/GraphQLSerializer.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/GraphQLSerializerTests.cs
  src/GraphQL.Tests/Serialization/SystemTextJson/InputsConverterTests.cs
Labels: bugfix, test
