Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-08, with the labels that each got.

#3248 Prevent double initialization of graph types
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Files/JSON/AppliedDirectivesResult.json
  src/GraphQL.Tests/Files/JSON/IntrospectionResult.json
  src/GraphQL.Tests/StarWars/StarWarsIntrospectionTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/UnionGraphTypeTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/GraphType.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/TypeCollectionContext.cs
Labels: enhancement

#3256 Demonstrate issue 3233
  src/GraphQL.Tests/Bugs/Issue3233.cs
Labels: test

#3259 File-scoped namespaces for Harness project
  src/GraphQL.Harness/CountFieldMiddleware.cs
  src/GraphQL.Harness/GraphQLMiddleware.cs
  src/GraphQL.Harness/GraphQLSettings.cs
  src/GraphQL.Harness/GraphQLUserContext.cs
  src/GraphQL.Harness/Program.cs
  src/GraphQL.Harness/Startup.cs
Labels: code style

#3254 Update docs for ResolveType
  docs2/site/docs/getting-started/interfaces.md
Labels: documentation

#3260 File-scoped namespaces for GraphQL.MemoryCache and GraphQL.MicrosoftDI
  src/GraphQL.MemoryCache/MemoryCacheGraphQLBuilderExtensions.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.MemoryCache/MemoryDocumentCacheOptions.cs
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/DynamicScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/DynamicScopedSourceStreamResolver.cs
  src/GraphQL.MicrosoftDI/GraphQLBuilder.cs
  src/GraphQL.MicrosoftDI/MicrosoftDIGraphQLBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedAttribute.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/ScopedResolveConnectionContextAdapter.cs
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.MicrosoftDI/SelfActivatingServiceProvider.cs
Labels: code style

#3261 File-scoped namespaces for DataLoader and serialization projects
  src/GraphQL.DataLoader/BatchDataLoader.cs
  src/GraphQL.DataLoader/CollectionBatchDataLoader.cs
  src/GraphQL.DataLoader/DataLoaderBase.cs
  src/GraphQL.DataLoader/DataLoaderContext.cs
  src/GraphQL.DataLoader/DataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/DataLoaderDocumentListener.cs
  src/GraphQL.DataLoader/DataLoaderList.cs
  src/GraphQL.DataLoader/DataLoaderPair.cs
  src/GraphQL.DataLoader/DataLoaderResult.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderContextExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderGraphQLBuilderExtensions.cs
  src/GraphQL.DataLoader/IDataLoader.cs
  src/GraphQL.DataLoader/IDataLoaderContextAccessor.cs
  src/GraphQL.DataLoader/SimpleDataLoader.cs
  src/GraphQL.NewtonsoftJson/ExecutionErrorJsonConverter.cs
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.NewtonsoftJson/FixPrecisionConverter.cs
  src/GraphQL.NewtonsoftJson/GraphQLContractResolver.cs
  src/GraphQL.NewtonsoftJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.NewtonsoftJson/GraphQLRequestListJsonConverter.cs
  src/GraphQL.NewtonsoftJson/GraphQLSerializer.cs
  src/GraphQL.NewtonsoftJson/HttpResponseStreamWriter.cs
  src/GraphQL.NewtonsoftJson/InputsJsonConverter.cs
  src/GraphQL.NewtonsoftJson/JsonArrayPool.cs
  src/GraphQL.NewtonsoftJson/JsonSerializerSettings.cs
  src/GraphQL.NewtonsoftJson/NewtonsoftJsonGraphQLBuilderExtensions.cs
  src/GraphQL.NewtonsoftJson/OperationMessageJsonConverter.cs
  src/GraphQL.NewtonsoftJson/SchemaExtensions.cs
  src/GraphQL.SystemTextJson/ApolloTraceJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionErrorJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLRequestListJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLSerializer.cs
  src/GraphQL.SystemTextJson/InputsJsonConverter.cs
  src/GraphQL.SystemTextJson/JsonConverterBigInteger.cs
  src/GraphQL.SystemTextJson/OperationMessageJsonConverter.cs
  src/GraphQL.SystemTextJson/SchemaExtensions.cs
  src/GraphQL.SystemTextJson/SystemTextJsonGraphQLBuilderExtensions.cs
  src/GraphQL/Shim/DecimalData.cs
Labels: code style

#3263 Set ExposeData to false by default
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.Tests/Errors/ErrorInfoProviderTests.cs
  src/GraphQL/Execution/ErrorInfoProviderOptions.cs
Labels: BREAKING

#3271 Add warning notice about Harness project and middleware
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/GraphQL.Harness/GraphQLMiddleware.cs
Labels: documentation

#3245 Obsolete old Field APIs + add docs about recommended ones
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphTypeExtensions.cs
Labels: documentation

#3269 Verify AutoRegisteringInputObjectGraphType works for init-only setters
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
Labels: test

#3278 Remove dependency on Nito.AsyncEx.Context
  .github/workflows/test-code.yml
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.MicrosoftDI.Tests/GraphQL.MicrosoftDI.Tests.csproj
Labels: test

#3277 Change to Use calls with IConfigureExecution.SortOrder
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesExecutionBase.cs
  src/GraphQL.MemoryCache/MemoryCacheGraphQLBuilderExtensions.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL.Tests/PersistedQueries/AutomaticPersistedQueriesTests.cs
  src/GraphQL/DI/ConfigureExecutionOptions.cs
  src/GraphQL/DI/IConfigureExecution.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: enhancement, BREAKING

#3272 Rewrite IDocumentCache as IConfigureExecution
  README.md
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/guides/document-caching.md
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.MemoryCache/MemoryCacheGraphQLBuilderExtensions.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/Caching/DefaultCacheTests.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.sln
  src/GraphQL/Caching/DefaultDocumentCache.cs
  src/GraphQL/Caching/IDocumentCache.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: BREAKING

#3284 Add Argument overload with CLR type
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
Labels: enhancement

#3270 Add AutoRegisteringInterfaceGraphType
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Attributes/GraphQLMetadataAttribute.cs
  src/GraphQL/Attributes/ImplementsAttribute.cs
  src/GraphQL/Attributes/InputNameAttribute.cs
  src/GraphQL/Attributes/InputTypeAttribute.cs
  src/GraphQL/Attributes/MetadataAttribute.cs
  src/GraphQL/Attributes/NameAttribute.cs
  src/GraphQL/Attributes/OutputNameAttribute.cs
  src/GraphQL/Attributes/OutputTypeAttribute.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Types/Collections/AutoRegisteringGraphTypeMappingProvider.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: enhancement, new API

#3276 Introduce ErrorInfoProviderOptions.ExposeExceptionDetailsMode
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.Tests/Errors/ErrorInfoProviderTests.cs
  src/GraphQL/Execution/ErrorInfoProvider.cs
  src/GraphQL/Execution/ErrorInfoProviderOptions.cs
Labels: test, new API

#3286 Simplify configuration
  .github/workflows/test-code.yml
  src/Directory.Build.props
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
Labels: CI

#3287 Migration notes updates
  docs2/site/docs/migrations/migration7.md
Labels: documentation

#3290 Include v7 migration document link in readme
  README.md
Labels: documentation

#3295 Bump deps
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/GraphQL.Harness.csproj
  src/Tests.props
Labels: dependencies, test

#3298 user not duplicated in context
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
Labels: bugfix

#3300 !(a is T) -> a is not T
  src/GraphQL.NewtonsoftJson/GraphQLSerializer.cs
  src/GraphQL/Execution/Nodes/ExecutionNode.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/Types/Directives/Custom/LengthDirective.cs
Labels: code style

#3302 Add test
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
Labels: test

#3307 Fix InputFieldsAndArgumentsOfCorrectLength validation rule
  src/GraphQL.Tests/Validation/InputFieldsAndArgumentsOfCorrectLengthRequiredTests.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: bugfix, test
