Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-12, with the labels that each got.

#3417 Fix check for non-resolved interface type
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net5/GraphQL.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/AbstractTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: bugfix, BREAKING, spec compliance, test

#3436 Bump Nullability.Source
  src/GraphQL/GraphQL.csproj
Labels: dependencies

#3445 Fix schema initialization exceptions
  src/GraphQL.Tests/Bugs/BugReport.cs
  src/GraphQL/Types/Schema.cs
Labels: enhancement, test

#3437 Update editorconfig with changes from Roslynator 4.2.0
  .editorconfig
Labels: code style

#3455 Add PackageReleaseNotes
  src/Directory.Build.targets
Labels: enhancement

#3457 Add Microsoft.Bcl.AsyncInterfaces dependency for .NET Standard 2.0 projects
  src/GraphQL.Tests/Types/AutoRegisteringObservableTests.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Resolvers/ObservableFromAsyncEnumerable.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: enhancement
