Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-06, with the labels that each got.

#3154 Release DataLoaderList for cached DataLoaderPair entries
  docs2/site/docs/migrations/migration6.md
  docs2/site/sitemap.yml
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/DataLoaderPair.cs
  src/GraphQL.sln
Labels: data loader, BREAKING

#3157 Add migration note about case insensitive matching for enums
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3159 Field's impact for ComplexityAnalyzer
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Validation/Complexity/AnalysisContext.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitor.cs
  src/GraphQL/Validation/Complexity/IComplexityAnalyzer.cs
Labels: test

#3163 Support asynchronous validation rules
  docs2/site/docs/migrations/migration6.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Validation/BasicVisitor.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitor.cs
  src/GraphQL/Validation/INodeVisitor.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
  src/GraphQL/Validation/NodeVisitors.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.GetVariables.cs
Labels: enhancement, BREAKING

#3147 Throw proper exception when RequestServices is null
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: enhancement

#3166 Convert IVariableVisitor to async
  docs2/site/docs/migrations/migration6.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL/Validation/BaseVariableVisitor.cs
  src/GraphQL/Validation/CompositeVariableVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/IVariableVisitor.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: enhancement, BREAKING

#3173 Replace DirectiveGraphType with Directive
  docs2/site/docs/getting-started/directives.md
Labels: documentation

#3172 Convert the complexity analyzer into a validation rule
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration6.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL/DI/GraphQLBuilderBase.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/IDocumentExecuter.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
  src/GraphQL/Instrumentation/ApolloTracingDocumentExecuter.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Errors.Custom/ComplexityError.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: enhancement, BREAKING

#3170 Fix error message when no query is defined
  src/GraphQL.Tests/Execution/ExecutionStrategyTests.cs
  src/GraphQL.Tests/Files/JSON/AppliedDirectivesResult.json
  src/GraphQL.Tests/Introspection/AppliedDirectivesTests.cs
  src/GraphQL.Tests/Introspection/SchemaIntrospectionTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
Labels: enhancement, test

#3180 Add ValidationContext.Metrics
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Instrumentation/Metrics.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationOptions.cs
Labels: enhancement, new API

#3181 Extension methods for MissingRequestServicesException
  src/GraphQL.MicrosoftDI/DynamicScopedFieldResolver.cs
  src/GraphQL.MicrosoftDI/DynamicScopedSourceStreamResolver.cs
  src/GraphQL.MicrosoftDI/ScopedConnectionBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
  src/GraphQL/Attributes/Authorization/AllowAnonymousAttribute.cs
  src/GraphQL/Attributes/Authorization/AuthorizeAttribute.cs
  src/GraphQL/Attributes/DoNotMapClrTypeAttribute.cs
  src/GraphQL/Attributes/DoNotRegisterAttribute.cs
  src/GraphQL/Attributes/FromServicesAttribute.cs
  src/GraphQL/Attributes/FromSourceAttribute.cs
  src/GraphQL/Attributes/FromUserContextAttribute.cs
  src/GraphQL/Attributes/GraphQLAttribute.cs
  src/GraphQL/Attributes/GraphQLMetadataAttribute.cs
  src/GraphQL/Attributes/IdAttribute.cs
  src/GraphQL/Attributes/IgnoreAttribute.cs
  src/GraphQL/Attributes/InputNameAttribute.cs
  src/GraphQL/Attributes/InputTypeAttribute.cs
  src/GraphQL/Attributes/MetadataAttribute.cs
  src/GraphQL/Attributes/NameAttribute.cs
  src/GraphQL/Attributes/OutputNameAttribute.cs
  src/GraphQL/Attributes/OutputTypeAttribute.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Extensions/AssemblyExtensions.cs
  src/GraphQL/Extensions/AuthorizationExtensions.cs
  src/GraphQL/Extensions/DIExtensions.cs
  src/GraphQL/Extensions/DirectivesExtensions.cs
  src/GraphQL/Extensions/ExpressionExtensions.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Extensions/MemoryExtensions.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Extensions/ObservableExtensions.cs
  src/GraphQL/Extensions/SchemaExtensions.cs
  src/GraphQL/Extensions/StringExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/MissingRequestServicesException.cs
Labels: enhancement, code style

#3148 Add dependency-review-action
  .github/workflows/dependency-review.yml
  src/GraphQL.sln
Labels: CI

#3186 Optimize hashing for APQ
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesExecutionBase.cs
Labels: performance

#3187 Fix NRT interpreter for auto registering graph types
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: bugfix, test

#3184 Unify namespaces for all extension methods for IGraphQLBuilder
  docs2/site/docs/migrations/migration6.md
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.DataLoader/Extensions/DataLoaderContextExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderGraphQLBuilderExtensions.cs
  src/GraphQL.Harness/Startup.cs
  src/GraphQL.MemoryCache/MemoryCacheGraphQLBuilderExtensions.cs
  src/GraphQL.MicrosoftDI/MicrosoftDIGraphQLBuilderExtensions.cs
  src/GraphQL.NewtonsoftJson/NewtonsoftJsonGraphQLBuilderExtensions.cs
  src/GraphQL.SystemTextJson/SystemTextJsonGraphQLBuilderExtensions.cs
  src/GraphQL.Tests/Bugs/Bug3100.cs
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.Tests/Instrumentation/ApolloTracingTests.cs
  src/GraphQL.Tests/PersistedQueries/AutomaticPersistedQueriesTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Types/AutoSchemaTests.cs
  src/GraphQL.Tests/Validation/RequestServicesTests.cs
Labels: code style, BREAKING

#3190 Handle both string and integer versions
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesExecutionBase.cs
  src/GraphQL.Tests/PersistedQueries/AutomaticPersistedQueriesTests.cs
Labels: bugfix, test

#3199 Remove System.Text.Json dependency for .NET Core 3.1+
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
Labels: enhancement

#3195 Add migration notes for complexity analyzer
  docs2/site/docs/migrations/migration6.md
Labels: documentation

#3196 Fix inherited methods for schema builder
  src/GraphQL.Tests/Bugs/Bug3194.cs
  src/GraphQL/Reflection/ReflectionHelper.cs
  src/GraphQL/Reflection/SingleMethodAccessor.cs
  src/GraphQL/Reflection/SinglePropertyAccessor.cs
Labels: bugfix

#3202 Fix complexity analyzer test
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
Labels: test

#3205 AutoRegisteringObjectGraphType: Add recognition for inherited methods
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: enhancement
