Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-10, with the labels that each got.

#3339 Make ValueConverter.GetConversion method public
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/ValueConverterFacts.cs
  src/GraphQL/Conversion/ValueConverter.cs
Labels: enhancement

#3348 Update custom scalars docs with NRT annotations
  docs2/site/docs/getting-started/custom-scalars.md
Labels: documentation

#3353 Introduce AsIsCaseAttribute
  docs2/site/docs/getting-started/schema-types.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumCaseAttribute.cs
Labels: documentation, test, new API
