Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-07, with the labels that each got.

#3208 AutoRegisteringObjectGraphType: Inherited methods migration note
  docs2/site/docs/migrations/migration6.md
Labels: documentation

#3209 Fix nested complexity fragment sorting
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/NestedFragmentsComparer.cs
Labels: bugfix, test

#3212 Improved comment on AutoRegisteringObjectGraphType.GetRegisteredMembers()
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: documentation

#3211 Add override for VisitOperationDefinitionAsync
  src/GraphQL/Validation/ValidationContext.GetRecursivelyReferencedFragments.cs
Labels: performance

#3213 Use SourceFieldResolver for top-level nodes of subscriptions
  docs2/site/docs/getting-started/subscriptions.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/Types/SubscriptionType.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Resolvers/SourceFieldResolver.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: enhancement

#3203 Add global GraphQL Attributes
  docs2/site/docs/getting-started/global-switches.md
  docs2/site/docs/migrations/migration6.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Attributes/GraphQLAttribute.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/ArgumentInformation.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
  src/GraphQL/Utilities/TypeConfig.cs
Labels: enhancement, documentation

#3216 Update migration document
  docs2/site/docs/migrations/migration7.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
Labels: documentation

#3222 Fix complexity analyzer
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
Labels: bugfix, test

#3226 Add IResolveFieldContext.User
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.MicrosoftDI/ScopedResolveConnectionContextAdapter.cs
  src/GraphQL.MicrosoftDI/ScopedResolveFieldContextAdapter.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextAdapter.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationOptions.cs
Labels: enhancement

#3228 Do not commit when working tree clean
  .github/workflows/publish-documentation.yml
Labels: bugfix, CI

#3232 Add notes about metrics
  docs2/site/docs/getting-started/metrics.md
Labels: documentation

#3231 Fix package versioning
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.DataLoader/GraphQL.DataLoader.csproj
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
  src/GraphQL.NewtonsoftJson/GraphQL.NewtonsoftJson.csproj
  src/GraphQL.SystemTextJson/GraphQL.SystemTextJson.csproj
Labels: dependencies, CI

#3242 Use fluent Field APIs instead of FieldXXX overloads
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.MicrosoftDI.Tests/FieldBuilderExtensionTests.cs
  src/GraphQL.Tests/Bugs/Bug1156.cs
  src/GraphQL.Tests/Bugs/BugAliasedInputFieldInList.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Errors/ErrorLocationTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Types/FieldRegistrationTests.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaVisitorTests.cs
  src/GraphQL.Tests/Validation/ValidationSchema.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/DirectivesExtensions.cs
  src/GraphQL/Introspection/__AppliedDirective.cs
  src/GraphQL/Introspection/__Directive.cs
  src/GraphQL/Introspection/__DirectiveArgument.cs
  src/GraphQL/Introspection/__EnumValue.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/IComplexGraphType.cs
  src/GraphQL/Types/Relay/ConnectionType.cs
  src/GraphQL/Types/Relay/EdgeType.cs
  src/GraphQL/Types/Relay/PageInfoType.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/Federation/ServiceGraphType.cs
Labels: enhancement, code style, new API

#3249 Remove not needed code
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
Labels: test

#3252 Update migration docs
  docs2/site/docs/migrations/migration5.md
Labels: documentation

#3253 Add IsNativelyAsync property
  src/GraphQL.ApiTests/GraphQL.NewtonsoftJson.approved.txt
  src/GraphQL.ApiTests/GraphQL.SystemTextJson.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/GraphQLSerializer.cs
  src/GraphQL.SystemTextJson/GraphQLSerializer.cs
  src/GraphQL/Transport/IGraphQLSerializer.cs
Labels: new API

#3247 Add Field overload with clr type
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: documentation, test

#3255 Add known issue for case insensitive enumeration value matching
  docs2/site/docs/guides/known-issues.md
Labels: documentation
