Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2022-05, with the labels that each got.

#3115 Partial fix to detect asynchronous return types within field delegates
  src/GraphQL.Tests/Bugs/Bug3046.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
Labels: enhancement, test

#3113 Small rename
  src/GraphQL.Benchmarks/Benchmarks/VariableBenchmark.cs
  src/GraphQL.Tests/Validation/InputFieldsAndArgumentsOfCorrectLengthTests.cs
  src/GraphQL.Tests/Validation/ValidationTestBase.cs
  src/GraphQL.Tests/Validation/ValidationTestConfig.cs
Labels: code style

#3114 Fix SchemaTypes so it does not create instances twice
  src/GraphQL.Tests/Bugs/Bug3100.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: bugfix

#3127 Followup to PR 3114
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: bugfix

#3126 Make FieldBuilder constructor public
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
Labels: enhancement

#3130 Optimize InstrumentFieldsMiddleware when metrics are disabled
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
Labels: performance

#3121 Add IConfigureExecution
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/DI/IConfigureExecution.cs
  src/GraphQL/DI/IConfigureExecutionOptions.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/GraphQLBuilderExtensions.cs
  src/GraphQL/Instrumentation/ApolloTracingDocumentExecuter.cs
Labels: enhancement

#3136 enablePredicate -> enableMetricsPredicate
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/GraphQLBuilderExtensions.cs
Labels: code style

#3134 Automatic Persisted Queries
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesCacheOptions.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesExecution.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesExecutionBase.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/PersistedQueryBadHashError.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/PersistedQueryNotFoundError.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/PersistedQueryUnsupportedVersionError.cs
  src/GraphQL.MemoryCache/GraphQL.MemoryCache.csproj
  src/GraphQL.MemoryCache/GraphQLBuilderExtensions.cs
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/PersistedQueries/AutomaticPersistedQueriesTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/Errors/DocumentError.cs
  src/GraphQL/Execution/Errors/ExecutionError.cs
  src/GraphQL/Execution/Errors/ExecutionErrors.cs
  src/GraphQL/Execution/Errors/InvalidOperationError.cs
  src/GraphQL/Execution/Errors/NoOperationError.cs
  src/GraphQL/Execution/Errors/QueryMissingError.cs
  src/GraphQL/Execution/Errors/RequestError.cs
  src/GraphQL/Execution/Errors/SyntaxError.cs
  src/GraphQL/Execution/Errors/UnhandledError.cs
Labels: enhancement, test
