Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-12, with the labels that each got.

#3810 Fix document caching and add tests
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
Labels: bugfix

#3816 Add analyzer pages to the sitemap
  docs2/site/sitemap.yml
Labels: documentation

#3817 Docs file names should be all lower case
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql011.md
  docs2/site/docs/analyzers/overview.md
  docs2/site/sitemap.yml
  src/GraphQL.sln
Labels: documentation

#3818 Fix analyzers help links
  src/GraphQL.Analyzers/AnalyzerReleases.Shipped.md
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
Labels: analyzers

#3819 Try fix relative urls
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation, analyzers

#3820 Another try to fix relative urls
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation, analyzers

#3821 Misc doc fixes
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
Labels: documentation, analyzers

#3804 Add ObjectExtensions.GetReflectionInformation
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ExecutionBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
  src/GraphQL.Benchmarks/GraphQL.Benchmarks.csproj
  src/GraphQL.Benchmarks/Properties/launchSettings.json
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Issue1285.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: enhancement, BREAKING

#3826 Merge from master
  .github/workflows/build-artifacts-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/format.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql010.md
  docs2/site/docs/analyzers/gql011.md
  docs2/site/docs/analyzers/overview.md
  docs2/site/sitemap.yml
  src/GraphQL.Analyzers/AnalyzerReleases.Shipped.md
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.MemoryCache/MemoryDocumentCache.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.sln
Labels: documentation, CI, test

#3827 Deprecated fields are returned when feature is disabled
  src/GraphQL.Tests/Bugs/Bug3825.cs
  src/GraphQL/Introspection/__Type.cs
Labels: bugfix, test

#3824 Fix GQL009 code fix formatting
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
Labels: analyzers

#3836 Fix FieldBuilderCodeFixProvider formatting and try preserve code comments
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
Labels: analyzers

#3761 ToObject compilation
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/ToObjectBenchmark.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/InputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Extensions/ObjectExtensions.Compiled.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: enhancement

#3831 Downgrade Microsoft.CodeAnalysis packages to v3.11.0 to support older compilers
  src/GraphQL.Analyzers.CodeFixes/GraphQL.Analyzers.CodeFixes.csproj
  src/GraphQL.Analyzers/GraphQL.Analyzers.csproj
Labels: analyzers

#3839 Change default type naming
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Extensions/TypeExtensionTests.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/GraphType.cs
Labels: enhancement

#3861 Use markup key to indicate expected diagnostics location
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
Labels: test, analyzers

#3862 Use markup key to indicate expected diagnostics location (develop)
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
Labels: test, analyzers

#3865 Extend GQL010 rule for `AutoRegisteringInputObjectGraphType`
  docs2/site/docs/analyzers/gql010.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: analyzers
