Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-09, with the labels that each got.

#3705 Upload docs as workflow artifacts
  .github/workflows/test-documentation.yml
Labels: CI

#3703 #3702 Broken links in documentation
  docs2/site/docs/getting-started/directives.md
  docs2/site/docs/getting-started/errors.md
  docs2/site/docs/getting-started/field-middleware.md
  docs2/site/docs/getting-started/unions.md
Labels: documentation

#3695 Add custom validation rule for denying introspection queries
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Validation/NoIntrospectionTests.cs
  src/GraphQL/Validation/Errors.Custom/NoIntrospectionError.cs
  src/GraphQL/Validation/Rules.Custom/NoIntrospectionValidationRule.cs
Labels: enhancement

#3714 Revert "Bump codecov/codecov-action from 3 to 4 (#3711)"
  .github/workflows/test-code.yml
Labels: CI
