Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-01, with the labels that each got.

#3473 Fix precision test (alt)
  src/GraphQL.Tests/Bugs/Bug138DecimalPrecisionTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
Labels: test

#3474 quickfix/issue-3472-object-expressions
  src/GraphQL/Types/GraphType.cs
Labels: enhancement

#3483 Better error messages for ComplexityAnalyzer
  src/GraphQL.Tests/Complexity/ComplexityValidationTests.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityResult.cs
Labels: test

#3486 Get rid of xunit serialization warnings
  src/GraphQL.Tests/Bugs/Bug2958DecimalPrecisionTests.cs
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Extensions/PrintTests.cs
  src/GraphQL.Tests/GraphQLSerializersTestData.cs
  src/GraphQL.Tests/TheoryExAttribute.cs
  src/GraphQL.Tests/TheoryExDiscoverer.cs
  src/GraphQL.Tests/Types/TimeSpanMillisecondsGraphTypeTests.cs
  src/GraphQL.Tests/Types/TimeSpanSecondsGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL.Tests/ValueConverterFacts.cs
Labels: test

#3484 Add boxing support to IObservable within auto registering types
  src/GraphQL.Tests/Types/AutoRegisteringObservableTests.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
Labels: enhancement, test

#3488 Additional trace information in exception messages during schema initialization
  src/GraphQL.ApiTests/net5/GraphQL.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug3331.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/TypeCollectionContext.cs
Labels: test

#3490 Update FAQ
  docs2/site/docs/guides/known-issues.md
Labels: documentation

#3491 Separate formatting check
  .github/workflows/format.yml
  .github/workflows/test-code.yml
  src/GraphQL.sln
Labels: CI

#3424 Move argument parsing to document validator - part 1
  src/GraphQL.ApiTests/net5/GraphQL.approved.txt
  src/GraphQL.ApiTests/net6/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Benchmarks/Benchmarks/DetailedBenchmark.cs
  src/GraphQL.Benchmarks/Benchmarks/ValidationBenchmark.cs
  src/GraphQL.Tests/Bugs/Bug1831.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL.Tests/Types/InterfaceGraphTypeTests.cs
  src/GraphQL.Tests/Validation/DefaultValuesOfCorrectTypeTests.cs
  src/GraphQL.Tests/Validation/KnownTypeNamesTests.cs
  src/GraphQL.Tests/Validation/OverlappingFieldsCanBeMergedTest.cs
  src/GraphQL.Tests/Validation/ValidationTestBase.cs
  src/GraphQL.Tests/Validation/VariablesAreInputTypesTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/Types/Collections/TypeFields.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/Visitors/FieldTypeDefaultArgumentsVisitor.cs
  src/GraphQL/Validation/DocumentValidator.ParseArgumentVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/IValidationResult.cs
  src/GraphQL/Validation/ValidationResult.cs
  src/GraphQL/Validation/Variables.cs
Labels: BREAKING

#3494 Fix issue with inherited record equals method being added to output
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: bugfix

#3497 One more test with record
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: test

#3502 Introduce PolySharp
  src/Directory.Build.props
  src/GraphQL.Tests/IsExternalInit.cs
  src/GraphQL/Annotations/DoesNotReturnAttribute.cs
  src/GraphQL/Annotations/IsExternalInit.cs
  src/GraphQL/Annotations/NotNullWhenAttribute.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/Tests.props
Labels: enhancement

#3478 Add test to verify no BOM used
  codeql/GraphQL.CodeQL.sln
  src/GraphQL.ApiTests/BomTests.cs
  src/GraphQL.Benchmarks.Merge/GraphQL.Benchmarks.Merge.csproj
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/GraphQL.Harness/appsettings.Development.json
  src/GraphQL.sln
Labels: test

#3517 Update sample application for AOT type-first
  src/GraphQL.AotCompilationSample.TypeFirst/Program.cs
Labels: enhancement

#3518 Graph types cannot be used as CLR types
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/GetGraphTypeFromTypeTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: enhancement, test
