Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-11, with the labels that each got.

#3755 FieldArgumentAnalyzer
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL.sln
Labels: enhancement, documentation

#3691 Record data-loader execution time within Apollo Tracing results
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL/Instrumentation/InstrumentFieldsMiddleware.cs
Labels: enhancement, data loader

#3762 Add tests for spec issues
  src/GraphQL.Tests/Bugs/SpecIssues.cs
Labels: test

#3763 Analyzers/awaitable resolver analyzer
  docs2/site/docs/analyzers/GQL009_UseAsyncResolver.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL.sln
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
Labels: enhancement, documentation

#3765 Stabilize Apollo tracing test
  src/GraphQL.DataLoader.Tests/ApolloTracingTests.cs
Labels: test

#3769 ObjectExtensions.ToObject requires mappedType
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1626.cs
  src/GraphQL.Tests/Bugs/Bug256NullableEnumTests.cs
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Bugs/Bug956.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL.Tests/ObjectExtensions.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Execution/DirectiveInfo.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: enhancement

#3773 Add GraphQLConstructor attribute for ToObject
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/ObjectExtensionsTest.cs
  src/GraphQL/Attributes/GraphQLConstructorAttribute.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: enhancement, BREAKING

#3776 Ignore InputObjectGraphType analysis if type overrides ParseDictionary
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
Labels: analyzers

#3778 Analyzers code and docs reorganization
  docs2/site/docs/analyzers/.prettierrc.json
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL001_DefineTheNameInFieldMethod.md
  docs2/site/docs/analyzers/GQL002_NameMethodInvocationCanBeRemoved.md
  docs2/site/docs/analyzers/GQL003_DifferentNamesDefinedByFieldAndNameMethods.md
  docs2/site/docs/analyzers/GQL004_DoNotUseObsoleteFieldMethods.md
  docs2/site/docs/analyzers/GQL005_IllegalResolverUsage.md
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/GQL008_DoNotUseObsoleteArgumentMethod.md
  docs2/site/docs/analyzers/GQL009_UseAsyncResolver.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/AwaitableResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Extensions.cs
  src/GraphQL.Analyzers.CodeFixes/FieldArgumentCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Helpers/DocumentEditorExtensions.cs
  src/GraphQL.Analyzers.CodeFixes/ResolverCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AwaitableResolverAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldArgumentAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/ResolverAnalyzerTests.cs
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticCategories.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/EnumerableExtensions.cs
  src/GraphQL.Analyzers/Helpers/ExpressionExtensions.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/Helpers/OptionsExtensions.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
Labels: documentation, analyzers

#3779 Verify input source type constructors
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/GQL010_CanNotResolveInputSourceTypeConstructor.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Constructors.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Constructors.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.ApiTests/BomTests.cs
  src/GraphQL.sln
Labels: documentation, analyzers

#3780 Fix BomTests
  src/GraphQL.ApiTests/BomTests.cs
Labels: test

#3787 Fix source paths for CallerFilePath
  .github/workflows/test-code.yml
Labels: CI

#3782 AutoRegisteringInputObjectGraphType includes certain read-only properties
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/InputConversionTestsBase.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL/Extensions/ObjectExtensions.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/TypeInformation.cs
Labels: enhancement, BREAKING

#3788 Configure trim analyzer only for .NET 6+ projects
  src/Directory.Build.targets
Labels: test

#3789 Ensure only public properties are registered in AutoRegisteringObjectGraphType
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
Labels: bugfix, BREAKING

#3790 Add .NET 8 testing
  src/GraphQL.Tests/Bugs/Issue3233.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
Labels: test

#3795 NotAGraphTypeAttribute analyzer
  docs2/site/docs/analyzers/.vscode/settings.json
  docs2/site/docs/analyzers/GQL011_MustNotBeConvertibleToGraphType.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
  src/GraphQL.sln
  src/GraphQL/Attributes/NotAGraphTypeAttribute.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/DataLoader/IDataLoaderResult.cs
  src/GraphQL/Types/AutoSchema.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
Labels: analyzers

#3798 Merge NotAGraphTypeAnalyzer to develop branch
  docs2/site/docs/analyzers/GQL011_MustNotBeConvertibleToGraphType.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.Tests/NotAGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/AwaitableResolverAnalyzer.cs
  src/GraphQL.Analyzers/FieldArgumentAnalyzer.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
  src/GraphQL.sln
  src/GraphQL/Attributes/NotAGraphTypeAttribute.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/DataLoader/IDataLoaderResult.cs
  src/GraphQL/Types/AutoSchema.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/GraphQLTypeReference.cs
Labels: documentation, analyzers

#3799 InputGraphTypeAnalyzer choose constructor by the same rules used in runtime
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.Fields.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.Fields.cs
Labels: analyzers
