Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-04, with the labels that each got.

#3568 Fix UnhandledError when resolving top-level subscription field
  src/Directory.Build.targets
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: bugfix, test

#3571 Allow deprecation of input values
  src/Directory.Build.props
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Files/JSON/AppliedDirectivesResult.json
  src/GraphQL.Tests/Files/SDL/SchemaPrinter.graphql
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL.Tests/Utilities/SchemaPrinterTests.cs
  src/GraphQL/ExperimentalFeatures.cs
  src/GraphQL/Extensions/SchemaExtensions.cs
  src/GraphQL/Introspection/__Field.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Introspection/__Type.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/QueryArgument.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: enhancement, test

#3577 Add migration notes about deprecation of input values
  docs2/site/docs/migrations/migration7.md
  src/GraphQL/ExperimentalFeatures.cs
  src/GraphQL/Extensions/SchemaExtensions.cs
Labels: documentation

#3574 Only root fields of subscriptions should set StreamResolver; only object output types should set Resolver
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.StarWars/Types/CharacterInterface.cs
  src/GraphQL.Tests/Bugs/Bug1889.cs
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Fields/FieldType.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: enhancement, test

#3588 Revert to version 3 of setup-dotnet
  .github/workflows/build-artifacts-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/format.yml
  .github/workflows/publish-code.yml
  .github/workflows/test-code.yml
Labels: CI

#3585 chore(upgrade): upgrade multiple packages
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/publish-documentation.yml
  .github/workflows/test-documentation.yml
  docs2/gatsby-config.js
  docs2/package.json
  docs2/plugins/docs/gatsby-node.js
  docs2/plugins/docs/gatsby/attach-urls.js
  docs2/plugins/docs/gatsby/sourceNodes.js
  docs2/plugins/docs/index.js
  docs2/plugins/docs/menuNodeType.js
  docs2/plugins/docs/package.json
  docs2/site/pages/landing.js
  docs2/src/components/SideNav.js
  docs2/src/components/docs-page.js
  docs2/src/components/header.js
  docs2/src/components/layout.css
  docs2/src/components/layout.js
  docs2/src/components/reset.css
  docs2/yarn.lock
  package.json
  yarn.lock
Labels: documentation

#3589 Remove package json from root folder
  .babelrc
  .eslintignore
  .eslintrc
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
  .github/workflows/publish-documentation.yml
  .github/workflows/test-documentation.yml
  package.json
  yarn.lock
Labels: CI

#3590 Root types must all be different types if provided
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.DataLoader.Tests/DataLoaderTestSchema.cs
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.Tests/Execution/SerialExecutionStrategyTests.cs
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: spec compliance, test

#3591 The root field of a subscription operation must not be an introspection field
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Validation/SingleRootFieldSubscriptionsTests.cs
  src/GraphQL/Validation/Errors/SingleRootFieldSubscriptionsError.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
Labels: subscriptions, spec compliance, test

#3599 Make GraphQL.NET to be binary compatible with parser v9
  src/Directory.Build.props
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/GraphQL.csproj
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
Labels: enhancement, dependencies

#3598 Bump to parser v9
  src/GraphQL.MicrosoftDI.Tests/AdapterTests.cs
  src/GraphQL.MicrosoftDI.Tests/ConnectionAdapterTests.cs
  src/GraphQL.Tests/Caching/MemoryCacheTests.cs
  src/GraphQL.Tests/Execution/ExecutionNodeTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL.Tests/Extensions/GraphQLExtensionsTests.cs
  src/GraphQL.Tests/Extensions/PrintTests.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/NameFieldResolverTests.cs
  src/GraphQL.Tests/TestExtensions.cs
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL.Tests/Types/Vector3ScalarTests.cs
  src/GraphQL/GraphQL.csproj
Labels: dependencies, test

#3601 add missing `async` modifier to method in dataloader code example
  docs2/site/docs/guides/dataloader.md
Labels: documentation

#3603 Cleanup
  src/GraphQL.DataLoader.Tests/QueryTestBase.cs
  src/GraphQL.MicrosoftDI.Tests/ConnectionBuilderExtensionTests.cs
  src/GraphQL.MicrosoftDI.Tests/ScopedAttributeTests.cs
  src/GraphQL.MicrosoftDI.Tests/SelfActivatingServiceProviderTests.cs
  src/GraphQL.MicrosoftDI.Tests/ServiceCollectionTests.cs
  src/GraphQL.MicrosoftDI/SelfActivatingServiceProvider.cs
  src/GraphQL.Tests/BasicQueryTestBase.cs
  src/GraphQL.Tests/Conversion/FieldNameConverterTests.cs
  src/GraphQL.Tests/DI.xUnit/PrepareDependencyInjectionAttribute.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.Tests/Execution/RegisteredInstanceTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsIntegrationTests.cs
  src/GraphQL.Tests/Execution/RepeatedSubfieldsTest.cs
  src/GraphQL.Tests/Instrumentation/FieldMiddlewareBuilderTests.cs
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL.Tests/QueryTestBase.cs
  src/GraphQL.Tests/TestExtensions.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Instrumentation/FieldMiddlewareDelegate.cs
  src/GraphQL/LightweightCache.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
  src/Tests.props
Labels: code style

#3613 One more cleanup
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.Tests/Builders/ConnectionBuilderTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ParallelExecutionStrategy.cs
  src/GraphQL/Execution/SerialExecutionStrategy.cs
  src/GraphQL/ResolveFieldContext/ReadonlyResolveFieldContext.cs
  src/GraphQL/Resolvers/IFieldResolver.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: code style, test

#3607 Catch exceptions during Subscribe and pass to the unhandled exception delegate
  src/GraphQL.Tests/Subscription/ObservableExtensionsTests.cs
  src/GraphQL/Extensions/ObservableExtensions.cs
Labels: enhancement, test

#3615 Add GetInputExtension method
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/ResolveFieldContext/IResolveFieldContext.cs
  src/GraphQL/ResolveFieldContext/ResolveFieldContextExtensions.cs
Labels: enhancement, test

#3609 Simplify metadata builder methods
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/Visitors/DescriptionDirectiveVisitor.cs
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/AuthorizationExtensions.cs
  src/GraphQL/Extensions/DirectivesExtensions.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Introspection/__InputValue.cs
  src/GraphQL/Types/Fields/IFieldType.cs
  src/GraphQL/Types/IGraphType.cs
  src/GraphQL/Types/IMetadataReader.cs
  src/GraphQL/Types/IMetadataWriter.cs
  src/GraphQL/Types/ISchema.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaPrinter.cs
  src/GraphQL/Utilities/MetadataProvider.cs
  src/GraphQL/Utilities/SchemaBuilderExtensions.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
Labels: enhancement

#3617 Remove trailing whitespaces from xml comments
  src/GraphQL/BoolBox.cs
  src/GraphQL/Extensions/AuthorizationExtensions.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Introspection/ISchemaComparer.cs
  src/GraphQL/Resolvers/NameFieldResolver.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/IProvideMetadata.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
Labels: code style

#3618 Make SchemaPrinter more flexible
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Utilities/SchemaPrinter.cs
Labels: enhancement
