Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-02, with the labels that each got.

#3509 Friendly error message when registering GraphType instead of ClrType
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL.Tests/SchemaExtensionTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
  src/GraphQL/Types/Schema.cs
Labels: enhancement, test

#3521 Fix two rules in editorconfig
  .editorconfig
Labels: code style

#3520 Get Query and Mutation via constructor injection
  docs2/site/docs/getting-started/dependency-injection.md
Labels: documentation

#3526 Use PreserveNewest
  .github/labeler.yml
  src/Tests.props
Labels: test

#3525 Fix data loader Then method
  src/GraphQL.DataLoader.Tests/Types/QueryType.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
Labels: enhancement, data loader, bugfix

#3529 Fix of eternal loop in ComplexityAnalyzer in case of fragment cycles
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/Complexity/ComplexityValidationTests.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: bugfix, test

#3534 Update APQ messages
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/PersistedQueryBadHashError.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/PersistedQueryNotFoundError.cs
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/PersistedQueryUnsupportedVersionError.cs
  src/GraphQL.Tests/PersistedQueries/AutomaticPersistedQueriesTests.cs
Labels: spec compliance

#3467 Add API for OpenTelemetry
  docs2/site/docs/getting-started/dependency-injection.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.Tests/AssemblyExtensionTests.cs
  src/GraphQL.Tests/GraphQL.Tests.csproj
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Validation/RequestServicesTests.cs
  src/GraphQL/Extensions/AssemblyExtensions.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryOptions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: enhancement

#3543 Require query type on schemas
  docs2/site/docs/migrations/migration8.md
  docs2/site/sitemap.yml
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/AuthorizationTests.cs
  src/GraphQL.Tests/Bugs/ArrayOfArrayTest.cs
  src/GraphQL.Tests/Bugs/Bug118SpacesInTypeNameTests.cs
  src/GraphQL.Tests/Bugs/Bug138DecimalPrecisionTests.cs
  src/GraphQL.Tests/Bugs/Bug252ExecutorAppliesFIeldBuilderOnce.cs
  src/GraphQL.Tests/Bugs/BugAliasedInputFieldInList.cs
  src/GraphQL.Tests/Bugs/BugNestedCollection.cs
  src/GraphQL.Tests/Bugs/Bug_nested_type_names_dont_conflict.cs
  src/GraphQL.Tests/Bugs/NullArguments.cs
  src/GraphQL.Tests/Bugs/ScalarsInputTest.cs
  src/GraphQL.Tests/DI/RegistrationTests.cs
  src/GraphQL.Tests/DI/UnsupportedRegistrationsTests.cs
  src/GraphQL.Tests/DummyType.cs
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/Execution/ExecutionStrategyTests.cs
  src/GraphQL.Tests/Initialization/SchemaInitializationTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchemaWithReflection.cs
  src/GraphQL.Tests/Types/AutoRegisteringObservableTests.cs
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL.Tests/Types/SchemaTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderExecutionTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL.sln
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: BREAKING, test

#3541 Check Activity.Status for NET5
  src/GraphQL.Tests/Instrumentation/ActivityHelperExtensions.cs
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
Labels: test

#3547 Fix execution context for subscription resolvers
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL/Execution/SubscriptionExecutionStrategy.cs
  src/GraphQL/Extensions/ObservableExtensions.cs
Labels: bugfix

#3536 CI fix for .NET SDK 7.0.200
  .github/workflows/build-artifacts-code.yml
  .github/workflows/publish-code.yml
Labels: CI
