Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-06, with the labels that each got.

#3633 Better error message for ThrowASTConversionError and ThrowValueConversionError
  src/GraphQL.Tests/Bugs/Bug1773.cs
  src/GraphQL.Tests/Types/EnumGraphTypeTests.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
Labels: enhancement

#3493 Better error messages for invalid literals
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/AbstractInputTests.cs
  src/GraphQL.Tests/Execution/VariablesTests.cs
  src/GraphQL.Tests/Validation/LiteralValuesTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/Validation/DocumentValidator.ParseArgumentVisitor.cs
  src/GraphQL/Validation/Errors.Custom/InvalidLiteralError.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: enhancement, test

#3642 Don't use ConfigureAwait in docs
  docs2/site/docs/migrations/migration7.md
Labels: documentation

#3638 SchemaTypes cleanup
  docs2/site/docs/getting-started/custom-scalars.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.Tests/Types/Collections/SchemaTypesTests.cs
  src/GraphQL/Types/Collections/SchemaTypes.cs
Labels: enhancement

#3628 Prevent double registration of configuration types
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: enhancement
