Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2023-10, with the labels that each got.

#3720 InputGraphTypeAnalyzer
  docs2/site/docs/analyzers/GQL006_CanNotMatchInputFieldToTheSourceField.md
  docs2/site/docs/analyzers/GQL007_CanNotSetSourceField.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers.Tests/InputGraphTypeAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/HelpLinks.cs
  src/GraphQL.Analyzers/InputGraphTypeAnalyzer.cs
  src/GraphQL.sln
  src/GraphQL/Extensions/ObjectExtensions.cs
Labels: enhancement

#3728 Add reflection caching to AutoRegisteringObjectGraphType
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeCachingTests.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeCachingTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
  src/GraphQL/Types/Composite/InputObjectGraphType.cs
  src/GraphQL/Types/Composite/InterfaceGraphType.cs
  src/GraphQL/Types/Composite/ObjectGraphType.cs
  src/GraphQL/Types/GraphType.cs
Labels: enhancement

#3662 Allow nullable variables for non-null arguments that have defaults; allow scalar variable to list types
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Shared/JsonStringExtensions.cs
  src/GraphQL.Tests/Validation/InputFieldsAndArgumentsOfCorrectLengthRequiredTests.cs
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
  src/GraphQL.Tests/Validation/VariablesInAllowedPositionTests.cs
  src/GraphQL/Execution/ExecutionHelper.cs
  src/GraphQL/ExperimentalFeatures.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.GetVariables.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/Variable.cs
  src/GraphQL/Validation/VariableUsage.cs
  src/GraphQL/Validation/Variables.cs
Labels: enhancement

#3737 Add additional test for coercion
  src/GraphQL.Tests/Validation/ValidationContextTests.cs
  src/GraphQL.sln
Labels: test

#3743 Misc cleanup
  .github/dependabot.yml
  src/GraphQL.Analyzers.CodeFixes/GraphQL.Analyzers.CodeFixes.csproj
  src/GraphQL.Analyzers/GraphQL.Analyzers.csproj
  src/GraphQL.DataLoader.Tests/GraphQLBuilderTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderBaseTests.cs
Labels: CI, test

#3744 Remove ConfigureAwait(false) from DataLoader.Tests
  src/GraphQL.DataLoader.Tests/BatchDataLoaderTests.cs
  src/GraphQL.DataLoader.Tests/CollectionBatchLoaderTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderExtensionsTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderQueryTests.cs
  src/GraphQL.DataLoader.Tests/DataLoaderSubscriptionTest.cs
  src/GraphQL.DataLoader.Tests/GraphQL.DataLoader.Tests.csproj
  src/GraphQL.DataLoader.Tests/SimpleDataLoaderTests.cs
Labels: test

#3747 Rewrite the obsolete Name method on ConnectionBuilder
  docs2/site/docs/analyzers/GQL001_DefineTheNameInFieldMethod.md
  docs2/site/docs/analyzers/GQL002_NameMethodInvocationCanBeRemoved.md
  docs2/site/docs/analyzers/GQL003_DifferentNamesDefinedByFieldAndNameMethods.md
  docs2/site/docs/analyzers/Overview.md
  src/GraphQL.Analyzers.CodeFixes/FieldNameCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/FieldNameAnalyzerTests.cs
  src/GraphQL.Analyzers/Constants.cs
  src/GraphQL.Analyzers/Extensions.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/FieldNameAnalyzer.cs
  src/GraphQL.Analyzers/ResolverAnalyzer.cs
Labels: enhancement

#3752 Fix xml docs
  src/GraphQL.MicrosoftDI/ConnectionResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldResolver.cs
  src/GraphQL.NewtonsoftJson/JsonSerializerSettings.cs
  src/GraphQL.Tests/Subscription/ShouldlyExtensions.cs
  src/GraphQL.Tests/Types/AutoRegisteringObjectGraphTypeTests.cs
  src/GraphQL/Extensions/GraphQLExtensions.cs
  src/GraphQL/Extensions/ObservableExtensions.cs
  src/GraphQL/Resolvers/FuncFieldResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
  src/GraphQL/Types/TypeInformation.cs
  src/GraphQL/Validation/MatchingNodeVisitor.cs
Labels: test
