Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2024-07, with the labels that each got.

#3976 Infer field nullability from NRT
  docs2/site/docs/migrations/migration7.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Types/ComplexGraphTypeTests.cs
  src/GraphQL/GlobalSwitches.cs
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: enhancement

#3977 Infer nullability from NRT by default
  docs2/site/docs/migrations/migration8.md
  src/GraphQL/GlobalSwitches.cs
Labels: enhancement, BREAKING

#3990 PossibleFragmentSpreads validation rule bug fix for inline fragment spreads
  src/GraphQL.Tests/Bugs/Bug3988.cs
  src/GraphQL.Tests/Validation/PossibleFragmentSpreadsTests.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
Labels: bugfix

#3991 Rename ComplexityAnalyzer to LegacyComplexityAnalyzer and mark as obsolete
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/LegacyComplexityBasicTests.cs
  src/GraphQL.Tests/Complexity/LegacyComplexityMetaDataTests.cs
  src/GraphQL.Tests/Complexity/LegacyComplexityTestBase.cs
  src/GraphQL.Tests/Complexity/LegacyComplexityTests.cs
  src/GraphQL.Tests/Complexity/LegacyComplexityTestsWithLimits.cs
  src/GraphQL.Tests/Complexity/LegacyComplexityValidationTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Complexity/LegacyAnalysisContext.cs
  src/GraphQL/Validation/Complexity/LegacyComplexityConfiguration.cs
  src/GraphQL/Validation/Complexity/LegacyComplexityResult.cs
  src/GraphQL/Validation/Complexity/LegacyComplexityVisitor.cs
  src/GraphQL/Validation/Complexity/LegacyFragmentComplexity.cs
  src/GraphQL/Validation/Rules.Custom/LegacyComplexityValidationRule.cs
  src/GraphQL/Validation/ValidationContext.GetRecursivelyReferencedFragments.cs
Labels: BREAKING

#3993 Add persisted document support
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MemoryCache/AutomaticPersistedQueries/AutomaticPersistedQueriesExecutionBase.cs
  src/GraphQL.MemoryCache/MemoryCacheGraphQLBuilderExtensions.cs
  src/GraphQL.NewtonsoftJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.SystemTextJson/GraphQLRequestJsonConverter.cs
  src/GraphQL.Tests/PersistedQueries/PersistedDocumentTests.cs
  src/GraphQL.Tests/Serialization/GraphQLRequestTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/Errors/ExecutionErrors.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/ExecutionResult.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/PersistedDocuments/DocumentIdInvalidError.cs
  src/GraphQL/PersistedDocuments/DocumentIdMissingError.cs
  src/GraphQL/PersistedDocuments/DocumentNotFoundError.cs
  src/GraphQL/PersistedDocuments/IPersistedDocumentLoader.cs
  src/GraphQL/PersistedDocuments/InvalidRequestError.cs
  src/GraphQL/PersistedDocuments/PersistedDocumentHandler.cs
  src/GraphQL/PersistedDocuments/PersistedDocumentOptions.cs
  src/GraphQL/Transport/GraphQLRequest.cs
Labels: enhancement

#3996 Unhandled exception processing enhancements
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug1769.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL.Tests/Instrumentation/OpenTelemetryTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionContext.cs
  src/GraphQL/Execution/IExecutionContext.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: enhancement

#3997 GQL015 Can't infer field name analyzer
  docs2/site/docs/analyzers/gql015.md
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.sln
Labels: analyzers

#3998 Add timeout support to GraphQL executions
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Execution/DocumentExecuterTests.cs
  src/GraphQL/Execution/DocumentExecuter.cs
  src/GraphQL/Execution/ExecutionOptions.cs
  src/GraphQL/Execution/TimeoutAction.cs
  src/GraphQL/Execution/TimeoutError.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: enhancement

#3989 Rewrite complexity analyzer
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/guides/complexity-analyzer.md
  docs2/site/docs/migrations/migration8.md
  docs2/site/sitemap.yml
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL.sln
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Introspection/__Schema.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityOptions.cs
  src/GraphQL/Validation/Complexity/ComplexityValidationContext.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitor.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitorContext.cs
  src/GraphQL/Validation/Complexity/FieldComplexityResult.cs
  src/GraphQL/Validation/Complexity/FieldImpactContext.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: enhancement

#4000 Add complexity attribute
  docs2/site/docs/guides/complexity-analyzer.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityTests.cs
  src/GraphQL/Attributes/ComplexityAttribute.cs
  src/GraphQL/Utilities/FieldConfig.cs
  src/GraphQL/Validation/Complexity/IFieldComplexityAnalyzer.cs
Labels: enhancement, complexity

#4001 Optimize scalar lists
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.NewtonsoftJson/ExecutionResultJsonConverter.cs
  src/GraphQL.SystemTextJson/ExecutionResultJsonConverter.cs
  src/GraphQL.Tests/Serialization/ExecutionResultTests.cs
  src/GraphQL/Execution/ExecutionStrategy.cs
  src/GraphQL/Execution/Nodes/ArrayExecutionNode.cs
  src/GraphQL/Extensions/EnumerableExtensions.cs
  src/GraphQL/Types/Scalars/BigIntGraphType.cs
  src/GraphQL/Types/Scalars/BooleanGraphType.cs
  src/GraphQL/Types/Scalars/ByteGraphType.cs
  src/GraphQL/Types/Scalars/ComplexScalarGraphType.cs
  src/GraphQL/Types/Scalars/DecimalGraphType.cs
  src/GraphQL/Types/Scalars/FloatGraphType.cs
  src/GraphQL/Types/Scalars/GuidGraphType.cs
  src/GraphQL/Types/Scalars/HalfGraphType.cs
  src/GraphQL/Types/Scalars/IdGraphType.cs
  src/GraphQL/Types/Scalars/IntGraphType.cs
  src/GraphQL/Types/Scalars/LongGraphType.cs
  src/GraphQL/Types/Scalars/SByteGraphType.cs
  src/GraphQL/Types/Scalars/ScalarGraphType.cs
  src/GraphQL/Types/Scalars/ShortGraphType.cs
  src/GraphQL/Types/Scalars/StringGraphType.cs
  src/GraphQL/Types/Scalars/UIntGraphType.cs
  src/GraphQL/Types/Scalars/ULongGraphType.cs
  src/GraphQL/Types/Scalars/UShortGraphType.cs
Labels: enhancement

#4002 GQL016: Require parameterless constructor
  docs2/site/docs/analyzers/gql015.md
  docs2/site/docs/analyzers/gql016.md
  src/GraphQL.Analyzers.Tests/GraphQL.Analyzers.Tests.csproj
  src/GraphQL.Analyzers.Tests/RequireParameterlessConstructorAnalyzerTests.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/RequireParameterlessConstructorAnalyzer.cs
  src/GraphQL.sln
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
  src/GraphQL/CodeAnalysis/NotAGraphTypeAttribute.cs
  src/GraphQL/CodeAnalysis/RequireParameterlessConstructorAttribute.cs
  src/GraphQL/Execution/UnhandledExceptionContext.cs
  src/GraphQL/Types/DefaultGraphTypeFactory.cs
  src/GraphQL/Validation/Complexity/IFieldComplexityAnalyzer.cs
Labels: analyzers

#4005 GQL016 Remove generic argument analysis
  docs2/site/docs/analyzers/gql016.md
  src/GraphQL.Analyzers.Tests/RequireParameterlessConstructorAnalyzerTests.cs
  src/GraphQL.Analyzers/RequireParameterlessConstructorAnalyzer.cs
  src/GraphQL/CodeAnalysis/RequireParameterlessConstructorAttribute.cs
  src/GraphQL/Types/DefaultGraphTypeFactory.cs
Labels: analyzers
