Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2024-01, with the labels that each got.

#3856 Remove .NET 5 testing
  src/GraphQL.Harness.Tests/GraphQL.Harness.Tests.csproj
  src/Tests.props
Labels: CI

#3867 Schema builder fixes; add schema validation of subscription fields
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Utilities/SchemaBuilderTests.cs
  src/GraphQL/Utilities/SchemaBuilder.cs
  src/GraphQL/Utilities/TypeSettings.cs
  src/GraphQL/Utilities/Visitors/SchemaValidationVisitor.cs
Labels: enhancement, bugfix

#3869 Change DataLoader extensions' namespace to GraphQL
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/GraphQL.DataLoader.approved.txt
  src/GraphQL.DataLoader/Extensions/DataLoaderContextExtensions.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
Labels: data loader, BREAKING

#3872 Remove IComplexityAnalyzer
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Complexity/ComplexityMetaDataTests.cs
  src/GraphQL.Tests/Complexity/ComplexityTestBase.cs
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalayzerMetadataExtensions.cs
  src/GraphQL/Validation/Complexity/ComplexityAnalyzer.cs
  src/GraphQL/Validation/Complexity/ComplexityVisitor.cs
  src/GraphQL/Validation/Complexity/IComplexityAnalyzer.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
Labels: BREAKING

#3874 Add argument tests for directives
  src/GraphQL.Tests/Types/AppliedDirectiveTests.cs
Labels: test

#3876 Support subscriptions of value types
  src/GraphQL.Tests/Subscription/SubscriptionExecutionStrategyTests.cs
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
  src/GraphQL.Tests/Subscription/SubscriptionTests.cs
  src/GraphQL/Resolvers/ObservableAdapter.cs
  src/GraphQL/Resolvers/SourceStreamMethodResolver.cs
  src/GraphQL/Resolvers/SourceStreamResolver.cs
Labels: enhancement

#3871 Mix errors from validation and listener
  src/GraphQL.Tests/Bugs/Bug3089.cs
  src/GraphQL/Execution/DocumentExecuter.cs
Labels: bugfix

#3868 Add data loader overloads to MicrosoftDI resolver builders
  docs2/site/docs/guides/dataloader.md
  src/GraphQL.ApiTests/net50/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.ApiTests/netstandard20/GraphQL.MicrosoftDI.approved.txt
  src/GraphQL.MicrosoftDI/ResolverBuilder.cs
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.Tests/Builders/FieldBuilderTests.cs
Labels: enhancement, data loader

#3882 Add 'AddUnhandledExceptionHandler' builder extension method
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/getting-started/errors.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: enhancement

#3878 AllowedOnAttribute to force correct FieldBuilder methods usage
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql012.md
  docs2/site/sitemap.yml
  src/GraphQL.Analyzers.CodeFixes/AllowedOnCodeFixProvider.cs
  src/GraphQL.Analyzers.Tests/AllowedOnAnalyzerTests.cs
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
  src/GraphQL.Analyzers/AnalyzerReleases.Unshipped.md
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/DiagnosticIds.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
  src/GraphQL.Analyzers/Helpers/HelpLinks.cs
  src/GraphQL.Analyzers/NotAGraphTypeAnalyzer.cs
  src/GraphQL.DataLoader/Extensions/DataLoaderExtensions.cs
  src/GraphQL.DataLoader/GraphQL.DataLoader.csproj
  src/GraphQL.MicrosoftDI/GraphQL.MicrosoftDI.csproj
  src/GraphQL.MicrosoftDI/ScopedFieldBuilderExtensions.cs
  src/GraphQL.StarWars/GraphQL.StarWars.csproj
  src/GraphQL.sln
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/CodeAnalysis/AllowedOnAttribute.cs
  src/GraphQL/CodeAnalysis/NotAGraphTypeAttribute.cs
  src/GraphQL/Types/Fields/FieldType.cs
Labels: analyzers

#3883 Add an introduction version to analyzers documentation
  docs2/site/docs/analyzers/gql001.md
  docs2/site/docs/analyzers/gql002.md
  docs2/site/docs/analyzers/gql003.md
  docs2/site/docs/analyzers/gql004.md
  docs2/site/docs/analyzers/gql005.md
  docs2/site/docs/analyzers/gql006.md
  docs2/site/docs/analyzers/gql007.md
  docs2/site/docs/analyzers/gql008.md
  docs2/site/docs/analyzers/gql009.md
  docs2/site/docs/analyzers/gql011.md
Labels: documentation

#3887 Update "Introduced in" section in analyzers docs
  docs2/site/docs/analyzers/gql010.md
  docs2/site/docs/analyzers/gql012.md
Labels: documentation

#3893 Clean up subscription sample
  docs2/site/docs/getting-started/subscriptions.md
  src/GraphQL.Tests/Subscription/SubscriptionSchema.cs
Labels: documentation

#3907 Remove some deprecated methods
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/GraphQL.MemoryCache.approved.txt
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.MemoryCache/MemoryCacheGraphQLBuilderExtensions.cs
  src/GraphQL.Tests/Types/AutoRegisteringInterfaceGraphTypeTests.cs
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
  src/GraphQL/Extensions/TypeExtensions.cs
  src/GraphQL/Telemetry/GraphQLTelemetryProvider.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Validation/IVariableVisitor.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/Variable.cs
  src/GraphQL/Validation/VariableUsage.cs
Labels: BREAKING

#3905 Refactor validation rules
  docs2/site/docs/getting-started/query-validation.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/DI/GraphQLBuilderExtensionTests.cs
  src/GraphQL.Tests/Execution/ResolveFieldContextTests.cs
  src/GraphQL.Tests/Validation/RequestServicesTests.cs
  src/GraphQL/Utilities/Visitors/Custom/PatternMatchingVisitor.cs
  src/GraphQL/Validation/DocumentValidator.cs
  src/GraphQL/Validation/IValidationRule.cs
  src/GraphQL/Validation/IVariableVisitorProvider.cs
  src/GraphQL/Validation/Rules.Custom/ComplexityValidationRule.cs
  src/GraphQL/Validation/Rules.Custom/InputFieldsAndArgumentsOfCorrectLength.cs
  src/GraphQL/Validation/Rules.Custom/NoIntrospectionValidationRule.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/1+2. KnownDirectivesInAllowedLocations.cs
  src/GraphQL/Validation/Rules/5.7 - Directives/3. UniqueDirectivesPerLocation.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/1. UniqueVariableNames.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/2. VariablesAreInputTypes.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/3. NoUndefinedVariables.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/4. NoUnusedVariables.cs
  src/GraphQL/Validation/Rules/5.8 - Variables/5. VariablesInAllowedPosition.cs
  src/GraphQL/Validation/Rules/ArgumentsOfCorrectType.cs
  src/GraphQL/Validation/Rules/DefaultValuesOfCorrectType.cs
  src/GraphQL/Validation/Rules/FieldsOnCorrectType.cs
  src/GraphQL/Validation/Rules/FragmentsOnCompositeTypes.cs
  src/GraphQL/Validation/Rules/KnownArgumentNames.cs
  src/GraphQL/Validation/Rules/KnownFragmentNames.cs
  src/GraphQL/Validation/Rules/KnownTypeNames.cs
  src/GraphQL/Validation/Rules/LoneAnonymousOperation.cs
  src/GraphQL/Validation/Rules/NoFragmentCycles.cs
  src/GraphQL/Validation/Rules/NoUnusedFragments.cs
  src/GraphQL/Validation/Rules/OverlappingFieldsCanBeMerged.cs
  src/GraphQL/Validation/Rules/PossibleFragmentSpreads.cs
  src/GraphQL/Validation/Rules/ProvidedNonNullArguments.cs
  src/GraphQL/Validation/Rules/ScalarLeafs.cs
  src/GraphQL/Validation/Rules/SingleRootFieldSubscriptions.cs
  src/GraphQL/Validation/Rules/UniqueArgumentNames.cs
  src/GraphQL/Validation/Rules/UniqueFragmentNames.cs
  src/GraphQL/Validation/Rules/UniqueInputFieldNames.cs
  src/GraphQL/Validation/Rules/UniqueOperationNames.cs
  src/GraphQL/Validation/TypeInfo.cs
  src/GraphQL/Validation/ValidationContext.cs
  src/GraphQL/Validation/ValidationRuleBase.cs
Labels: BREAKING
