Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2024-08, with the labels that each got.

#4011 Extend attribute usage
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Attributes/GraphQLAttribute.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringOutputHelper.cs
  src/GraphQL/Types/Scalars/Enumeration/EnumerationGraphType.cs
Labels: enhancement

#4015 Reuse ReferenceAssemblies
  src/GraphQL.Analyzers.Tests/VerifiersExtensions/CSharpCodeFixVerifier.cs
  src/GraphQL.Analyzers.Tests/VerifiersExtensions/ReferenceResolver.cs
Labels: test

#4032 Fix NRE in AllowedOnAnalyzer when analyzed assebly name starts with GraphQL prefix
  src/GraphQL.Analyzers.Tests/AllowedOnAnalyzerTests.cs
  src/GraphQL.Analyzers/AllowedOnAnalyzer.cs
Labels: analyzers

#4036 Add IsGraphQLSymbol tests
  src/GraphQL.Analyzers.Tests/GraphQLExtensionsTests.cs
  src/GraphQL.Analyzers/Helpers/GraphQLExtensions.cs
Labels: test

#4038 Add a relative link to migration guide
  docs2/site/docs/migrations/migration8.md
Labels: documentation
