Repository graphql-dotnet/graphql-dotnet, pull requests merged in 2024-06, with the labels that each got.

#3948 Document GraphQLTelemetryProvider.SourceName
  src/GraphQL/Extensions/GraphQLBuilderExtensions.cs
Labels: documentation

#3951 Add ISchemaNodeVisitor.PostVisitSchema
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Extensions/SchemaExtensions.cs
  src/GraphQL/Utilities/Visitors/AppliedDirectivesValidationVisitor.cs
  src/GraphQL/Utilities/Visitors/BaseSchemaNodeVisitor.cs
  src/GraphQL/Utilities/Visitors/ISchemaNodeVisitor.cs
Labels: enhancement, BREAKING

#3952 Add another Modify overload to GraphQLAttribute
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Attributes/GraphQLAttribute.cs
  src/GraphQL/Types/Composite/AutoRegisteringHelper.cs
  src/GraphQL/Types/Composite/AutoRegisteringInputObjectGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringInterfaceGraphType.cs
  src/GraphQL/Types/Composite/AutoRegisteringObjectGraphType.cs
Labels: enhancement

#3959 Add IFieldMetadataWriter
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Builders/ConnectionBuilder.cs
  src/GraphQL/Builders/ConnectionBuilder_Typed.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Types/Fields/IFieldMetadataWriter.cs
  src/GraphQL/Types/Fields/IFieldType.cs
  src/GraphQL/Types/IMetadataWriter.cs
Labels: enhancement

#3957 Add GraphQL Federation v2 required types
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Bugs/Bug947.cs
  src/GraphQL.Tests/Types/AutoRegisteringInputObjectGraphTypeTests.cs
  src/GraphQL/Federation/Types/AnyScalarGraphType.cs
  src/GraphQL/Federation/Types/EntityGraphType.cs
  src/GraphQL/Federation/Types/FieldSetGraphType.cs
  src/GraphQL/Federation/Types/LinkImportGraphType.cs
  src/GraphQL/Federation/Types/LinkPurpose.cs
  src/GraphQL/Federation/Types/LinkPurposeGraphType.cs
  src/GraphQL/Federation/Types/ServiceGraphType.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
Labels: enhancement, BREAKING, federation

#3958 Add federation metadata extension methods and attributes
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Federation/Attributes/ExternalAttribute.cs
  src/GraphQL/Federation/Attributes/InaccessibleAttribute.cs
  src/GraphQL/Federation/Attributes/KeyAttribute.cs
  src/GraphQL/Federation/Attributes/OverrideAttribute.cs
  src/GraphQL/Federation/Attributes/ProvidesAttribute.cs
  src/GraphQL/Federation/Attributes/RequiresAttribute.cs
  src/GraphQL/Federation/Attributes/ShareableAttribute.cs
  src/GraphQL/Federation/Extensions/FederationFieldMetadataExtensions.cs
  src/GraphQL/Federation/Extensions/FederationInterfaceMetadataExtensions.cs
  src/GraphQL/Federation/Extensions/FederationMetadataExtensions.cs
  src/GraphQL/Federation/Extensions/FederationObjectMetadataExtensions.cs
  src/GraphQL/Federation/FederationHelper.cs
Labels: enhancement, federation

#3961 Fix RemoveFederationTypesVisitor
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Utilities/Visitors/RemoveFederationTypesVisitor.cs
Labels: bugfix, BREAKING, federation

#3960 Revamp federation resolvers
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Federation.SchemaFirst.Sample1/MyFederatedResolver.cs
  src/GraphQL.Federation.SchemaFirst.Sample1/Program.cs
  src/GraphQL.Federation.SchemaFirst.Sample2/MyFederatedResolver.cs
  src/GraphQL.Federation.SchemaFirst.Sample2/MyPseudoFederatedResolver.cs
  src/GraphQL.Federation.SchemaFirst.Sample2/Program.cs
  src/GraphQL.Tests/Federation/EntityResolverTests.cs
  src/GraphQL.Tests/Utilities/FederatedSchemaBuilderTests.cs
  src/GraphQL/Federation/Extensions/FederationGraphTypeExtensions.cs
  src/GraphQL/Federation/Extensions/TypeConfigExtensions.cs
  src/GraphQL/Federation/FederationHelper.cs
  src/GraphQL/Federation/Resolvers/EntityResolver.cs
  src/GraphQL/Federation/Resolvers/FederationResolver.cs
  src/GraphQL/Federation/Resolvers/IFederationResolver.cs
  src/GraphQL/Federation/Resolvers/Representation.cs
  src/GraphQL/Federation/ValidationRules/InjectTypenameValidationRule.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/Federation/FuncFederatedResolver.cs
  src/GraphQL/Utilities/Federation/IFederatedResolver.cs
  src/GraphQL/Utilities/Federation/ServiceGraphType.cs
  src/GraphQL/Utilities/Federation/TypeConfigExtensions.cs
  src/GraphQL/Utilities/Visitors/RemoveFederationTypesVisitor.cs
Labels: enhancement, federation

#3963 Refactor IFederationResolver; add FederationResolverAttribute
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Federation/FederationResolverTests.cs
  src/GraphQL/Federation/Attributes/FederationResolverAttribute.Coercion.cs
  src/GraphQL/Federation/Attributes/FederationResolverAttribute.FederationNonStaticResolver.cs
  src/GraphQL/Federation/Attributes/FederationResolverAttribute.FederationStaticResolver.cs
  src/GraphQL/Federation/Attributes/FederationResolverAttribute.cs
  src/GraphQL/Federation/Extensions/FederationGraphTypeExtensions.cs
  src/GraphQL/Federation/Resolvers/EntityResolver.cs
  src/GraphQL/Federation/Resolvers/FederationResolver.cs
  src/GraphQL/Federation/Resolvers/FederationResolverBase.cs
  src/GraphQL/Federation/Resolvers/IFederationResolver.cs
  src/GraphQL/Federation/Resolvers/Representation.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Validation/ValidationContext.cs
Labels: federation

#3971 Obsolete Field method receiving expression and optional nullable and type arguments
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL/Types/Composite/ComplexGraphType.cs
Labels: enhancement

#3973 Expression based field builder analyzer
  docs2/site/docs/analyzers/gql004.md
  src/GraphQL.Analyzers.CodeFixes/FieldBuilderCodeFixProvider.cs
  src/GraphQL.Analyzers.CodeFixes/Helpers/DocumentEditorExtensions.cs
  src/GraphQL.Analyzers.CodeFixes/Helpers/EnumerableExtensions.cs
  src/GraphQL.Analyzers.Tests/FieldBuilderAnalyzerTests.cs
  src/GraphQL.Analyzers/FieldBuilderAnalyzer.cs
  src/GraphQL.Analyzers/Helpers/Constants.cs
  src/GraphQL.Analyzers/Helpers/ExpressionExtensions.cs
Labels: analyzers

#3972 Add native support for @link
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.1.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.2.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.3.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.4.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.5.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.6.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AddLinkDirectiveSupport.7.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AllowsDoubleConfiguration.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.1.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.2.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.3.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.4.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.5.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.6.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.7.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.NamespaceTests.8.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.cs
  src/GraphQL/Extensions/SchemaExtensions.cs
  src/GraphQL/Types/Scalars/LinkImportGraphType.cs
  src/GraphQL/Types/Scalars/LinkPurpose.cs
  src/GraphQL/Types/Scalars/LinkPurposeGraphType.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/LinkConfiguration.cs
  src/GraphQL/Utilities/PrintOptions.cs
  src/GraphQL/Utilities/Visitors/ParseLinkVisitor.cs
  src/GraphQL/Utilities/Visitors/RemoveImportedTypesVisitor.cs
Labels: enhancement, federation

#3975 Allow applied directives to be imported from another schema
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AppliedDirectivesAreProperlyRenamed.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.AppliedDirectivesAreProperlyRenamedForAllLocations.approved.txt
  src/GraphQL.Tests/Utilities/LinkedSchemaTests.cs
  src/GraphQL/Builders/FieldBuilder.cs
  src/GraphQL/Extensions/SchemaExtensions.cs
  src/GraphQL/Federation/Extensions/FederationFieldMetadataExtensions.cs
  src/GraphQL/Federation/Extensions/FederationInterfaceMetadataExtensions.cs
  src/GraphQL/Federation/Extensions/FederationMetadataExtensions.cs
  src/GraphQL/Federation/Extensions/FederationObjectMetadataExtensions.cs
  src/GraphQL/Federation/FederationHelper.cs
  src/GraphQL/Types/Directives/AppliedDirective.cs
  src/GraphQL/Types/Schema.cs
  src/GraphQL/Utilities/Visitors/RenameImportedDirectivesVisitor.cs
Labels: enhancement, federation

#3964 Add federation builder extension and related schema configuration code
  docs2/site/docs/getting-started/dependency-injection.md
  docs2/site/docs/migrations/migration8.md
  src/GraphQL.ApiTests/net50/GraphQL.approved.txt
  src/GraphQL.ApiTests/net60/GraphQL.approved.txt
  src/GraphQL.ApiTests/netstandard20+netstandard21/GraphQL.approved.txt
  src/GraphQL.Federation.SchemaFirst.Sample1/MyFederatedResolver.cs
  src/GraphQL.Federation.SchemaFirst.Sample1/Program.cs
  src/GraphQL.Federation.SchemaFirst.Sample2/MyFederatedResolver.cs
  src/GraphQL.Federation.SchemaFirst.Sample2/MyPseudoFederatedResolver.cs
  src/GraphQL.Federation.SchemaFirst.Sample2/Program.cs
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.1.0.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.0.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.1.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.2.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.3.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.4.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.5.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.6.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.7.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationCodeFirst.2.8.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationSchemaFirst.1.0.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationSchemaFirst.2.0.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationTypeFirst.1.0.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.FederationTypeFirst.2.0.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.ResolvableEntitiesIdentifiesAliasedKey.NoImported.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.ResolvableEntitiesIdentifiesAliasedKey.WithImported.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.cs
  src/GraphQL/Extensions/SchemaExtensions.cs
  src/GraphQL/Federation/Extensions/FederationGraphQLBuilderExtensions.cs
  src/GraphQL/Federation/FederationHelper.cs
  src/GraphQL/Federation/Types/ContextFieldValueGraphType.cs
  src/GraphQL/Federation/Types/FederationPrintOptions.cs
  src/GraphQL/Federation/Types/FieldSetGraphType.cs
  src/GraphQL/Federation/Types/ServiceGraphType.cs
  src/GraphQL/Federation/Visitors/FederationEntitiesSchemaNodeVisitor.cs
  src/GraphQL/Federation/Visitors/FederationServiceSchemaNodeVisitor.cs
  src/GraphQL/Utilities/Federation/FederatedResolveContext.cs
  src/GraphQL/Utilities/Federation/FederatedSchema.cs
  src/GraphQL/Utilities/Federation/FederatedSchemaBuilder.cs
  src/GraphQL/Utilities/PrintOptions.cs
  src/GraphQL/Utilities/Visitors/RemoveFederationTypesVisitor.cs
Labels: federation

#3921 Code-First & Type-First Federation 2 Support
  .github/workflows/codeql-analysis.yml
  .github/workflows/format.yml
  .github/workflows/test-code.yml
  .github/workflows/test-documentation.yml
  src/Federation/federation-2-supergraph-config.yaml
  src/Federation/federation-request-4.json
  src/Federation/federation-response-4.json
  src/GraphQL.Federation.CodeFirst.Sample3/Data.cs
  src/GraphQL.Federation.CodeFirst.Sample3/GraphQL.Federation.CodeFirst.Sample3.csproj
  src/GraphQL.Federation.CodeFirst.Sample3/Models/Product.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Models/Review.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Models/User.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Program.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Properties/launchSettings.json
  src/GraphQL.Federation.CodeFirst.Sample3/Schema/ProductGraphType.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Schema/QueryGraphType.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Schema/ReviewGraphType.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Schema/Schema3.cs
  src/GraphQL.Federation.CodeFirst.Sample3/Schema/UserGraphType.cs
  src/GraphQL.Federation.CodeFirst.Sample3/appsettings.json
  src/GraphQL.Federation.Tests/BaseCodeFirstGraphQLTest.cs
  src/GraphQL.Federation.Tests/BaseSchemaFirstGraphQLTest.cs
  src/GraphQL.Federation.Tests/BaseTest.cs
  src/GraphQL.Federation.Tests/CodeFirstFederationTest.ServiceTest.approved.txt
  src/GraphQL.Federation.Tests/CodeFirstFederationTest.cs
  src/GraphQL.Federation.Tests/Fixtures/CodeFirstCollectionDefinition.cs
  src/GraphQL.Federation.Tests/Fixtures/CodeFirstFixture.cs
  src/GraphQL.Federation.Tests/Fixtures/SchemaFirstCollectionDefinition.cs
  src/GraphQL.Federation.Tests/Fixtures/SchemaFirstFixture.cs
  src/GraphQL.Federation.Tests/GraphQL.Federation.Tests.csproj
  src/GraphQL.Federation.Tests/Sample3Tests.Entities.approved.txt
  src/GraphQL.Federation.Tests/Sample3Tests.Schema.approved.txt
  src/GraphQL.Federation.Tests/Sample3Tests.cs
  src/GraphQL.Federation.Tests/Sample4Tests.Entities.approved.txt
  src/GraphQL.Federation.Tests/Sample4Tests.Schema.approved.txt
  src/GraphQL.Federation.Tests/Sample4Tests.Users.approved.txt
  src/GraphQL.Federation.Tests/Sample4Tests.cs
  src/GraphQL.Federation.Tests/Schema/External/ExternalResolvableTestDto.cs
  src/GraphQL.Federation.Tests/Schema/External/ExternalResolvableTestType.cs
  src/GraphQL.Federation.Tests/Schema/External/ExternalTestDto.cs
  src/GraphQL.Federation.Tests/Schema/External/SchemaFirstExternalResolvableTestDto.cs
  src/GraphQL.Federation.Tests/Schema/External/SchemaFirstExternalTestDto.cs
  src/GraphQL.Federation.Tests/Schema/External/SchemaFirstFederatedTestDto.cs
  src/GraphQL.Federation.Tests/Schema/Output/DirectivesTestDto.cs
  src/GraphQL.Federation.Tests/Schema/Output/FederatedTestDto.cs
  src/GraphQL.Federation.Tests/Schema/Output/FederatedTestType.cs
  src/GraphQL.Federation.Tests/Schema/TestQuery.cs
  src/GraphQL.Federation.Tests/Schema/TestSchema.cs
  src/GraphQL.Federation.Tests/SchemaFirstFederationTest.ServiceTest.approved.txt
  src/GraphQL.Federation.Tests/SchemaFirstFederationTest.cs
  src/GraphQL.Federation.TypeFirst.Sample4/Data.cs
  src/GraphQL.Federation.TypeFirst.Sample4/GraphQL.Federation.TypeFirst.Sample4.csproj
  src/GraphQL.Federation.TypeFirst.Sample4/Program.cs
  src/GraphQL.Federation.TypeFirst.Sample4/Properties/launchSettings.json
  src/GraphQL.Federation.TypeFirst.Sample4/Schema/Query.cs
  src/GraphQL.Federation.TypeFirst.Sample4/Schema/User.cs
  src/GraphQL.Federation.TypeFirst.Sample4/appsettings.json
  src/GraphQL.Tests/Federation/SchemaTests.DoesNotCreateRepresentationsWhenNoResolvableTypes.approved.txt
  src/GraphQL.Tests/Federation/SchemaTests.cs
  src/GraphQL.sln
Labels: federation
